
<script type="text/javascript" src="//cdn.embed.ly/player-0.1.0.min.js"></script>

<section class="cmp-efe-embed">
    <h3 class="cmp-efe-embed__title">EPiSoDE TItLE</h3>
    <p class="cmp-efe-embed__season-info">
        <span>Season X</span>
        <span>Episode X</span>
    </p>
    <iframe id="omny-embed" src="https://omny.fm/shows/everyday-wealth/episode-37-why-you-should-be-interested-in-interes/embed?style=artwork&image=0&share=0&download=1&description=0&follow=0&foreground=535658&background=ffffff&highlight=c32d37" allow="autoplay; clipboard-write" width="100%" height="180" frameborder="0" title="Episode 37: Why you should be interested in interest rates"></iframe>   
    {{>ImageStandard cornerRadius="top-left" source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
    <p class="cmp-efe-embed__description">Episode description coming from Omny. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur pulvinar justo, eu vestibulum sapien aliquet quis. Proin maximus varius nunc in dictum. Curabitur sed lacus sagittis, faucibus enim nec, dignissim eros. Phasellus vel tincidunt tellus. Cras quis nunc eget sapien ornare eleifend. Proin bibendum quis nulla eu laoreet. Proin eu fringilla magna.
    <br />
    <br />
    <br />
    Suspendisse consectetur sodales posuere. Nam at sem eget arcu mattis vulputate et nec turpis. Praesent metus diam, sodales at fermentum et, ultricies gravida risus. Maecenas et dolor nunc. Etiam sit amet ipsum eleifend erat cursus mattis sed at augue. Aliquam erat volutpat. Vivamus posuere quam magna, et ornare quam vestibulum sed. Donec in dui luctus, pharetra velit vel, tincidunt mi.</p>
    <p class="cmp-efe-embed__detail">Fine print coming from Omny. Vestibulum quis sollicitudin tellus, eget interdum lectus. Maecenas viverra eget mauris in porttitor. Vestibulum vestibulum ex et mauris tincidunt faucibus. Morbi quis urna euismod, ultricies dolor eget, consectetur libero. Nulla consequat nunc venenatis nisl imperdiet ullamcorper. In mi nisi, pellentesque vitae lectus non, dapibus suscipit tortor.

    <br />
    <br />
    <br />
© 2023 Edelman Financial Engines, LLC. Edelman Financial Engines® is a registered trademark of Edelman Financial Engines, LLC. All advisory services provided by Financial Engines Advisors L.L.C., a federally registered investment advisor. Results are not guaranteed.</p>
</section>


{{!-- <div>
  <button id="play">Play</button>
  <button id="pause">Pause</button>
</div> --}}


<script>
    const player = new playerjs.Player();

// play button
document.getElementById('play').addEventListener('click', () => {
  player.play();
})

// pause button
document.getElementById('pause').addEventListener('click', () => {
  player.pause();
})


</script>

