<div class={{variation}}>
    <div class="brightcove">
        <iframe src="https://players.brightcove.net/1053415298001/7oZoOZgDY_default/index.html?videoId=6313667582112&amp;wmode=opaque" allowfullscreen="" allow="encrypted-media" width="100%" height="100%"></iframe>
    </div>
</div>