.brightcove{
    width: rem(514px);
    height: rem(386px);
    
    @include media('<=tablet') {
        width: calc( 100% + 192px);
        height: rem(428px);
        margin-left: -88px;
        margin-bottom: rem(40px);
    }

    @include media("<=phone-m") {
        width: calc( 100% + 60px);
        margin-left: -30px;
    }
}

.full-width .brightcove{
    width: 100%;
}