<sly 
    data-sly-use.model="com.efe.core.models.Bio"
    aria-label="Author Biography" class=" ">
    <section aria-label="Author Biography">   

        <!--     Author Name     -->
        <div class="title cmp-title--heading-03">
            <div class="cmp-title">
                <h1 class="cmp-title__text">${model.name @context='html'}</h1>
            </div>
        </div>     
        
        <!--     Author Title     -->        
        <div class="text cmp-text--body-01">
            <div class="cmp-text">
                <h2>${model.title @context='html'}</h2>
            </div>
        </div>      
        
        <!--     Author Certifications     -->  

        <sly data-sly-test.hasContent="${model.certs}">
            <div class="text cmp-text--body-02">
                <div class="cmp-text">
                    <ul data-sly-list.item="${model.certs}">
                        <li>${item}</li>
                    </ul>
                </div>
            </div>    
        </sly>               

    </section>



</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, classAppend='cmp-plannerbio'}"></sly>