<div class="cmp-social-share">
    <div class="cmp-social-share__images">
        <a href="#" target="_blank" class="cmp-social-share__link">
            <img class="cmp-social-share__default-img" src="./social-share-icons/mail.svg">
             <img class="cmp-social-share__hover-img" src="./social-share-icons/mail-hover.svg">
        </a>
        <a onclick="window.print()" class="cmp-social-share__link">
             <img class="cmp-social-share__default-img" src="./social-share-icons/print.svg">
             <img class="cmp-social-share__hover-img" src="./social-share-icons/print-hover.svg">
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="cmp-social-share__link">
            <img class="cmp-social-share__default-img" src="./social-share-icons/fb.svg">
             <img class="cmp-social-share__hover-img" src="./social-share-icons/fb-hover.svg">

        </a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=" target="_blank" class="cmp-social-share__link">
             <img class="cmp-social-share__default-img" src="./social-share-icons/linkedin.svg">
             <img class="cmp-social-share__hover-img" src="./social-share-icons/linkedin-hover.svg">
        </a>
        <a href="https://twitter.com/share?text=Share" target="_blank" class="cmp-social-share__link">
             <img class="cmp-social-share__default-img" src="./social-share-icons/twitter.svg">
             <img class="cmp-social-share__hover-img" src="./social-share-icons/twitter-hover.svg">
        </a>
    </div>
</div>