<div class="cmp-social-share">
    <div class="cmp-social-share__images">
        <a href="#" target="_blank" class="cmp-social-share__link">
            <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2937_6817)">
                    <path
                        d="M17.0717 9.85001L29.7595 0.240234H2.22266L14.9104 9.85001C15.552 10.3265 16.4296 10.3265 17.0711 9.85001H17.0717Z"
                        fill="#545658" />
                    <path
                        d="M31.8782 1.44141L18.4303 11.6411C17.7282 12.1717 16.8725 12.4587 15.9924 12.4587C15.1123 12.4587 14.2565 12.1717 13.5546 11.6411L0.106597 1.44141C0.0386707 1.62337 0.00247889 1.81574 0 2.0101V17.9179C0 18.9001 0.794284 19.6977 1.77698 19.7018H30.2086C30.6831 19.7038 31.1388 19.5164 31.475 19.1817C31.8111 18.8471 32 18.3919 32 17.9179V2.0241C31.9946 1.8243 31.9534 1.62696 31.879 1.44153L31.8782 1.44141Z"
                        fill="#545658" />
                </g>
                <defs>
                    <clipPath id="clip0_2937_6817">
                        <rect width="32" height="19.52" fill="white" transform="translate(0 0.240234)" />
                    </clipPath>
                </defs>
            </svg>
        </a>
        <a href="#" target="_blank" class="cmp-social-share__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2937_6813)">
                    <path
                        d="M26.4016 6.4V1.6C26.4016 0.717562 25.684 0 24.8016 0H7.20156C6.31912 0 5.60156 0.717562 5.60156 1.6V6.4H26.4016Z"
                        fill="#545658" />
                    <path
                        d="M5.60156 19.2002V30.4002C5.60156 31.2826 6.31912 32.0002 7.20156 32.0002H24.8016C25.684 32.0002 26.4016 31.2826 26.4016 30.4002V19.2002H5.60156ZM22.8016 29.6002H9.20156C8.98043 29.6002 8.80126 29.4213 8.80126 29.1999C8.80126 28.9784 8.98013 28.7996 9.20156 28.7996H22.8016C23.0227 28.7996 23.2019 28.9784 23.2019 29.1999C23.2019 29.4213 23.023 29.6002 22.8016 29.6002ZM22.8016 27.2002H9.20156C8.98043 27.2002 8.80126 27.0213 8.80126 26.7999C8.80126 26.5784 8.98013 26.3996 9.20156 26.3996H22.8016C23.0227 26.3996 23.2019 26.5784 23.2019 26.7999C23.2019 27.0213 23.023 27.2002 22.8016 27.2002ZM22.8016 24.8002H9.20156C8.98043 24.8002 8.80126 24.6213 8.80126 24.3999C8.80126 24.1784 8.98013 23.9996 9.20156 23.9996H22.8016C23.0227 23.9996 23.2019 24.1784 23.2019 24.3999C23.2019 24.6213 23.023 24.8002 22.8016 24.8002ZM22.8016 22.4002H9.20156C8.98043 22.4002 8.80126 22.2213 8.80126 21.9999C8.80126 21.7784 8.98013 21.5996 9.20156 21.5996H22.8016C23.0227 21.5996 23.2019 21.7784 23.2019 21.9999C23.2019 22.2213 23.023 22.4002 22.8016 22.4002Z"
                        fill="#545658" />
                    <path
                        d="M29.6 8H2.4C1.07467 8 0 9.07444 0 10.4V24C0 25.3255 1.07467 26.4 2.4 26.4H4V19.2C4 18.3164 4.71636 17.6 5.6 17.6H26.4C27.2836 17.6 28 18.3164 28 19.2V26.4H29.6C30.9253 26.4 32 25.3255 32 24V10.4C32 9.07444 30.9253 8 29.6 8ZM25.6 12.8H20.3997C20.1786 12.8 19.9994 12.6208 19.9994 12.3997C19.9994 12.1786 20.1782 11.9994 20.3997 11.9994H25.6C25.8211 11.9994 26.0003 12.1786 26.0003 12.3997C26.0003 12.6208 25.8214 12.8 25.6 12.8ZM28.2 13C27.869 13 27.6 12.7312 27.6 12.4C27.6 12.069 27.8688 11.8 28.2 11.8C28.531 11.8 28.8 12.0685 28.8 12.4C28.8 12.7315 28.5312 13 28.2 13Z"
                        fill="#545658" />
                </g>
                <defs>
                    <clipPath id="clip0_2937_6813">
                        <rect width="32" height="32" fill="white" />
                    </clipPath>
                </defs>
            </svg>

        </a>
        <a href="#" target="_blank" class="cmp-social-share__link">
            <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2937_6807)">
                    <path
                        d="M28.2793 0.100586H3.39351C1.48466 0.100586 0 1.54412 0 3.2501V26.3466C0 28.1181 1.48466 29.496 3.39351 29.496H13.0792V19.5226H8.62519V14.7983H13.0792V11.2551C13.0792 7.18702 15.695 4.89047 19.6541 4.89047C21.6337 4.89047 23.6132 5.21855 23.6132 5.21855V9.22108H21.4217C19.2299 9.22108 18.5229 10.4678 18.5229 11.7801V14.7983H23.4012L22.6234 19.5226H18.5229V29.496H28.2793C30.1175 29.496 31.6727 28.1181 31.6727 26.3466V3.2501C31.6727 1.54412 30.1175 0.100586 28.2793 0.100586Z"
                        fill="#535658" />
                </g>
                <defs>
                    <clipPath id="clip0_2937_6807">
                        <rect width="32" height="29.7982" fill="white" transform="translate(0 0.100586)" />
                    </clipPath>
                </defs>
            </svg>


        </a>
        <a href="#" target="_blank" class="cmp-social-share__link">
            <svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.3381 27.6216V9.14542H2.1603V27.6216H8.3381ZM5.21598 6.67368C7.20882 6.67368 8.80308 5.12886 8.80308 3.27506C8.80308 1.48304 7.20882 0 5.21598 0C3.28958 0 1.69531 1.48304 1.69531 3.27506C1.69531 5.12886 3.28958 6.67368 5.21598 6.67368ZM31.3886 27.6216H31.455V17.4875C31.455 12.5441 30.2592 8.71288 24.015 8.71288C21.0258 8.71288 19.033 10.2577 18.1694 11.679H18.103V9.14542H12.1909V27.6216H18.3687V18.4762C18.3687 16.0663 18.8337 13.7799 22.0222 13.7799C25.2108 13.7799 25.2772 16.4988 25.2772 18.6616V27.6216H31.3886Z"
                    fill="#535658" />
            </svg>
        </a>
        <a href="#" target="_blank" class="cmp-social-share__link">
            <svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2937_6811)">
                    <path
                        d="M27.4372 6.2842C28.582 5.4855 29.6124 4.52707 30.4137 3.40889C29.3835 3.83486 28.1814 4.15433 26.9793 4.26083C28.2387 3.56862 29.1545 2.50369 29.6124 1.17253C28.4676 1.81149 27.1512 2.29071 25.8345 2.55694C24.6897 1.43876 23.1443 0.799805 21.427 0.799805C18.1072 0.799805 15.4169 3.3024 15.4169 6.3907C15.4169 6.81667 15.4741 7.24264 15.5886 7.66861C10.6087 7.40238 6.14396 5.16603 3.16747 1.81149C2.6523 2.61019 2.36611 3.56862 2.36611 4.63356C2.36611 6.55043 3.39643 8.25432 5.0564 9.26601C4.08331 9.21276 3.11024 8.99977 2.30886 8.5738V8.62705C2.30886 11.3426 4.36951 13.579 7.11703 14.1115C6.65911 14.2179 6.08672 14.3244 5.57155 14.3244C5.17088 14.3244 4.82743 14.2712 4.42675 14.2179C5.17088 16.4543 7.40324 18.0516 10.0363 18.1049C7.97564 19.5958 5.39984 20.5011 2.59507 20.5011C2.0799 20.5011 1.62198 20.4478 1.16406 20.3945C3.79712 21.992 6.94532 22.8971 10.3797 22.8971C21.427 22.8971 27.4372 14.4309 27.4372 7.02964C27.4372 6.76342 27.4372 6.55043 27.4372 6.2842Z"
                        fill="#535658" />
                </g>
                <defs>
                    <clipPath id="clip0_2937_6811">
                        <rect width="32" height="22.4" fill="white" transform="translate(0 0.799805)" />
                    </clipPath>
                </defs>
            </svg>
        </a>
    </div>
</div>