.cmp-social-links {
  &__images {
    @include flexbox($gap: rem(13), $flex-direction: row, $flex-wrap: true);
  }

  &__image {
    width: rem(32);
    height: rem(32);
  }

  @media screen and (min-width: $lg) {
    position: absolute;
    right: 48px;
    top: 50px;
  }
}


