<link rel="icon" type="image/png" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/favicon-32x32.png"/>
<link rel="icon" type="image/png" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/android-chrome-192x192.png" sizes="192x192"/>
<link rel="icon" type="image/png" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/android-chrome-512x512.png" sizes="512x512"/>

<link rel="shortcut icon" type="image/x-icon" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/favicon.ico"/>

<link rel="apple-touch-icon" type="image/png" href="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/apple-touch-icon.png" sizes="128x128"/>

<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="msapplication-TileImage" content="/etc.clientlibs/efe/clientlibs/clientlib-site/resources/images/icons/android-chrome-192x192.png"/>
