
<!-- Section Block Map Placement -->
<sly data-sly-use.model="com.efe.core.models.MapDirection" data-sly-test="${properties.placement == 'section-block'}">
    <sly data-sly-use.model="com.efe.core.models.MapDirection" data-sly-test="${model.showMap}">
        <script data-sly-test="${model.jsonLd}" type="application/ld+json">
            ${model.jsonLd @context ='unsafe'}
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=${model.mapKey @ context='scriptToken'}&v=weekly"></script>
        <section id="${model.id}"  data-component="location-map-directions" class="cmp-location--map-directions" data-city="${model.locationResponse.city}" data-latitude="${model.locationResponse.latitude}" data-longitude="${model.locationResponse.longitude}" data-zoomlevel="${model.zoomLevel}">
            <div class="cmp-location--map-directions__map">
                <div id="map_canvas" style="position:absolute;height:100%;width:100%;"></div>
            </div>
            <div class="cmp-location--map-directions__items">
                <div class="cmp-location--map-directions__items--item">
                    <h2>${model.heading}</h2>
                    <p data-sly-test="${model.locationResponse.address1}">${model.locationResponse.address1}</p>
                    <p data-sly-test="${model.locationResponse.address2}">${model.locationResponse.address2}</p>
                    <p><span data-sly-test="${model.locationResponse.city}">${model.locationResponse.city}, </span><span>${model.locationResponse.state}</span> <span>${model.locationResponse.zip}</span></p>
                    <a class="cmp-location--map-directions__action-link" href="${model.googleDirectionPath}">${model.directionButtonLabel}</a>
                    <p class="cmp-location--map-directions__btn-below-text">
                      ${model.reviewQuestion} <a href="${model.locationResponse.googleReviewLink}">${model.reviewLinkLabel}</a>
                    </p>
                </div>
            </div>
        </section>
    </sly>
</sly>

<!-- Hero Map Placement -->
<sly data-sly-use.model="com.efe.core.models.MapDirection" data-sly-test="${properties.placement == 'hero'}">
    <sly data-sly-use.model="com.efe.core.models.MapDirection" data-sly-test="${model.showMap}">
        <script data-sly-test="${model.jsonLd}" type="application/ld+json">
            ${model.jsonLd @context ='unsafe'}
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=${model.mapKey @ context='scriptToken'}&v=weekly"></script>
        <section id="${model.id}"  data-component="location-map-directions" class="cmp-location--map-directions hero-placement" data-city="${model.locationResponse.city}" data-latitude="${model.locationResponse.latitude}" data-longitude="${model.locationResponse.longitude}" data-zoomlevel="${model.zoomLevel}">
            <div class="map-canvas-container">
                <div id="map_canvas" style="position:absolute;height:100%;width:100%;"></div>
            </div>
            <div class="cmp-location--map-directions__items">
                <div class="cmp-location--map-directions__items--item">
                    <div class="address-container">
                        <p data-sly-test="${model.locationResponse.address1}">${model.locationResponse.address1}</p>
                        <p data-sly-test="${model.locationResponse.address2}">${model.locationResponse.address2}</p>
                        <p><span data-sly-test="${model.locationResponse.city}">${model.locationResponse.city}, </span><span>${model.locationResponse.state}</span> <span>${model.locationResponse.zip}</span></p>                        
                    </div>                        
                    <a class="cmp-location--map-directions__action-link" href="${model.googleDirectionPath}">${model.directionButtonLabel}</a>
                </div>
            </div>
        </section>
    </sly>
</sly> 



