<div class="container responsivegrid" id="efe-global-nav-header">
    <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light">
    {{! --------------------- 1920 CONTAINER  --------------------- }}
        <div class="container responsivegrid ">
            <div id="container-99d779a4e6" class="cmp-container cmp-container--unset cmp-container--1920">

                {{! --------------------- CLICK TO CALL  --------------------- }}
                <div class="button cmp-button--footer-01 cmp-button--efe-gray-new">
                    <a id="button-a1f53d50c2" " data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="tel:+18337526333&quot;">
                        <span class="cmp-button__text">(833) PLAN-EFE</span>
                    </a>
                </div>

                {{! --------------------- LOG IN  --------------------- }}
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" " data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="https://login.financialengines.com/">
                        <span class="cmp-button__text">Log in</span>
                    </a>
                </div>

                {{! --------------------- SEARCH  --------------------- }}
                <div class="image cmp-image--search cmp-image--small">
                    <div
                        data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                        id="image-72c95dc7ac"
                        data-cmp-data-layer="{&quot;image-72c95dc7ac&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;https://www.aemcomponents.dev/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;}}}"
                        class="cmp-image"
                        itemscope=""
                        itemtype="http://schema.org/ImageObject"
                    >
                        <a
                        class="cmp-image__link"
                        data-cmp-clickable=""
                        href="search()"
                        >
                        <img
                            src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E"
                            loading="lazy"
                            class="cmp-image__image"
                            itemprop="contentUrl"
                            alt=""
                            title=""
                        />
                        </a>
                        <meta itemprop="caption" content="Snowy mountain glacier" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>