<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASNIvr770pL6OphL5ZgBetnoPrcSvgbls&v=weekly" async defer></script>
<section data-component="location-map-directions" data-latitude="39.828175" data-longitude="-98.5795" data-zoomlevel="5" class="cmp-location--map-directions">
    <div class="cmp-location--map-directions__map">
        <div id="map_canvas" style="position:absolute;height:100%;width:100%;"></div>
    </div>
    <div class="cmp-location--map-directions__items">
        <div class="cmp-location--map-directions__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a class="cmp-location--map-directions__action-link" id="teaser-3a8e3acfdb-cta-641eff4586" data-cmp-data-layer="{&quot;teaser-3a8e3acfdb-cta-641eff4586&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/map-directions/cta&quot;,&quot;dc:title&quot;:&quot;Call To Action&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/teaser.html&quot;}}" data-cmp-clickable="" href="">Driving directions</a>
            <p>
               Already work with us? <a href="#">Leave a review</a>
            </p>
        </div>
    </div>
</section>
