.cmp-location--map-directions {

    &.hero-placement {
        grid-template-columns: 1fr;
        height: 100%;
        position: relative;
        min-height: 600px;

        .map-canvas-container {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .cmp-location--map-directions__items {
            min-height: rem(120);
            background-color: $efe-gray-mid;
            padding: 20px 50px;
            position: absolute;
            bottom: 0;
            width: 100%;
            .cmp-location--map-directions__items--item {

                @include flexbox(
                    $flex-direction: row,
                    $justify-content: space-between,
                    $gap: 14px,
                    $align-items: center,
                    $flex-wrap: wrap,
                );
                margin-bottom: 0;
                p {
                    font-size: rem(20);
                    line-height: 120%;
                }
            }
            p.cmp-location--map-directions__btn-below-text {
                display: none;
            }
            .cmp-location--map-directions__action-link {
                background-color: #efefef;
                margin: 0;
                text-align: center;

            }
        }
    }
    @include media("<tablet-lg") {
        background: $efe-gray-light;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "map"
        "result";
    @include media("<tablet-lg") {
        @include flexbox($flex-direction: column);
        position: relative;
    }
    &__map {
        @include media("<tablet-lg") {
            margin-top: 80px
        }
        grid-area: map;
        padding-bottom: clamp(376px, 100%, 600px);
        width: 100%;
        height: 100%;
        position: relative;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &__items {
        background: $efe-gray-light;
        padding: 161px 120px;
        @include media("<tablet-lg") {
            padding: 30px 26px;
            max-height: unset;
        }
        &--item {
            margin-bottom: 40px;
            h2 {
                @include heading-04;
                margin-bottom: 30px;
                @include media("<tablet-lg") {
                    position: absolute;
                    top: 20px;
                    margin-bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            p {
                @include subhead-02;
                white-space: nowrap;
                &.cmp-location--map-directions__btn-below-text {
                    @include body-02;
                    a {
                        @include body-02-link-red;;
                        margin-top: 15px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &__action-link {
        @include cta-secondary;
        margin:30px 0;
    }
}
