.fepage {
    .sponsor-value-hide {
        display: none;
    }

    .unbounce-form {
        display: none;
    }

    .edit-view {
        .sponsor-value-hide {
            display: inline;
        }

        .unbounce-form {
            display: inline;
        }
    }

    .unbounce-footer-modal {
        .cmp-modal {
            text-align: left;
            padding: 20px;
            * {
                font-family: $font-nimbus-pro;
            }
        }
    }
    .loader {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 999;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid white;
        border-radius: 50%;
        border-top: 16px solid $red-primary;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    #fe-call-me-back .fe-call-me-back-header {
        background-color: var(--form-title-bg-color) !important;
        color: var( --form-title-color);
    }
    #fe-call-me-back .fe-form__button--outline {
        background-color: var(--form-title-bg-color) !important;
        color: var( --form-title-color);
    }
    #fe-call-me-back #btn-call-me-back, .cmp-form-button, .fe-form__button {
        background-color: var(--primary-button-bg-color) !important;
        border-radius: var(--primary-button-border-radius);
    }

    .cmp-button--button-primary button{
        background-color: var(--primary-button-bg-color) !important;
        border-radius: var(--primary-button-border-radius);
    }
    .cmp-list--footer, form {
        a,
        .cmp-list__item-title {
            color: var(--footer-links-color) !important;
        }
    }
    .form-title {
        background: #086b9a;
    }
    form.unbounce-form {
        border: 1px solid #ddd;
        max-width: 580px;
        padding: 20px 30px;
    }
    .unbounce-form .cmp-form-text {
        margin-bottom: 10px;
    }
}
