<section class="sponsor-header {{rkId}} fepage fe-load-data"
    data-page-frame-api="https://www.feitest.com/api/v1/pageframe/?namespace=">
    {{#if subadvised}}
    {{>FeHeader
     subadvised=true
    }}
    {{else}}
    {{>FeHeader
     subadvised=false
    }}
    {{/if}}
    {{>HeroTeaser
     variant="hero"}}
     <span class="sponsor-value-hide supportPhoneText">{supportPhoneText}</span>
     <p><span class="SPONSOR_NAME sponsor-value-hide">{SPONSOR_NAME}</span></p>
    {{>CallBackForm}}
    {{>FeMembershipDashboardButton}}
    <section class="sponsor-footer">{{>Footer}}</section>
</section>