<div class="cmp-container--bg-fe-dark padding-default">
</div>

<div class="cmp-container--bg-fe-yellow padding-default">
    {{>CTA
    variant="button-primary"
    link="/connect-with-a-planner/"
    text="connect with a planner"
    position="center"
    }}
</div>

