.cmp-tabs--horizontal {
    .cmp-tabs {
        @include media("<=phone-m") {
            padding: 24px;
        }
        &__tablist {
            border: 0;
            border-bottom: 1px solid $efe-gray-mid;
            @include media("<=phone-m") {
                display: flex;
                flex-direction: column;
                border-bottom: 0;
            }
        }
        &__tab {
            &:first-child {
                margin-left: 48px;
            }
            margin: 0 30px;
            padding: 12px 0;
            @include subhead-01;
            color: $efe-gray-new;
            min-width: fit-content;
            @include media("<=phone-m") {
                &:first-child {
                    margin-left: 0;
                }
                margin: 0;
                font-size: rem(20);
                max-width: fit-content;
            }
        }
        &__tab--active {
            background: none;
            color: $efe-gray-primary;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            border-bottom: 3px solid $efe-red-primary;
        }
        &__tabpanel {
            margin-top: 10px;
        }
    }
}
