<div class="minimal-header">
    <div id="unbounce-properties" 
             data-frame-api="https://www.feitest.com/api/v1/pageframe/?namespace=landing-flow"
             data-aggregate-api="https://www.feitest.com/api/v1/planowners/{Recordkeeper}/aggregate"
             data-variables='[{"sponsorName":"header.sponsorName"}, {"supportHour":"header.supportHour"},{"supportPhone":"header.supportPhone"},{"supportPhoneText":"header.supportPhoneText"}]'>
        </div>
    <header class="header {{#if with-two-logos}} minimal-header--with-two-logos{{/if}}" data-component="header">
        {{! --------------------- NAV HEADER --------------------- }}
        <div class="container responsivegrid" id="efe-global-nav-header">
            <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light">
                {{! --------------------- 1920 CONTAINER --------------------- }}
                <div class="container responsivegrid">
                    <div id="container-99d779a4e6"
                        class="cmp-container cmp-container--unset cmp-container--1920  cmp-container--width-1920 efe-nav-header">

                        {{! --------------------- CLICK TO CALL --------------------- }}
                        {{>FooterButton
                        variant="footer-01"
                        text="call us at (833) PLAN-EFE"
                        color="efe-gray-new"
                        link="tel:+18337526333"
                        }}
                        <div class="cmp-text">
                            <p>
                             <span class="sponsor-value-hide supportPhoneText">{supportPhoneText}</span>
                             <span class="sponsor-value-hide supportPhone">{supportPhone}</span>,
                              <span class="sponsor-value-hide supportHour">{supportHour}</span>
                            </p>
                        </div>
                          <div class="cmp-text">
                            <p>
                             <span class="sponsor-value-hide supportPhoneText">{supportPhoneText}</span>
                             <span class="sponsor-value-hide supportPhone">{supportPhone}</span>,
                              <span class="sponsor-value-hide supportHour">{supportHour}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{! --------------------- NAV MAIN --------------------- }}
        <div class="container responsivegrid" id="">
            <div id="container-99d779a4e6" class="cmp-container cmp-container--white">
                <div class="container responsivegrid" id="efe-nav-main">
                    <div id="container-99d779a4e6"
                        class="cmp-container--white cmp-container--unset cmp-container--1920 cmp-container--width-1920 cmp-container--26">

                        {{! --------------------- LINKED EFE LOGO --------------------- }}
                        {{>EfeLogo
                        link="https://www.edelmanfinancialengines.com/"
                        variant="efe-logo-primary"
                        altText="Edelman Financial Engines Logo"
                        size="small"
                        titleText="Edelman Financial Engines"
                        }}
                        <div class="minimal-header__vertical-line"></div>
                        {{#if with-two-logos}}
                       <div class="image cmp-image--efe-logo-primary sponsor-logo cmp-image--small" id="">
                              <div data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" id="image-72c95dc7ac" data-cmp-data-layer="{&quot;image-72c95dc7ac&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;https://www.aemcomponents.dev/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;}}}" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a class="cmp-image__link" data-cmp-clickable="" href="https://www.edelmanfinancialengines.com/">
                                  <img src="https://www.edelmanfinancialengines.com/wp-content/themes/EFE_Divi_Child_Theme/images/logo-official.svg" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="Edelman Financial Engines Logo" title="Edelman Financial Engines">
                                </a>
                                <meta itemprop="caption" content="Snowy mountain glacier">
                              </div>
                            </div>
                        {{/if}}
                        <button id="nav-hamburger" aria-expanded="false" aria-label="main menu"
                            class="top-bar__hamburger-button" data-analytics-trigger="cta-hamburger">
                            <svg id="top-hamburger-line" width="24px" height="3px" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--top">
                                <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0"
                                    class="top-bar__hamburger-button-line top-bar__hamburger-button-line--top"></line>
                            </svg>
                            <svg id="middle-hamburger-line" width="24px" height="3px" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--middle">
                                <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0"
                                    class="top-bar__hamburger-button-line top-bar__hamburger-button-line--top"></line>
                            </svg>

                            <svg id="bottom-hamburger-line" width="24px" height="3px" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--middle">
                                <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0"
                                    class="top-bar__hamburger-button-line top-bar__hamburger-button-line--bottom">
                                </line>
                            </svg>
                        </button>

                        <div class="container responsivegrid" id="nav-list-cta-group" style="display: none">

                            <div id="container-99d779a4e6"
                                class="cmp-container cmp-container--white cmp-container--unset cmp-container--unset ul-cta-group">

                                {{! --------------------- CTA --------------------- }}
                                {{>CTA
                                variant="button-primary"
                                link="/connect-with-a-planner/"
                                text="connect with a planner"
                                position="center"
                                }}
                            </div>

                            {{! --------------------- NAV HEADER --------------------- }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>