.cmp-languagenavigation--country-list {
    .cmp-languagenavigation {
        margin-top: 28px;
        > .cmp-languagenavigation__group {
            column-count: 4;
            column-gap: rem(60);

            .cmp-languagenavigation__group {
                li {
                    margin-bottom: 8px;
                    a{
                        font-size: rem(18);
                    }
                }
            }


            @include media("<=tablet-lg") {
                column-count: 3;
            }

            @media screen and (max-width: $md) {
                column-count: 2;
                gap: rem(30);
            }
            @include media("<=phone-m") {
                column-count: 1;
            }
        }

        &__item {

            &-title {
                margin-bottom: 8px;
                display: inline-block;
                a {
                    font-size: rem(20);
                    &:hover {
                        text-decoration: 1px solid $efe-red-primary underline;
                        color: $efe-red-primary;
                    }
                }
            }

            &--level-0 {
                @include subhead-02;
                break-inside: avoid;
                margin-bottom: 30px;
                font-weight: 400;
                min-width: 205px;
            }

            &--level-1 a {
                @include body-03;
                font-weight: 400;

                &:hover {
                    text-decoration: 1px solid $efe-red-primary underline;
                    color: $efe-red-primary;
                }
            }
        }
    }
    &.cmp-languagenavigation--enable-last-title {
        .cmp-languagenavigation {
            &__item {
                &--level-0 {
                    &:last-child {
                        .cmp-languagenavigation__item-title {
                            display: none;
                        }
                        .cmp-languagenavigation__item-link {
                            @include subhead-02;
                            text-transform: uppercase;
                            &:hover {
                                text-decoration: none;
                                color: $gray-deep-charcoal;
                            }
                        }
                    }
                }
            }
        }
    }
}
