.cmp-languagenavigation--country-list {
    .cmp-languagenavigation {
        > .cmp-languagenavigation__group {
            column-count: 4;
            column-gap: rem(60);

            @include media("<=tablet-lg") {
                column-count: 3;
            }
            @include media("<=phone-m") {
                column-count: 2;
                column-gap: rem(30);
            }
        }

        &__item {
            &-title {
                margin-bottom: 8px;
                display: inline-block;
            }

            &--level-0 {
                @include subhead-02;
                break-inside: avoid;
                margin-bottom: 30px;
                font-weight: 400;
                min-width: 205px;
            }

            &--level-1 a {
                @include body-03;
                font-weight: 400;

                &:hover {
                    text-decoration: 1px solid $efe-red-hover underline;
                    color: $efe-red-hover;
                }
            }
        }
    }
    &.cmp-languagenavigation--enable-last-title {
        .cmp-languagenavigation {
            &__item {
                &--level-0 {
                    &:last-child {
                        .cmp-languagenavigation__item-title {
                            display: none;
                        }
                        .cmp-languagenavigation__item-link {
                            @include subhead-02;
                            text-transform: uppercase;
                            &:hover {
                                text-decoration: none;
                                color: $gray-deep-charcoal;
                            }
                        }
                    }
                }
            }
        }
    }

    #single-state-selected {
        max-width: rem(1273);
        @include flexbox(
            $flex-direction: row
        );

        h2 {
            flex: 0 0 auto;
            @include body-01;
            font-size: rem(24);
            font-weight: 400;
            min-width: rem(169);

        }
        a {
            font-size: rem(20);
            color: $efe-red-primary;
            transition: $std-transition;
            position: relative;
            &:hover {
                color: $efe-red-hover !important;
                transition: $std-transition;
                text-underline-offset: 4px;
            }
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 16px;
                background-color: $efe-gray-mid;
                position: absolute;
                right: -13px;
                bottom: 2px;
            }
        }

        .cmp-languagenavigation {
            display: inline-block;
            margin-top: 0 !important;
            .cmp-languagenavigation__group {
                margin-left: 12px;
                @include flexbox(   
                    $justify-content: left,
                    $flex-direction: row,
                    $flex-wrap: wrap,
                    );
                    column-gap: 25px;

                ul {
                    li {
                        height: rem(29);
                        &:last-of-type {
                            a{
                                &:after{
                                   background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $lg) {
            @include flexbox(
                $flex-direction: column,
            );

            h2 {
                margin-bottom: 10px;
            }

            .cmp-languagenavigation {
                .cmp-languagenavigation__group {
                    column-gap: 22px;
                    margin-left: 0;
                    a {
                        &:after {
                            right: -11px;
                        }
                    }
                }
            } 
        }
    }
}
