.cmp-languagenavigation--newspaper {
    .cmp-languagenavigation {
        >.cmp-languagenavigation__group {
            column-count: 4;
            column-gap: rem(30);

            @include media(">tablet", "<desktop") {
                column-count: 3;
            }
            @include media(">phone-m", "<tablet") {
                column-count: 2;
            }
            @include media(">phone-sm", "<phone-m") {
              column-count: 1;
            }
        }

        &__item {
            &-title {
                text-transform: uppercase;
            }

            &--level-0 {
                @include subhead-02;
                break-inside: avoid;
                margin-bottom: 30px;
            }

            &--level-1 a {
                @include body-03;
                font-weight: 400;

                &:hover {
                    text-decoration: 1px solid $efe-red-hover underline;
                    color: $efe-red-hover;
                }
            }
        }
    }
}
