.fepage {
    .cmp-list--footer, form {
        a,
        .cmp-list__item-title {
            color: var(--footer-links-color) !important;
            font-family: var(--font-family);
        }
    }
    .fe-footer-modal {
        .cmp-modal {
            text-align: left;
            padding: 20px;
            * {
                font-family: $font-nimbus-pro;
            }
        }
    }
}