<div class="container responsivegrid cmp-image-collage {{#if variation}}cmp-image-collage--{{variation}}{{/if}} 
         {{#if variant}}cmp-image-collage--{{variant}}{{/if}} {{#if border-top-left}}cmp-image-collage--left-large cmp-image-collage--border-top-left{{/if}}">
    <div id="container-97c410ebe3" class="cmp-container">
        {{>ImageStandard source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
        {{>ImageStandard source="https://fastly.picsum.photos/id/193/3578/2451.jpg?hmac=M5yoazhwdwMa_27rC5-S50SNFvCy4Kni0wXoa6iVF0g"}}
        {{>ImageStandard source="https://fastly.picsum.photos/id/29/4000/2670.jpg?hmac=rCbRAl24FzrSzwlR5tL-Aqzyu5tX_PA95VJtnUXegGU"}}
    </div>
</div>
