<section class="cmp-image-collage {{#if variation}}cmp-image-collage--{{variation}}{{/if}} 
         {{#if variant}}cmp-image-collage--{{variant}}{{/if}} {{#if border-top-left}}cmp-image-collage--border-top-left{{/if}}">
    <ul class="cmp-collage">
        <li class="cmp-collage__item1">
            {{>ImageStandard source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
        </li>
        <li class="cmp-collage__item2">
            {{>ImageStandard source="https://fastly.picsum.photos/id/193/3578/2451.jpg?hmac=M5yoazhwdwMa_27rC5-S50SNFvCy4Kni0wXoa6iVF0g"}}
        </li>
        <li class="cmp-collage__item3">
            {{>ImageStandard source="https://fastly.picsum.photos/id/29/4000/2670.jpg?hmac=rCbRAl24FzrSzwlR5tL-Aqzyu5tX_PA95VJtnUXegGU"}}
        </li>
    </ul>
</section>
