<div class="columncontrol gap-default aem-GridColumn aem-GridColumn--default--12">
   <div id="columncontrol-c55b307cd6" class="aem-Grid aem-Grid--12">
      <!-- Here we can add class -->
      <div class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--phone--12 aem-GridColumn--default--6">
         <div class="container responsivegrid card-1">
            <div id="container-f44ebfce85" class="cmp-container">
               <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                  <div class="title cmp-title--heading-02 aem-GridColumn aem-GridColumn--default--12">
                     <div id="title-f16b900e22" class="cmp-title">
                        <h2 class="cmp-title__text">Manage it yourself with Online Advice.</h2>
                     </div>
                  </div>
                  <div class="text aem-GridColumn aem-GridColumn--default--12">
                     <div id="text-34e068c6cf" class="cmp-text">
                        <p>Unlimited access to powerful retirement planning tools. Available through your [Sponsor Name] retirement plan at no additional cost to you</p>
                     </div>
                  </div>
                  <div class="button cmp-button--button-primary aem-GridColumn aem-GridColumn--default--12">
                     <a id="button-f611c854f8" class="cmp-button" href="#">
                     <span class="cmp-button__text">Get Started</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--phone--12 aem-GridColumn--default--6">
         <div class="container responsivegrid card-2">
            <div id="container-d3a12428f3" class="cmp-container">
               <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                  <div class="title cmp-title--heading-02 aem-GridColumn aem-GridColumn--default--12">
                     <div id="title-95f1949d80" class="cmp-title">
                        <h2 class="cmp-title__text">Questions</h2>
                     </div>
                  </div>
                  <div class="text aem-GridColumn aem-GridColumn--default--12">
                     <div id="text-4c16061fb5" class="cmp-text">
                        <p>Call 844.487.5595 and select the Investment Advice option in the men</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>