<section data-component="custom-video" class="cmp-custom-video" data-video-id="1f6JKqz0JSo" data-thumbnail-image="https://fastly.picsum.photos/id/866/500/500.jpg?hmac=FOptChXpmOmfR5SpiL2pp74Yadf1T_bRhBF1wJZa9hg">
    <div id="player"></div>
    <div id="thumbnail_container" class="thumbnail_container">
        <img class="thumbnail" id="thumbnail" />
    </div>
    <a class="start-video">
        <img src="./icons/play-default.svg" alt="play button" />
    </a>
</section>
