<div>
  <h2>Multiple video example:</h2> 
  <h3>Video 1: With border-radius</h3> 
  <section data-component="custom-video" class="cmp-custom-video cmp-custom-video--curved" data-video-id="1f6JKqz0JSo" data-thumbnail-image="https://fastly.picsum.photos/id/866/500/500.jpg?hmac=FOptChXpmOmfR5SpiL2pp74Yadf1T_bRhBF1wJZa9hg" 
    data-efe-layer='{"event":"video_action","video":{"videoTimed":{"publisher":"","primaryAssetViewDetails ":{"videoName":""},"starts":{"value":0},"completes":{"value":0}}}}'>
    <div class="player"></div>
    <div class="thumbnail_container">
      <img class="thumbnail" />
    </div>
    <a class="start-video">
      <img src="./icons/play-default.svg" alt="play button" />
    </a>
  </section>
  <h3>Video 2:</h3> 
  <section data-component="custom-video" class="cmp-custom-video" data-video-id="HAlIWRcldoc" data-thumbnail-image="https://fastly.picsum.photos/id/866/500/500.jpg?hmac=FOptChXpmOmfR5SpiL2pp74Yadf1T_bRhBF1wJZa9hg" data-efe-layer='{"event":"video_action","video":{"videoTimed":{"publisher":"","primaryAssetViewDetails ":{"videoName":"Second Video"},"starts":{"value":0},"completes":{"value":0}}}}'>
    <div class="player"></div>
    <div class="thumbnail_container">
      <img class="thumbnail" />
    </div>
    <a class="start-video">
      <img src="./icons/play-default.svg" alt="play button" />
    </a>
  </section>
</div>
