<div class="unbounce-form">
    <div class="unbounce-form-promo">

    </div>
    <div class="title cmp-title--heading-04 form-title">
        <div id="title-e556664e57" class="cmp-title">
            <h2 class="cmp-title__text" style=" color: white !important;">Schedule your complimentary retirement review by July 2.</h2>
        </div>
    </div>
    <form id="unbounce-call-me-form" class="unbounce-form">
        <div class="cmp-form-text cmp-form-text--efe-default cmp-form-text--default">
            <label for="form-text-991299145">First Name</label>
            <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="firstName"
                placeholder="First Name" name="firstName">
        </div>
        <div class="cmp-form-text cmp-form-text--efe-default cmp-form-text--default">
            <label for="form-text-991299145">Last Name</label>
            <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="lastName"
                placeholder="Last Name" name="lastName">
        </div>
        <div class="cmp-form-text cmp-form-text--efe-default cmp-form-text--default">
            <label for="form-text-991299145">Email</label>
            <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="email"
                placeholder="Email" name="email">
        </div>

        
        <div class="cmp-form-text cmp-form-text--efe-default cmp-form-text--default">
            <label for="form-text-991299145">Phone Number</label>
            <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="phone"
                placeholder="Phone Number" name="phone">
        </div>

        <span class="cmp-text--caption">Please confirm your information above and an advisor will contact you.</span>

        <input type="hidden" id="initiationPoint" name="initiationPoint" value="Wellbeing-Q2-2021"/>

        <button type="SUBMIT" id="form-button-1348159233" class="cmp-form-button" name="submit-demo-form-1">Have an Advisor Contact Me</button>

        <p class="cmp-text--body-02">Or you can schedule an appointment instead.</p>

        <div class="button cmp-button--button-primary">
            <a href="#" class="cmp-button" name="submit-demo-form-1" style="    border: 2px solid #b22932;background: #FFFFFF;color: #b22932;">Schedule an appointment</a>
        </div>

    </form>
    <div class="fe-form__signup-disclosures">

    </div>
</div>

<script type="text/javascript">

    document.getElementById("unbounce-call-me-form").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent default form submission
    
      // Call custom function to handle form submission
      handleFormSubmit();
    });
    
    function handleFormSubmit() {
      // Retrieve form data
      var firstName = document.getElementById("firstName").value;
      var lastName = document.getElementById("lastName").value;
      var email = document.getElementById("email").value;
      var phone = document.getElementById("phone").value;
      var initiationPoint = document.getElementById("initiationPoint").value;
     
      // Construct JSON object
      var data = {
        firstName: firstName,
        lastName: lastName,
        email: email,
        phone:phone,
        initiationPoint: initiationPoint
      };
    
      // Send data as JSON using fetch()
      fetch("https://www.feitest.com/api/v1/user/clientServices/contactRequest?type=adviser_callback&initiationPoint="+initiationPoint, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(result => {
          // Handle response from the server
          console.log(result);
          
        })
        .catch(error => {
          // Handle error
          console.error(error);
        });
    }
</script>