<div data-sly-test = "${wcmmode.edit}">ECScheduler Component</div>
<sly data-sly-use.ecschedule="com.efe.core.models.ECScheduler"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <script src="${ecschedule.ECEmbedURL}"></script>
    <div class="efe-ec-scheduler" data-container-id="${ecschedule.containerID @ context='attribute'}">
        <div id="${ecschedule.containerID @ context='attribute'}"></div>
    </div>
    <script>
        window.efeSelfSchedulerEc.inject({ id: "${ecschedule.containerID @ context='attribute'}" });
    </script>
</sly>