.cmp-article-details {
    padding: rem(48) 0;

    .max-width {
        max-width: rem(704);
        margin: 0 auto;
    }

    .cmp-title--heading-03 {
        margin-bottom: 22px;
    }

    &__published-date, &__authors-by { 
        margin-top: 32px;
        text-align: center; 
            .article-publish-date {
                letter-spacing: rem(1);
            }
    }

    &__authors-by {
        margin-bottom: 64px !important;
    }

    &__summary {
        .cmp-text{
             ul {
                padding: 0;
             }
             p {
                @include subhead-00;
                margin-bottom: 20px;
             }

        }

    }

    &__summary, &__seperator, &__body {
        width: 100%;
        max-width: rem(704);
        margin: 0 auto;
    }

    &__seperator {
        .cmp-separator {
            margin: 40px 0;
        }
    }

    &__summary {
        h1,h2,h3 {
            @include subhead-00;
            margin-bottom: rem(20);
        }
        p {
            @include body-03;
        }
    }

    &__body {
        .title {
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
            h2, h3, h4, h5, h6 {
                margin-top: 32px !important;
                margin-bottom: 16px !important;
                padding-bottom: 0px !important;
            }
        }

        .cmp-text--stats-01, .cmp-text--stats-02, .cmp-text--stats-02, .cmp-text--stats-02-underline, .cmp-text--heading-01, .cmp-text--heading-02, .cmp-text--heading-03, .cmp-text--heading-04, .cmp-text--stats-02-underline, .cmp-text--subhead-01, .cmp-text--subhead-02 {
            margin-top: 32px !important;
            margin-bottom: 16px !important;
            padding-bottom: 0px !important;
            display: block;
            * {
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;
            }
        }

        .cmp-text {
            ul {
                padding-left: 0;
                list-style-position: outside;
                li {
                    padding-left: 0;
                    a{
                       color: $efe-gray-primary;
                       @include buildLink;
                    }
                }
            }
            ol {
                li {
                    a{
                        color: $efe-gray-primary;
                        @include buildLink;
                    }
                }
            }
        }
    }

    &__tags {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &__padding-108 {
        @include media('>tablet-lg') {
            padding: 0 rem(196);
        }
        @include media('<tablet-lg') {
            padding: 0 rem(26);
        }
    }
    .cmp-image--top-left {
        padding-top: 32.5%;
        width: 100%;
        height: 100%;
        max-height: rem(440);
        max-width: rem(1096);
        margin: 0 auto 30px;
        position: relative;
        min-height: rem(202);
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            bottom:0;
            left: 0;
            right: 0;
            object-fit: cover;
        }
    }
    &__disclaimar {
        margin-bottom: 20px;
        * {
            @include body-03;
        }
        p {
            margin-bottom: 20px;
        }
    }
}
.relatedarticle {
    .cmp-list--horizontal.cmp-list--tight .cmp-list {
        gap: rem(40);
        @include media('<tablet') {
            gap: rem(15);
        }
    }
    .cmp-teaser--thumbnail {
        .cmp-teaser {
            &__title {
                margin: rem(24) 0 rem(12);
                @include media('<tablet') {
                    margin: 0 0 rem(8) 0;
                }
            }
            &__action-container {
                margin-top: rem(12);
            }
        }
    }
}