<div id="container-99d779a4e6" class="cmp-container cmp-container--white 
       cmp-container--width-1400
       border-radius-- 
       cmp-container--center
       cmp-container--padding
       ">
    {{>Title
    text="TItLE that may have many words in it and go on two lines"
    variant="heading-03"
    }}
    {{>Text 
    text="Subtitle ante egestas amet in aliquam nam porttitor tincidunt gravida uit purus. Massa id magna quisque semper euismod."
    variant="body-01"
    }}
     {{>Text 
    text="Last updated: March 00, 0000  |  Article published: January 00, 0000"
    variant="caption"
    }}
   {{>ImageStandard source="https://www.edelmanfinancialengines.com/wp-content/uploads/2022/08/phased-retirement.jpg"
    size="small"}}
    by:{{>Title
    variation =""
    variant="stats-02-underline"
    text="Author Name"
    }}
    {{>ListRTE
    listtype = "ol"
    variant="large"
    }}
    {{>Text 
    text="Last updated: March 00, 0000  |  Article published: January 00, 0000"
    variant="caption"
    }}
    {{>Seperator
    variant='primary'
    }}
    {{>Text 
    text="Aliquet adipiscing lectus eros tristique nunc elementum aliquam. Eget ac enim blandit pellentesque id pellentesque bibendum felis fermentum. Elit aliquam adipiscing fusce purus. Non dictumst amet cras tincidunt porttitor porttitor ullamcorper fringilla. Et “tempor pellentesque enim tellus aliquam” maecenas orci. Mattis tristique posuere in pharetra dolor nullam ligula. Feugiat neque pretium mattis tempus erat cras purus mauris dolor. Metus pulvinar vitae dui amet. Neque sed tempor scelerisque tempus ultricies. Quis nisl eget facilisis viverra amet."
    variant="body-02"
    }}
    {{>Quote
    variant ="quote1"
    text = "Sed egestas egestas fringilla phasellus faucibus scelerisque. Etiam sit amet nisl purus in mollis nunc sed id. Bibendum neque egestas commodo."
    }}
    {{>Title
    text="Bullet Points Heading here"
    variant="heading-03"
    }}
    {{>Title
    text="At nisi ullamcorper et magna eget adipiscing ac nam:"
    variant="subhead-02"
    }}
    {{>ListRTE
    listtype = "ol"
    variant="small"
    }}
    {{>Title
    variation =""
    variant="stats-02-underline"
    text="1"
    }}
    {{>Text 
    text="Suspendisse leo et dictum at amet pellentesque vulputate fermentum tincidunt. Vitae velit facilisis lorem convallis fames. Proin fames risus euismod lacinia amet enim. Cras leo tempor integer mattis elementum consequat sit. Non diam posuere sed montes morbi nisi. Tellus amet luctus tincidunt commodo fames amet tincidunt mi. Cras maecenas nam tristique nulla. Ut laoreet cras est odio et in est. In viverra cursus lectus nisi lobortis. Ipsum integer fermentum suspendisse dictumst luctus. Amet pulvinar euismod ultrices nisi mus sem tortor."
    variant="body-02"
    }}
    {{>High
    variant = "highlight"
    text = "Sed egestas fringilla phasellus faucibus scelerisque. Etiam sit amet nisl purus inmollis nunc sed id. Bibendum neque egestas commodo."
    }}
    {{>Title
    text="At nisi ullamcorper et magna eget adipiscing ac nam:"
    variant="subhead-02"
    }}
    {{>ListRTE
    listtype = "ul"
    variant="small"
    }}
    {{>ImageStandard source="https://www.edelmanfinancialengines.com/wp-content/uploads/2023/04/IPF-APR2023-changes-coming-to-estate-planning-laws_1200x627_vF.jpg"
    size="small"
    cornerRadius="bottom-right"
    }}
    {{>Title
    text="Subheading Goes here"
    variant="heading-03"
    }}
     {{>Text 
    text="Suspendisse leo et dictum at amet pellentesque vulputate fermentum tincidunt. Vitae velit facilisis lorem convallis fames. Proin fames risus euismod lacinia amet enim. Cras leo tempor integer mattis elementum consequat sit. Non diam posuere sed montes morbi nisi. Tellus amet luctus tincidunt commodo fames amet tincidunt mi. Cras maecenas nam tristique nulla. Ut laoreet cras est odio et in est. In viverra cursus lectus nisi lobortis. Ipsum integer fermentum suspendisse dictumst luctus. Amet pulvinar euismod ultrices nisi mus sem tortor."
    variant="body-02"
    }}
    {{>Title
    text="Table Title Goes Here"
    variant="subhead-02"
    }}
    {{>Text 
    text="Laculis justo ut ornare consequat in praesent posuere. Aliquam pulvinar venenatis egestas mattis sodales. Nibh feugiat fringilla cras quis diam. Pellentesque lorem."
    variant="body-02"
    }}
    {{>Tables
    variant="table"
    }}
   <div class="list cmp-list--horizontal cmp-list--tight cmp-list--left-align">
    <h2 class="cmp-list--title">THE MOKENA, IL, TEAM</h2>
     <ul id="list-2833b18972" data-cmp-data-layer="{&quot;list-2833b18972&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
        {{>TeaserThumbnail text="1"}}
        {{>TeaserThumbnail text="2"}}
        {{>TeaserThumbnail text="3"}}
        {{>TeaserThumbnail text="4"}}
     </ul>
</div>