.cmp-article-details {
    padding: rem(48) 0;
    &__published-date, &__authors-by { 
        margin: 32px 0;
        text-align: center;
    }
    &__authors-by {
        .cmp-text, .cmp-text *{
            font-size: rem(14);
        }
    }
    &__summary, &__seperator, &__body {
        width: 100%;
    }
    &__tags {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &__padding-108 {
        @include media('>tablet-lg') {
            padding: 0 rem(196);
        }
        @include media('<tablet-lg') {
            padding: 0 rem(26);
        }
    }
    .cmp-image--top-left {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__disclaimar {
        @include media('>tablet-lg') {
            padding: rem(48) rem(196);
            padding-bottom: 0;
        }
        @include media('<tablet-lg') {
            padding: rem(24) rem(26);
            padding-bottom: 0;
        }
        * {
            @include detail;
        }

    }
}
.relatedarticle {
    .cmp-list--horizontal.cmp-list--tight .cmp-list {
        gap: rem(40);
        @include media('<tablet') {
            gap: rem(15);
        }
    }
    .cmp-teaser--thumbnail {
        .cmp-teaser {
            &__title {
                margin: rem(24) 0 rem(12);
                @include media('<tablet') {
                    margin: 0 0 rem(8) 0;
                }
            }
            &__action-container {
                margin-top: rem(24px);
                @include media('<tablet') {
                    margin-top: rem(12px);
                }
            }
        }
    }
}