body { //Direct
    --primary-button-bg-color: #C32D37;
    --primary-button-font-color:#FFFFFF;
    --title-text-color: #535658;
    --primary-button-border-radius: 3px;
    --font-family: 'bebas-neue-pro';
    --fe-footer-header-font-family: 'nimbus-sans';
    --fe-signup-form-header-font-size:28px;
    --fe-signup-form-header-non-promo-font-size:36px;
    --fe-signup-form-header-line-height:105%;
    --fe-signup-form-header-letter-spacing:1.68px;
    --fe-disclosures-font-size:12px;
    --fe-disclosures-line-height:100%;
    --fe-form-color : #C32D37;
    --fe-form-promo-text : #535658;
    --fe-form-discloser-anchor-color:#A6A8AB;
    --fe-form-button-hover-background:#B22932;
    --fe-form-button-hover-color:#FFFFFF;
    --fe-form-buttom-hover-border:none;
    --fe-modal-header-font-family:'bebas-neue-pro';
    --fe-modal-header-font-weight: 400;
    --fe-error-modal-body-font-weight: 300;
    --fe-modal-letter-spacing:4px;
    --fe-form-font-family: 'nimbus-sans';
    --primary-button-font-hover:#FFFFFF;
    --primary-button-bg-color-hover:#B22932;
    --fe-text-font-size: 36px;
    --fe-text-transform: uppercase;
    --fe-text-list-icon: url("../resources/images/icons/red-check.svg") no-repeat left top;
    --fe-check-list-icon: url("../resources/images/icons/direct-rte-check.svg") no-repeat left top;
}
.theme-vanguard {//Vanguard
    --primary-button-bg-color: #000;
    --primary-button-font-color:#FFFFFF;
    --title-text-color: #670026;
    --primary-button-border-radius: 80px;
    --primary-button-bg-color-hover: #FFFFFF;
    --primary-button-font-hover:#000000;
    --font-family: 'Mark Pro';
    --fe-signup-form-header-font-size:22px;
    --fe-signup-form-header-non-promo-font-size:28px;
    --fe-signup-form-header-line-height:108%;
    --fe-signup-form-header-letter-spacing:1.32px;
    --fe-disclosures-font-size:11px;
    --fe-disclosures-line-height:135%;
    --fe-form-color : #670026;
    --fe-form-promo-text : #670026;
    --fe-form-discloser-anchor-color:#670026;
    --fe-form-button-hover-background:#FFFFFF;
    --fe-form-button-hover-color:#000000;
    --fe-form-buttom-hover-border:2px solid #000;
    --fe-modal-header-font-family:'Mark Pro';
    --fe-modal-header-font-weight: 700;
    --fe-error-modal-body-font-weight: 400;
    --fe-modal-letter-spacing:1px;
    --fe-form-font-family:'Mark Pro';
    --fe-text-font-size: 32px;
    --fe-text-transform: none;
    --fe-text-list-icon: url("../resources/images/icons/van-check.svg") no-repeat left top;
    --fe-check-list-icon: url("../resources/images/icons/van-rte-check.svg") no-repeat left top;
}
.theme-aon { //AFA
    --primary-button-bg-color: #FCF251;
    --primary-button-font-color:#000000;
    --title-text-color: #1B365D;
    --primary-button-border-radius: 80px;
    --primary-button-bg-color-hover: linear-gradient(90deg, #FCF251 0%, #FFFDCC 100%);
    --primary-button-font-hover:#000000;
    --font-family: 'Open Sans';
    --fe-signup-form-header-font-size:22px;
    --fe-signup-form-header-non-promo-font-size:28px;
    --fe-signup-form-header-line-height:110%;
    --fe-signup-form-header-letter-spacing:1.32px;
    --fe-disclosures-font-size:11px;
    --fe-disclosures-line-height:135%;
    --fe-form-color : #1B365D;
    --fe-form-promo-text : #1B365D;
    --fe-form-discloser-anchor-color:#1B365D;
    --fe-form-button-hover-background:linear-gradient(90deg, #FCF251 0%, #FFFDCB 100%);
    --fe-form-button-hover-color:#000000;
    --fe-form-buttom-hover-border:none;
    --fe-modal-header-font-family:'Open Sans';
    --fe-modal-header-font-weight: 700;
    --fe-error-modal-body-font-weight: 400;
    --fe-modal-letter-spacing:1px;
    --fe-form-font-family:'Open Sans';
    --fe-text-font-size: 32px;
    --fe-text-transform: none;
    --fe-text-list-icon: url("../resources/images/icons/afa-check.svg") no-repeat left top;
    --fe-check-list-icon: url("../resources/images/icons/afa-rte-check.svg") no-repeat left top;
}
.theme-ssga { //Voya
    --primary-button-bg-color: #145A7B;;
    --primary-button-font-color:#FFFFFF;
    --title-text-color: #145A7B;
    --primary-button-border-radius: 80px;
    --primary-button-bg-color-hover: #173857;
    --primary-button-font-hover:#FFFFFF;
    --font-family: 'Open Sans';
    --fe-signup-form-header-font-size:22px;
    --fe-signup-form-header-non-promo-font-size:28px;
    --fe-signup-form-header-line-height:108%;
    --fe-signup-form-header-letter-spacing:1.32px;
    --fe-disclosures-font-size:11px;
    --fe-disclosures-line-height:130%;
    --fe-form-color : #145A7B;
    --fe-form-promo-text : #145A7B;
    --fe-form-discloser-anchor-color:#145A7B;
    --fe-form-button-hover-background:#173857;
    --fe-form-button-hover-color:#FFFFFF;
    --fe-form-buttom-hover-border:none;
    --fe-modal-header-font-family:'Open Sans';
    --fe-modal-header-font-weight: 700;
    --fe-error-modal-body-font-weight: 400;
    --fe-modal-letter-spacing:1px;
    --fe-form-font-family:'Open Sans';
    --fe-text-font-size: 32px;
    --fe-text-transform: none;
    --fe-text-list-icon: url("../resources/images/icons/voya-check.svg") no-repeat left top;
    --fe-check-list-icon: url("../resources/images/icons/voya-rte-check.svg") no-repeat left top;

    *.cmp-text--heading-04, *.cmp-text--subhead-00 {
        letter-spacing: 0;
    }
}
.theme-empower {//Empower
    --primary-button-bg-color: #1C7FA7;
    --primary-button-font-color:#FFFFFF;
    --title-text-color: #670026;
    --primary-button-border-radius: 80px;
    --primary-button-bg-color-hover: #FFFFFF;
    --primary-button-font-hover:#000000;
    --font-family: 'Open Sans';
    --fe-signup-form-header-font-size:22px;
    --fe-signup-form-header-non-promo-font-size:28px;
    --fe-signup-form-header-line-height:108%;
    --fe-signup-form-header-letter-spacing:1.32px;
    --fe-disclosures-font-size:11px;
    --fe-disclosures-line-height:135%;
    --fe-form-color : #670026;
    --fe-form-promo-text : #670026;
    --fe-form-discloser-anchor-color:#670026;
    --fe-form-button-hover-background:#FFFFFF;
    --fe-form-button-hover-color:#000000;
    --fe-form-buttom-hover-border:2px solid #000;
    --fe-modal-header-font-family:'Open Sans';
    --fe-modal-header-font-weight: 700;
    --fe-error-modal-body-font-weight: 400;
    --fe-modal-letter-spacing:1px;
    --fe-form-font-family:'Open Sans';
    --fe-text-font-size: 32px;
    --fe-text-transform: none;
    --fe-text-list-icon: url("../resources/images/icons/empower-check.svg") no-repeat left top;
    --fe-check-list-icon: url("../resources/images/icons/empower-rte-check.svg") no-repeat left top;
}
