.cmp-navigation--primary {

    .cmp-navigation__group--level-0 {

        h2.footer-02 {
            @include efe-gray-new;
        }

        .cmp-navigation__group{
            padding-left: 1rem;
            h2 {
                display: none;
            }

            .cmp-button--efe-red-primary {
                margin-bottom: rem(36);
            }

            .cmp-navigation-dropdown-grid--default {
                .cmp-navigation__item--level-1 {
                    margin-left: rem(24);
                }
            }

            .cmp-navigation-dropdown-grid--75-25-split {
                .cmp-navigation__item--level-1 {
                    margin-left: rem(24);
                }
            }

            .cmp-navigation-dropdown-grid--50-50-split {
                .cmp-navigation__item--level-1 {
                    margin-left: rem(24);
                }

                .cmp-title--heading-04 {
                    h1 {
                        max-width: 40ch;
                    }
                }
            }
        }
        .cmp-separator--primary {
            display: none;
        }

        .cmp-navigation-dropdown {
            padding-top: rem(35);
            .cmp-navigation__group {
                .cmp-navigation-dropdown-grid{
                    @include flexbox(
                        $flex-direction: column,
                    );

                    li {
                        a {
                            @include footer-01;
                        }

                    }
                }
 
            }
        }


    }

    .cmp-navigation__item--level-1 {
        margin-bottom: rem(36);
        min-width: rem(175);
        margin-bottom: 0;
        a {
            @include footer-01;
        }
    }

    @media screen and (max-width: 1290px) {
        .cmp-navigation__group--level-0 {
            .cmp-navigation-dropdown {
                .cmp-navigation__list {
                    @include flexbox(
                        $flex-direction: column,
                        $gap: 36px 0,
                    );
                }

                .cmp-navigation-dropdown-grid--default {
                    @include flexbox(
                        $flex-wrap: wrap,
                        $gap: 30px,
                        $flex-direction: column,
                    );
                    &>div {
                        flex: 1 0 auto;
                        .cmp-navigation__list {
                            flex-direction: column;
                        }
                    }
                }

                .cmp-navigation-dropdown-grid--75-25-split {
                    >div:not(:last-child) {
                        margin-bottom: 36px;
                    }
                };

                .cmp-navigation-dropdown-grid--50-50-split {
                    >div:not(:last-child) {
                        margin-bottom: 36px;
                    }
                };
            }
        }


    }

    @media screen and (min-width: 1290px ) {
        .cmp-navigation__group--level-0 {
            position: relative;
            @include flexbox(
                $gap: rem(40)
            );
    
            h2.footer-02 {
                @include efe-gray-new;
            }

            .cmp-navigation__group{
                padding-left: 0;

                .cmp-button--efe-red-primary {
                    margin-bottom: rem(0);
                }

                h2 {
                    display: block;
                }
                // .cmp-navigation__item--level-1 {
                //     margin-bottom: rem(24);
                // }
                .cmp-navigation-dropdown-grid--default {
                    .cmp-navigation__item--level-1 {
                        margin-left: rem(0);
                    }
                }

                .cmp-navigation-dropdown-grid--75-25-split {
                    margin-bottom: 0;
                    .cmp-navigation__item--level-1 {
                        margin-left: rem(0);

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }

                .cmp-navigation-dropdown-grid--50-50-split {
                    .cmp-navigation__item--level-1 {
                        margin-left: rem(0);
                    }
                    > div {
                        &:last-of-type {
                            display: block;
                        }
                    }
                }
            }

            .cmp-separator--primary {
                display: block;
            }
    
            .cmp-navigation-dropdown {
                padding: rem(40) rem(40) rem(40) rem(80);
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                .cmp-navigation-dropdown-grid--4col {
                    padding-top: rem(20) !important;
                    @include grid(
                        $template-columns: 1fr 1fr 1fr 1fr,
                        $gap: rem(60)
                    );
                };

                .cmp-navigation__list {
                    @include flexbox(
                        $flex-wrap: wrap,
                        $gap: 24px 130px,
                    )
                }

                .cmp-navigation-dropdown-grid--default {
                    @include flexbox(
                        $flex-wrap: wrap,
                        $gap: 30px,
                    );
                    &>div {
                        flex: 1 0 auto;
                        .cmp-navigation__list {
                            flex-direction: column;
                        }
                    }
                }
    
                .cmp-navigation-dropdown-grid--75-25-split {
                    margin-bottom: 0;
                    @include grid(
                        $template-columns: 3fr 1fr,
                        $gap: rem(60)
                    );
    
                    hr {
                        margin-bottom: rem(30);
                    }
    
                    .grid-3-col {
                        @include grid(
                            $template-columns: 1fr 1fr 1fr,
                            $gap: rem(30)
                        );
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                };

                .cmp-navigation-dropdown-grid--50-50-split {
                    margin-bottom: 0;
                    @include grid(
                        $template-columns: 2fr 2fr,
                        $gap: rem(60)
                    );
    
                    hr {
                        margin-bottom: rem(30);
                    }
    
                    .grid-3-col {
                        @include grid(
                            $template-columns: 1fr 1fr 1fr,
                            $gap: rem(30)
                        );
                    }
                };
            }
        }

        .cmp-navigation__item--level-0 {
            width: fit-content;
            display: block !important;
             > a  {
                @include primary-nav-link;
            }
        }
    }
}
