.sponsor-header {
    .cmp-text {
        p {
            @include body-02;
        }
    }
    .cmp-button--footer-01 {
        display: none;
    }
    .cmp-image--efe-logo-primary {
        &.sponsor-logo {
            &::before {
                content: "";
                width: 2px;
                height: 38px;
                position: absolute;
                border-left: 1px solid rgb(221, 221, 222);
                left: 211px;
            }
            a {
                background-size: contain;
                width: 14.1875rem;
                height: 2.5625rem;
                display: block;
                background-repeat: no-repeat;
                .cmp-image__image {
                    opacity: 0;
                }
            }
        }
    }
    &.sponsor--Boeing {
        .cmp-image--efe-logo-primary {
            &.sponsor-logo {
                a {
                    background-image: url(https://www.financialengines.com/app/landing-utils/images/logos/sponsors/boeingxrx-2023.png);
                }
            }
        }
    }
    &.sponsor--Ford {
        .cmp-image--efe-logo-primary {
            &.sponsor-logo {
                a {
                    background-image: url(https://images.financialengines.com/public-assets/images/logos/sponsors/ford-small.png);
                }
            }
        }
    }
    &.sponsor--ATT {
        .cmp-image--efe-logo-primary {
            &.sponsor-logo {
                a {
                    background-image: url(https://images.financialengines.com/public-assets/images/logos/sponsors/att-small.png);
                }
            }
        }
    }
}
.sponsor-value-hide {
    display: none;
}
.unbounce-footer-modal {
    .cmp-modal {
        text-align: left;
        padding: 20px;
        * { font-family: $font-nimbus-pro; }
    }
}