<section class="sponsor-header sponsor--{{sponsor}}" data-page-frame-api="https://www.feitest.com/api/v1/pageframe/?namespace=landing-flow">
    {{>MinimalHeader
    with-two-logos = true}}
    <section class="sponsor-footer">{{>Footer}}</section>
</section>
