<div data-sly-use.template="core/wcm/components/commons/v1/templates.html">
    <div data-sly-test="${wcmmode.disabled}" id="fe-call-me-form"
        data-options='{"initiationPoint": "${properties.appointmentTypeId}", "desc": "${properties.desc}", "buttonText": "${properties.buttonText}", "appointmentTypeId": "${properties.appointmentTypeId}", "hasAppointmentScheduler": ${properties.hasAppointmentScheduler}}'>
    </div>
    <div class="fe-dashboard-button"></div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, classAppend='call-me-form'}"></sly>