@import "variables";

@font-face {
  font-family: "#{$icomoon-icon-font-family}";
  src: url("#{$icomoon-icon-font-path}/#{$icomoon-icon-font-family}.eot?vqyiiz");
  src: url("#{$icomoon-icon-font-path}/#{$icomoon-icon-font-family}.eot?vqyiiz#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-icon-font-path}/#{$icomoon-icon-font-family}.ttf?vqyiiz")
      format("truetype"),
    url("#{$icomoon-icon-font-path}/#{$icomoon-icon-font-family}.woff?vqyiiz")
      format("woff"),
    url("#{$icomoon-icon-font-path}/#{$icomoon-icon-font-family}.svg?vqyiiz##{$icomoon-icon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-icon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-caret {
  &:before {
    content: $icon-nav-caret;
    color: #00587c;
  }
}
.icon-update {
  &:before {
    content: $icon-update;
  }
}
.icon-faq {
  &:before {
    content: $icon-faq;
    color: #a4c7e2;
  }
}
.icon-Vector {
  &:before {
    content: $icon-Vector;
    color: #00587c;
  }
}
.icon-Play_Default {
  &:before {
    content: $icon-Play_Default;
    color: #00587c;
  }
}
.icon-uniE900 {
  &:before {
    content: $icon-uniE900;
    color: #00587c;
  }
}
.icon-Dots {
  &:before {
    content: $icon-Dots;
  }
}
.icon-7 {
  &:before {
    content: $icon-7;
    color: #a4c7e2;
  }
}
.icon-Animal-assisted-programming {
  &:before {
    content: $icon-Animal-assisted-programming;
    color: #a4c7e2;
  }
}
.icon-Apply {
  &:before {
    content: $icon-Apply;
    color: #00587c;
  }
}
.icon-Apps-Property-124 {
  &:before {
    content: $icon-Apps-Property-124;
    color: #00587c;
  }
}
.icon-Apps-Property-136 {
  &:before {
    content: $icon-Apps-Property-136;
    color: #00587c;
  }
}
.icon-Arrow---Left {
  &:before {
    content: $icon-Arrow---Left;
    color: #00587c;
  }
}
.icon-Arrow---Right {
  &:before {
    content: $icon-Arrow---Right;
    color: #00587c;
  }
}
.icon-Book {
  &:before {
    content: $icon-Book;
    color: #a4c7e2;
  }
}
.icon-Calendar-Property-142 {
  &:before {
    content: $icon-Calendar-Property-142;
    color: #00587c;
  }
}
.icon-Date-BlocksNo {
  &:before {
    content: $icon-Date-BlocksNo;
    color: #00587c;
  }
}
.icon-Calendar {
  &:before {
    content: $icon-Calendar;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default {
  &:before {
    content: $icon-Chevron-Property-1Default;
    color: #00587c;
  }
}
.icon-PositionDown {
  &:before {
    content: $icon-PositionDown;
    color: #00587c;
  }
}
.icon-Size24 {
  &:before {
    content: $icon-Size24;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default1 {
  &:before {
    content: $icon-Chevron-Property-1Default1;
    color: #00587c;
  }
}
.icon-PositionDown1 {
  &:before {
    content: $icon-PositionDown1;
    color: #00587c;
  }
}
.icon-Size32 {
  &:before {
    content: $icon-Size32;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default2 {
  &:before {
    content: $icon-Chevron-Property-1Default2;
    color: #00587c;
  }
}
.icon-PositionLeft {
  &:before {
    content: $icon-PositionLeft;
    color: #00587c;
  }
}
.icon-Size241 {
  &:before {
    content: $icon-Size241;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default3 {
  &:before {
    content: $icon-Chevron-Property-1Default3;
    color: #00587c;
  }
}
.icon-PositionLeft1 {
  &:before {
    content: $icon-PositionLeft1;
    color: #00587c;
  }
}
.icon-Size321 {
  &:before {
    content: $icon-Size321;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default4 {
  &:before {
    content: $icon-Chevron-Property-1Default4;
    color: #00587c;
  }
}
.icon-PositionRight {
  &:before {
    content: $icon-PositionRight;
    color: #00587c;
  }
}
.icon-Size242 {
  &:before {
    content: $icon-Size242;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default5 {
  &:before {
    content: $icon-Chevron-Property-1Default5;
    color: #00587c;
  }
}
.icon-PositionRight1 {
  &:before {
    content: $icon-PositionRight1;
    color: #00587c;
  }
}
.icon-Size322 {
  &:before {
    content: $icon-Size322;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default6 {
  &:before {
    content: $icon-Chevron-Property-1Default6;
    color: #00587c;
  }
}
.icon-PositionUp {
  &:before {
    content: $icon-PositionUp;
    color: #00587c;
  }
}
.icon-Size243 {
  &:before {
    content: $icon-Size243;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Default7 {
  &:before {
    content: $icon-Chevron-Property-1Default7;
    color: #00587c;
  }
}
.icon-PositionUp1 {
  &:before {
    content: $icon-PositionUp1;
    color: #00587c;
  }
}
.icon-Size323 {
  &:before {
    content: $icon-Size323;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text {
  &:before {
    content: $icon-Chevron-Property-1Text;
    color: #00587c;
  }
}
.icon-PositionDown2 {
  &:before {
    content: $icon-PositionDown2;
    color: #00587c;
  }
}
.icon-Size244 {
  &:before {
    content: $icon-Size244;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text1 {
  &:before {
    content: $icon-Chevron-Property-1Text1;
    color: #00587c;
  }
}
.icon-PositionDown3 {
  &:before {
    content: $icon-PositionDown3;
    color: #00587c;
  }
}
.icon-Size324 {
  &:before {
    content: $icon-Size324;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text2 {
  &:before {
    content: $icon-Chevron-Property-1Text2;
    color: #00587c;
  }
}
.icon-PositionLeft2 {
  &:before {
    content: $icon-PositionLeft2;
    color: #00587c;
  }
}
.icon-Size245 {
  &:before {
    content: $icon-Size245;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text3 {
  &:before {
    content: $icon-Chevron-Property-1Text3;
    color: #00587c;
  }
}
.icon-PositionLeft3 {
  &:before {
    content: $icon-PositionLeft3;
    color: #00587c;
  }
}
.icon-Size325 {
  &:before {
    content: $icon-Size325;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text6 {
  &:before {
    content: $icon-Chevron-Property-1Text6;
    color: #00587c;
  }
}
.icon-PositionRight3 {
  &:before {
    content: $icon-PositionRight3;
    color: #00587c;
  }
}
.icon-Size246 {
  &:before {
    content: $icon-Size246;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text5 {
  &:before {
    content: $icon-Chevron-Property-1Text5;
    color: #00587c;
  }
}
.icon-PositionRight2 {
  &:before {
    content: $icon-PositionRight2;
    color: #00587c;
  }
}
.icon-Size327 {
  &:before {
    content: $icon-Size327;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text7 {
  &:before {
    content: $icon-Chevron-Property-1Text7;
    color: #00587c;
  }
}
.icon-PositionUp3 {
  &:before {
    content: $icon-PositionUp3;
    color: #00587c;
  }
}
.icon-Size247 {
  &:before {
    content: $icon-Size247;
    color: #00587c;
  }
}
.icon-Chevron-Property-1Text4 {
  &:before {
    content: $icon-Chevron-Property-1Text4;
    color: #00587c;
  }
}
.icon-PositionUp2 {
  &:before {
    content: $icon-PositionUp2;
    color: #00587c;
  }
}
.icon-Size326 {
  &:before {
    content: $icon-Size326;
    color: #00587c;
  }
}
.icon-Circle-Close {
  &:before {
    content: $icon-Circle-Close;
  }
}
.icon-Close {
  &:before {
    content: $icon-Close;
    color: #00587c;
  }
}
.icon-CopyLink-Property-132 {
  &:before {
    content: $icon-CopyLink-Property-132;
    color: #00587c;
  }
}
.icon-CopyLink-Property-1Default {
  &:before {
    content: $icon-CopyLink-Property-1Default;
    color: #00587c;
  }
}
.icon-Cursor-Size24 {
  &:before {
    content: $icon-Cursor-Size24;
  }
}
.icon-Cursor-Size32 {
  &:before {
    content: $icon-Cursor-Size32;
  }
}
.icon-Download-Property-124 {
  &:before {
    content: $icon-Download-Property-124;
  }
}
.icon-Download-Property-132 {
  &:before {
    content: $icon-Download-Property-132;
  }
}
.icon-Educational-Sessions {
  &:before {
    content: $icon-Educational-Sessions;
    color: #a4c7e2;
  }
}
.icon-Facebook-Property-132 {
  &:before {
    content: $icon-Facebook-Property-132;
    color: #1877f2;
  }
}
.icon-Facebook-Property-140 {
  &:before {
    content: $icon-Facebook-Property-140;
    color: #1877f2;
  }
}
.icon-FAcebook {
  &:before {
    content: $icon-FAcebook;
    color: #98a2b3;
  }
}
.icon-Family-History {
  &:before {
    content: $icon-Family-History;
    color: #a4c7e2;
  }
}
.icon-Featured-Property-124 {
  &:before {
    content: $icon-Featured-Property-124;
    color: #a4c7e2;
  }
}
.icon-Focus {
  &:before {
    content: $icon-Focus;
    color: #a4c7e2;
  }
}
.icon-Gender-Specific-Group {
  &:before {
    content: $icon-Gender-Specific-Group;
    color: #a4c7e2;
  }
}
.icon-Gender-specific-programming {
  &:before {
    content: $icon-Gender-specific-programming;
    color: #a4c7e2;
  }
}
.icon-Health-Assessment {
  &:before {
    content: $icon-Health-Assessment;
    color: #a4c7e2;
  }
}
.icon-Icon-1-2 {
  &:before {
    content: $icon-Icon-1-2;
    color: #a4c7e2;
  }
}
.icon-Icon-1 {
  &:before {
    content: $icon-Icon-1;
    color: #a4c7e2;
  }
}
.icon-Instagram {
  &:before {
    content: $icon-Instagram;
    color: #98a2b3;
  }
}
.icon-leading-icon {
  &:before {
    content: $icon-leading-icon;
    color: #00587c;
  }
}
.icon-LinkedIn {
  &:before {
    content: $icon-LinkedIn;
    color: #98a2b3;
  }
}
.icon-List-2 {
  &:before {
    content: $icon-List-2;
    color: #a4c7e2;
  }
}
.icon-List {
  &:before {
    content: $icon-List;
    color: #00587c;
  }
}
.icon-location_on {
  &:before {
    content: $icon-location_on;
    color: #00587c;
  }
}
.icon-LogoChevron-Size24 {
  &:before {
    content: $icon-LogoChevron-Size24;
    color: #00587c;
  }
}
.icon-LogoChevron-Size32 {
  &:before {
    content: $icon-LogoChevron-Size32;
    color: #00587c;
  }
}
.icon-Mail-Property-132 {
  &:before {
    content: $icon-Mail-Property-132;
    color: #00587c;
  }
}
.icon-Mail-Property-1Default {
  &:before {
    content: $icon-Mail-Property-1Default;
    color: #00587c;
  }
}
.icon-Medical-necessity {
  &:before {
    content: $icon-Medical-necessity;
    color: #a4c7e2;
  }
}
.icon-Medical-Services {
  &:before {
    content: $icon-Medical-Services;
    color: #a4c7e2;
  }
}
.icon-Meditation-Property-124 {
  &:before {
    content: $icon-Meditation-Property-124;
    color: #a4c7e2;
  }
}
.icon-On-site-Gym {
  &:before {
    content: $icon-On-site-Gym;
    color: #a4c7e2;
  }
}
.icon-On-site-schooling-options {
  &:before {
    content: $icon-On-site-schooling-options;
    color: #a4c7e2;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
    color: #00587c;
  }
}
.icon-Photo-2 {
  &:before {
    content: $icon-Photo-2;
  }
}
.icon-Photo {
  &:before {
    content: $icon-Photo;
  }
}
.icon-Physical-health {
  &:before {
    content: $icon-Physical-health;
    color: #a4c7e2;
  }
}
.icon-Pinterest {
  &:before {
    content: $icon-Pinterest;
    color: #98a2b3;
  }
}
.icon-Play {
  &:before {
    content: $icon-Play;
    color: #00587c;
  }
}
.icon-Plus-Size24 {
  &:before {
    content: $icon-Plus-Size24;
    color: #00587c;
  }
}
.icon-Plus-Size32 {
  &:before {
    content: $icon-Plus-Size32;
    color: #00587c;
  }
}
.icon-Podcast {
  &:before {
    content: $icon-Podcast;
    color: #00587c;
  }
}
.icon-Refined-Logo-Arrow {
  &:before {
    content: $icon-Refined-Logo-Arrow;
  }
}
.icon-Relapse {
  &:before {
    content: $icon-Relapse;
    color: #a4c7e2;
  }
}
.icon-Search-Size24 {
  &:before {
    content: $icon-Search-Size24;
    color: #00587c;
  }
}
.icon-Search-Size32 {
  &:before {
    content: $icon-Search-Size32;
    color: #00587c;
  }
}
.icon-Spiritual-Care-Services {
  &:before {
    content: $icon-Spiritual-Care-Services;
    color: #a4c7e2;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
    color: #00587c;
  }
}
.icon-Substance-Type {
  &:before {
    content: $icon-Substance-Type;
    color: #a4c7e2;
  }
}
.icon-Thought-Property-124 {
  &:before {
    content: $icon-Thought-Property-124;
    color: #a4c7e2;
  }
}
.icon-Twitter {
  &:before {
    content: $icon-Twitter;
    color: #98a2b3;
  }
}
.icon-User {
  &:before {
    content: $icon-User;
    color: #00587c;
  }
}
.icon-Wellness-activities-2 {
  &:before {
    content: $icon-Wellness-activities-2;
    color: #a4c7e2;
  }
}
.icon-Wellness-activities {
  &:before {
    content: $icon-Wellness-activities;
    color: #a4c7e2;
  }
}
.icon-Youtube {
  &:before {
    content: $icon-Youtube;
    color: #98a2b3;
  }
}
