.cmp-text--highlight {
    padding: 40px;
    width: fit-content;
    background: $efe-gray-light;
    text-align: center;
    border-top-left-radius: 40px;
    display: inline-block;
    @include body-01;
}