.cmp-text--table-dark {

    table {
        width: 100%;
        height: auto;
        color: white;
        @include secondary-nav-link;
    }

    th {
        white-space: nowrap;
        background: $efe-gray-new;
        color: white;
        padding: 17px 20px;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: .04em;

        &:first-of-type {
            background: $efe-gray-primary;
        }

        &:first-of-type {
            @include button-text;
            color: white;
            font-weight: 700;
        }
    }

    tr {
        background: white;

        &:nth-child(even) {
            background: $efe-gray-light;
        }

        &:nth-child(odd) {
            background: #e6e6e6;
        }


        td {
            color: $efe-gray-primary;
            padding: 17px 20px;
            &:first-of-type {
                text-transform: uppercase;
                letter-spacing: .04em;
            }
        }

    }
}


