<sly data-sly-use.model="com.efe.core.models.ArticleDetails">
    <div data-sly-test=${properties.articleFragmentPath} class="cmp-container cmp-container--white cmp-container--width-1400 border-radius-- cmp-container--center cmp-container--padding" id="${model.id}">
        <div class="title cmp-title--heading-03 ">
            <div class="cmp-title">
                <h1 class="cmp-title__text">${model.articleFragmentPath.title @context='html'}</h1>
            </div>
        </div>
        <div class="text cmp-text--body-01 cmp-text-- ">
            <div class="cmp-text">
                <p>${model.articleFragmentPath.subtitle @context='html'}</p>
            </div>
        </div>
        <div class="text cmp-text--caption cmp-text-- ">
            <div class="cmp-text">
                <p>Last updated: ${model.articleFragmentPath.dateUpdated}  |  Article published: ${model.articleFragmentPath.datePublished}</p>
            </div>
        </div>
        <div class="image cmp-image-- cmp-image--top-left">
            <div class="cmp-image"><img src="${model.articleFragmentPath.heroImage}" alt=""></div>
        </div>
        by:<div class="title cmp-title--stats-02-underline ">
        <div class="cmp-title">
            <h1 class="cmp-title__text">Author Name</h1>
        </div>

        <div class="list cmp-list--ol cmp-list--large ">
            <ol data-sly-list.item = ${model.articleFragmentPath.articleAuthors} class="cmp-list">
                <li class="cmp-list__item">
                    <span class="cmp-list__item-title">${item.name}</span>
                </li>
            </ol>
        </div>
    </div>
        <div class="text cmp-text--body-02 cmp-text-- ">
            <div class="cmp-text">
                <div data-sly-resource="${@path=model.articleFragmentPath.body, selectors='content', wcmmode='disabled'}"></div>
            </div>
        </div>
        <div class="list cmp-list--horizontal cmp-list--tight cmp-list--left-align">
            <ul data-sly-list.item = ${model.articleFragmentPath.articleAuthors} class="cmp-list">
                <div class="teaser cmp-teaser--thumbnail">
                    <div class="cmp-teaser">
                        <div class="cmp-teaser__content">
                            <h2 class="cmp-teaser__title">${item.title} ${item.name}</h2>
                            <div class="cmp-teaser__description">
                                <p>${item.biography @context='html'}</p>
                            </div>
                        </div>
                        <div class="cmp-teaser__image">
                            <div data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                <img srcset="${item.photo} 1600w"
                                     src="${item.photo}"
                                     loading="lazy" class="cmp-image__image" itemprop="contentUrl"
                                     alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div data-sly-list.item = ${model.articleFragmentPath.tags}>
            <span>${item}</span>
        </div>
    </div>
</sly>