<sly data-sly-use.model="com.efe.core.models.MapStateLocations">

    <script src="https://maps.googleapis.com/maps/api/js?key=${model.mapKey @ context='scriptToken'}&v=weekly&libraries=geometry,places"></script>
    <section id="${model.id}" data-component="location-map-state" class="cmp-location--state cmp-location--state-default"
        data-explorelink-label="${model.exploreLinkLabel}"
        data-search-btn-label="${model.searchButtonLabel}"
        data-national-title="${model.nationalTitle}"
        data-national-details="${model.nationalDetails}"
        data-national-callback="${model.nationalCallbackNumber}"
        data-national-callback-label="${model.nationalCallbackLabel}"
        data-national-link="${model.nationalLink}"
        data-offices='${model.officesJson}'>
            <script type="application/ld+json">
            {  
                "@context": "https://schema.org",  
                "@type": "FinancialService",  
                "name": 'Edelman Financial Engines - ${model.stateName @context="scriptString"} Locations',
                "url": 'https://www.edelmanfinancialengines.com/locations/${model.stateName @context="scriptString"}',
                "logo": "https://www.edelmanfinancialengines.com/content/dam/efe/corporate-brand/Brand/Logos/EFE-Logos/Primary/_other/logo%20efe%20.svg",
                "description": 'Find Edelman Financial Engines offices in ${model.stateName @context="scriptString"} and connect with experienced financial advisors to help plan your retirement, investment, and wealth strategies.',  
                "address": {  
                    "@type": "PostalAddress",  
                    "addressRegion": '${model.mapState @context="scriptString"}',  
                    "addressCountry": "US"  
                },  
                "telephone": "+1-833-752-6333",  
                "sameAs": [  
                    "https://www.facebook.com/EdelmanFinancialEngines",  
                    "https://twitter.com/EFE",  
                    "https://www.linkedin.com/company/edelman-financial-engines"  
                    ]  
               }  
                
    </script>
        <div class="cmp-location--state__search-form">
            <div class="input-container">
                <label for="location">${model.plannerSearchLabel}</label>
                <input
                    id="location"
                    name="location"
                    type="text"
                    placeholder="${model.plannerSearchPlaceHolder}"
                    value="${model.mapState}, USA"
                />
                <input type="hidden" id="stateAbbreviation" value="${model.mapState}"/>
            </div>
            <a href="#" id="search-location-state-btn" data-ignore-tracking = "true" class="efe-cta-primary search-location-btn" >${model.plannerButtonLabel}</a>
        </div>
        <div class="cmp-location--state__map">
            <div id="map_canvas" style="position:absolute;height:100%;width:100%"></div>
        </div>
        <div class="cmp-location--state__items"></div>
    </section>
</sly>
