<sly data-sly-use.model="com.efe.core.models.PlannerList"
     data-sly-set.state="${model.state}"
     data-sly-set.city="${model.city}">
</sly>
<div class="list cmp-list--horizontal cmp-list--loose cmp-list--left-align cmp-list--border-radius" id="${model.id}">
  <h2 class="cmp-list--title" data-sly-test="${model.plannerList}">${model.plannerTitle @ format=[city,state]}</h2>
  <ul class="cmp-list">
    <sly data-sly-list.plannerList="${model.plannerList}">
      <div class="teaser cmp-teaser--thumbnail">
        <div  class="cmp-teaser">
          <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title"> ${plannerList.firstName} ${plannerList.lastName}</h2>
            <div class="cmp-teaser__description">
              <p>${plannerList.title}</p>
            </div>
            <div class="cmp-teaser__action-container">
              <a class="cmp-teaser__action-link"  target="${model.plannerTarget}" data-cmp-clickable="" x-cq-linkchecker="valid" href="${plannerList.buttonUrl}" >${model.ctaLabel}</a>
            </div>
          </div>
          <div class="cmp-teaser__image">
            <div data-cmp-hook-image="imageV3" class="cmp-image">
              <img srcset="${plannerList.desktopUrl}"
                   src="${plannerList.desktopUrl}"
                   loading="lazy" class="cmp-image__image" itemprop="contentUrl"
                   alt="Planner detail" title="Planner detail" />
              <meta itemprop="caption" content="Planner Details">
            </div>
          </div>
        </div>
      </div>
    </sly>
  </ul>
</div>