
<sly data-sly-use.quiz="com.efe.core.models.Quiz">
    <div id="quizEFE">

        <div id="intro-pane">
            <h2 id="headline">${quiz.introHeadline}</h2>
            <p id="subheadline">${quiz.introSubheadline}</p>
        </div>

        <div id="question-pane" class="${quiz.listFromTheme}">
            <div>

                <sly>
                    <div class="button-container">
                        <sly data-sly-test.hasContent="${quiz.question1}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question1}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question2}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question2}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question3}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question3}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question4}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question4}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question5}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question5}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question6}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question6}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question7}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question7}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question8}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question8}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question9}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question9}</button> 
                        </sly>
        
                        <sly data-sly-test.hasContent="${quiz.question10}">
                            <button onclick="staySelected(this)" class="cmp-form-button--answer">${quiz.question10}</button> 
                        </sly>
                    </div>
                </sly>  
                
                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <button class="cmp-button" onclick="getQuizResults()">
                        <span class="cmp-button__text">${quiz.resultsCta}</span>
                    </button>
                </div>  
            
            </div>
        </div>

        <button  class="cmp-button" id="introCta" onclick="revealQuiz()">
            <span class="cmp-button__text">${quiz.introCta}</span>
        </button>

        <div id="results-pane" style="display: none;">

            <div id="progress">
                <progress id="progressBar" value="0" max="10"></progress>
                <span id="progress-label"></span>
            </div>

            <!-- 0 Selections -->
            <section class="results" aria-label="Quiz Results" id="0selections" style="display: none;">
                <sly data-sly-test="${quiz.icon}" class="img-container">
                    <img src="${quiz.icon}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText}</span>
                    </a>
                </div>

                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>                   
            </section>                

            <!-- 1 - 2 Selections -->
            <section class="results" aria-label="Quiz Results" id="12selections" style="display: none;">
                <sly data-sly-test="${quiz.icon12}">
                    <img src="${quiz.icon12}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline12 @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy12 @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink12}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText12}</span>
                    </a>
                </div>

                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>                 
            </section>             
            
            <!-- 3 - 4 Selections -->
            <section class="results" aria-label="Quiz Results" id="34selections" style="display: none;">
                <sly data-sly-test="${quiz.icon34}">
                    <img src="${quiz.icon34}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline34 @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy34 @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink34}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText34}</span>
                    </a>
                </div>


                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>                  
            </section>              

            <!-- 5 - 6 Selections -->
            <section class="results" ria-label="Quiz Results" id="56selections" style="display: none;">
                <sly data-sly-test="${quiz.icon56}">
                    <img src="${quiz.icon56}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline56 @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy56 @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink56}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText56}</span>
                    </a>
                </div>


                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>                
            </section>  
            
            <!-- 7 - 8 Selections -->
            <section class="results" aria-label="Quiz Results" id="78selections" style="display: none;">
                <sly data-sly-test="${quiz.icon78}">
                    <img src="${quiz.icon78}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline78 @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy78 @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink78}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText78}</span>
                    </a>
                </div>
                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>               
            </section>    
            
            <!-- 9 -10 Selections -->
            <section class="results" aria-label="Quiz Results" id="910selections" style="display: none;">
                <sly data-sly-test="${quiz.icon910}">
                    <img src="${quiz.icon910}" alt="" />
                </sly>

                <span class="answer-headline">${quiz.headline910 @context ='html'}</span>
                <span class="answer-body">${quiz.bodyCopy910 @context ='html'}</p>

                <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                    <a href="${quiz.answerCtaLink910}" class="cmp-button" x-cq-linkchecker="valid">
                        <span class="cmp-button__text">${quiz.answerCtaText910}</span>
                    </a>
                </div>

                <a class="body-03-link" href="" onclick="startOver(event)" id="startOver">Start Over</a>                  
            </section>            
        </div>
    </div>
</sly>

<script>
    const staySelected = (el) => {
        if(el.classList.contains("cmp-form-button--selected")) {
            el.classList.remove("cmp-form-button--selected");
        }
        else {
            el.classList.add("cmp-form-button--selected");
        }
    }
    const count = (el) => {
        let buttons = document.querySelectorAll("button.cmp-form-button--selected");
        let count = buttons.length;
        const progressBar = document.getElementById("progressBar");
        const progressLabel = document.getElementById("progress-label");
        const countString = count.toString();
        const countFraction = "/10";
        const countTally = countString + countFraction;
        progressLabel.innerHTML = countTally;
        progressBar.value = count;

        if (count == 0) {
            const elem = document.getElementById("0selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }
        if (count == 1 || count == 2) {
            const elem = document.getElementById("12selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }
        if (count == 3 || count == 4) {
            const elem = document.getElementById("34selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }
        if (count == 5 || count == 6) {
            const elem = document.getElementById("56selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }
        if (count == 7 || count == 8) {
            const elem = document.getElementById("78selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }
        if (count == 9 || count == 10) {
            const elem = document.getElementById("910selections");
            elem.style.display = "block";
            elem.scrollIntoView({behavior: 'smooth', block: 'start' });
        }        
    }
    const reset = () => {
        const elements = document.getElementsByClassName("results");
            for (let i = 0; i < elements.length; i++) {
                const element = elements[i];
                element.style.display = "none"
            }
    }
    const getQuizResults = () => {
        document.getElementById("question-pane").style.display = "none";
        document.getElementById("results-pane").style.display = "block";
        count();
        document.getElementById("headline").style.display = "none";
        document.getElementById("subheadline").style.display = "none";
    }
    const startOver = (event) => {
        event.preventDefault();
        document.getElementById("question-pane").style.display = "block";
        document.getElementById("results-pane").style.display = "none";
        reset();
    }
    const revealQuiz = () => {
        const questions = document.getElementById("question-pane");
        questions.classList.add("expanded");
        const startCta = document.getElementById("introCta");
        startCta.style.display = "none";
    }

</script>






