<section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>
</section>
<section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>

</section><section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>
</section><section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>
</section><section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>
</section><section class="cmp-podcast-archive">
    <h4 class="cmp-podcast-archive__title">What’s wrong with healthcare</h4>
    <p class="cmp-podcast-archive__episode"><span>Season 2</span> <span>Episode 2</span></p>
    <p class="cmp-podcast-archive__description">May is National Nurses Month, and this episode of Edelman Financial Engines’ Everyday Wealth™ is all about health care. Jean and Erin Smith, the director of estate planning at Edelman Financial Engines, answer an email from a nurse who wants clarity on naming a health care power of attorney. Then, Edelman Financial Engines wealth planner Isabel Barrow joins Jean to break down different options for health care coverage, including Medicare, and ways a financial planner can help reduce costs. Later, Jean interviews hospice physician and author Jordan Grumet, aka Doc G, about physician burnout and what physicians, nurses and others working in health care can do to lessen their stress and develop new income streams to supplement their income.</p>
    <div class="button cmp-button--button-secondary cmp-button--unset cmp-button--default cmp-button--default cmp-podcast-archive__link">
        <a id="button-5487aab983" class="cmp-button">
            <span class="cmp-button__text">Listen to episode</span>
        </a>
    </div>
</section>
