<div class="search cmp-search--{{variant}}"data-component="search" >
  <section id="search-8c1c42a604" class="cmp-search" role="search" data-cmp-min-length="1" data-cmp-results-size="30">
    <div class="cmp_search__info" aria-live="polite" role="status"></div>
    <form id="{{id}}" class="cmp-search__form" data-cmp-hook-search="form" method="get" action="" autocomplete="off">
      <div class="cmp-search__field">
        <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
        <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="{{placeholder}}" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-expanded="false" aria-owns="cmp-search-results-1">
        <button class="cmp-search__clear" data-cmp-hook-search="clear" aria-label="Clear">
          <i class="cmp-search__clear-icon"></i>
        </button>
      </div>
    </form>
    <div class="cmp-search__results" aria-label="Search results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false" id="cmp-search-results-1"></div>
    <script data-cmp-hook-search="itemTemplate" type="x-template"> <a class="cmp-search__item" data-cmp-hook-search="item" role="option" aria-selected="false">
        <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
    </a>
</script>
  </section>
</div>

    
