/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/glob-import-loader/index.js??ruleSet[1].rules[2].use[4]!./src/main/webpack/wpi-alight/site/main.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/glob-import-loader/index.js??ruleSet[1].rules[2].use[4]!./src/main/webpack/wpi-alight/site/main.scss (1) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://use.typekit.net/ezq2lfa.css);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/glob-import-loader/index.js??ruleSet[1].rules[2].use[4]!./src/main/webpack/wpi-alight/site/main.scss (2) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
* ADOBE CONFIDENTIAL
*
* Copyright 2020 Adobe Systems Incorporated
* All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
*/
/* grid component */
.aem-Grid {
  display: block;
  width: 100%;
}

.aem-Grid::before,
.aem-Grid::after {
  display: table;
  content: " ";
}

.aem-Grid::after {
  clear: both;
}

/* placeholder for new components */
.aem-Grid-newComponent {
  clear: both;
  margin: 0;
}

/* column of a grid */
.aem-GridColumn {
  clear: both;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* force showing hidden */
.aem-GridShowHidden > .aem-Grid > .aem-GridColumn {
  display: block !important;
}

/* force showing hidden components in unhide mode */
.aem-GridShowHidden > .cmp-container > .aem-Grid > .aem-GridColumn {
  display: block !important;
}

/* Generates all the rules for the grid columns up to the given amount of column */
/* Generates all the rules for the grid column offset up to the given amount of column */
/* Generates all the rules for the grid and columns for the given break point and total of columns */
/* Generates all the rules for the grids and columns */
/* API function to be called to generate a grid config */
/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
/* From animated.css */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
/* From animated.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
* ADOBE CONFIDENTIAL
*
* Copyright 2020 Adobe Systems Incorporated
* All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
*/
/* grid component */
.aem-Grid {
  display: block;
  width: 100%;
}

.aem-Grid::before,
.aem-Grid::after {
  display: table;
  content: " ";
}

.aem-Grid::after {
  clear: both;
}

/* placeholder for new components */
.aem-Grid-newComponent {
  clear: both;
  margin: 0;
}

/* column of a grid */
.aem-GridColumn {
  clear: both;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* force showing hidden */
.aem-GridShowHidden > .aem-Grid > .aem-GridColumn {
  display: block !important;
}

/* force showing hidden components in unhide mode */
.aem-GridShowHidden > .cmp-container > .aem-Grid > .aem-GridColumn {
  display: block !important;
}

/* Generates all the rules for the grid columns up to the given amount of column */
/* Generates all the rules for the grid column offset up to the given amount of column */
/* Generates all the rules for the grid and columns for the given break point and total of columns */
/* Generates all the rules for the grids and columns */
/* API function to be called to generate a grid config */
.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
.cmp-text--stats-01 {
  font-size: 10rem;
  letter-spacing: 0.02em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
@media screen and (max-width: 992px) {
  .cmp-text--stats-01 {
    font-size: 4.3125rem;
  }
}

.cmp-text--stats-02 {
  font-size: 4.3125rem;
  letter-spacing: 0.02em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--efe-blue .cmp-text p, .cmp-text--efe-blue .cmp-text sup {
  color: #B3B9BE;
}

.cmp-text--stats-02-underline {
  font-size: 4.3125rem;
  letter-spacing: 0.02em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-decoration: solid underline #C32D37 4px;
          text-decoration: solid underline #C32D37 4px;
  text-underline-offset: 10px;
}

.cmp-text--heading-01 {
  font-size: 4.3125rem;
  letter-spacing: 0.08em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
@media screen and (max-width: 992px) {
  .cmp-text--heading-01 {
    font-size: 3.625rem;
  }
}

.cmp-text--heading-02 {
  font-size: 3.625rem;
  letter-spacing: 0.08em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
@media screen and (max-width: 992px) {
  .cmp-text--heading-02 {
    font-size: 3rem;
  }
}

.cmp-text--heading-03 {
  font-size: 3rem;
  letter-spacing: 0.08em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
@media screen and (max-width: 992px) {
  .cmp-text--heading-03 {
    font-size: 2.25rem;
  }
}

.cmp-text--heading-04 {
  font-size: 2.25rem;
  letter-spacing: 0.06em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--subhead-00 {
  font-size: 2rem;
  letter-spacing: 0.06em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--subhead-01 {
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--subhead-02 {
  font-size: 1.375rem;
  letter-spacing: 0;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--body-01 {
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--body-02 {
  font-size: 1.25rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--body-03 {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.cmp-text--caption {
  font-size: 0.875rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 100%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

b {
  font-weight: 400;
}

.detail, .cmp-text--detail {
  font-size: 0.75rem;
  letter-spacing: 0;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 0.875rem;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  line-height: 105% !important;
  display: block;
}

.cmp-text i, .cmp-text em {
  font-style: italic;
}
.cmp-text i *, .cmp-text em * {
  font-style: italic;
}
.cmp-text a {
  text-decoration: underline;
}

.primary-nav-link-red {
  font-size: 1rem;
  letter-spacing: 0.04em;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  line-height: 100%;
  color: #535658;
  color: #C32D37;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.footer-02 {
  font-size: 1rem;
  letter-spacing: 0;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: capitalize;
  font-style: normal;
  line-height: 105%;
  line-height: 100%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

blockquote {
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-size: 1.625rem;
  line-height: 120% !important;
  margin: 40px auto;
}

.blockquote1 {
  margin: 40px auto;
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-align: center !important;
  padding-left: 7px;
}
.blockquote1:before {
  content: "";
  display: inline-block;
  background: url("../resources/images/icons/quote/quote-icon.svg") no-repeat center center/contain;
  width: 0.875rem;
  height: 0.9375rem;
  position: relative;
  bottom: 0.3125rem;
  right: 0.4375rem;
}
.blockquote1:after {
  content: "";
  display: inline-block;
  background: url("../resources/images/icons/quote/quote-icon.svg") no-repeat center center/contain;
  width: 0.875rem;
  height: 0.9375rem;
  position: relative;
  bottom: 0.25rem;
  left: 0.5625rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.blockquote2 {
  margin: 40px auto;
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-align: center !important;
  padding-left: 7px;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  line-height: 105%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-align: left !important;
  margin-left: 20px;
  padding-left: 0px !important;
}
.blockquote2:before {
  content: "";
  display: inline-block;
  background: url("../resources/images/icons/quote/quote-icon.svg") no-repeat center center/contain;
  width: 0.875rem;
  height: 0.9375rem;
  position: relative;
  bottom: 0.3125rem;
  right: 0.4375rem;
}
.blockquote2:after {
  content: "";
  display: inline-block;
  background: url("../resources/images/icons/quote/quote-icon.svg") no-repeat center center/contain;
  width: 0.875rem;
  height: 0.9375rem;
  position: relative;
  bottom: 0.25rem;
  left: 0.5625rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.blockquote2:before {
  position: absolute;
  top: 3px;
  left: -21px;
}

.cmp-text--body-03-quote {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  position: relative;
  bottom: 1.625rem;
}

body p {
  font-size: 1.25rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#homepage_huhy_form {
  max-width: 41.5625rem;
  margin: auto;
  padding-bottom: 10rem;
  overflow: hidden;
}
#homepage_huhy_form progress#efe-progress-bar-default {
  width: 100%;
  -webkit-appearance: progress-bar;
  -moz-appearance: progress-bar;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: unset;
  height: 0.0625rem;
  margin: 1.5rem 0 1.40625rem;
  background-color: #C32D37;
}
#homepage_huhy_form progress::-webkit-progress-value {
  background-color: #C32D37;
  height: 0.25rem;
  position: relative;
  bottom: 0.0625rem;
}
#homepage_huhy_form progress::-webkit-progress-bar {
  background-color: #B3B9BE;
  height: 0.0625rem;
}
#homepage_huhy_form .lead_form_page_count {
  text-align: right;
  text-transform: unset;
  display: inline-block;
  float: right;
  align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  font-size: 1rem;
  letter-spacing: 0;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: capitalize;
  font-style: normal;
  line-height: 105%;
  line-height: 100%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
#homepage_huhy_form .button.cmp-button--button-primary {
  margin-top: 24px;
}
#homepage_huhy_form section.container button.efe-cta-back {
  align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  position: relative;
  bottom: 7px;
}
#homepage_huhy_form section.container .hidden-lead-options > .cmp-container--padding {
  padding: 32px 0 0 !important;
}
#homepage_huhy_form section.container .hidden-lead-options .cmp-text--body--01 {
  margin-bottom: 1.5rem;
}
#homepage_huhy_form section.container .cmp-button--body-03-link {
  margin-top: 1rem;
}
#homepage_huhy_form .section-body {
  padding-top: 2rem;
  width: 100%;
}
#homepage_huhy_form .section-body .cmp-title--heading-04 {
  margin-bottom: 0.625rem;
}
#homepage_huhy_form .section-body .cmp-text--body-02 {
  margin-bottom: 2.25rem;
}
#homepage_huhy_form .section-body .cmp-separator--primary hr {
  margin: 1rem auto 1.625rem;
}
#homepage_huhy_form .section-body .cmp-text--body-01 {
  margin-bottom: 1.5rem;
}
#homepage_huhy_form .section-body .cmp-form-button--answer {
  margin-bottom: 0.75rem;
}
#homepage_huhy_form .section-body input {
  margin: 0 auto 0.75rem !important;
}
#homepage_huhy_form .section-body label, #homepage_huhy_form .section-body .error-message {
  max-width: 23.25rem;
  margin: auto;
  text-align: left;
}
#homepage_huhy_form .section-body .error-message {
  color: #C32D37;
  margin-bottom: 0.125rem;
}
#homepage_huhy_form #investmentManage_container > div, #homepage_huhy_form #retirementGoal_container > div {
  padding: 0 !important;
}
#homepage_huhy_form #investmentManage_container h1, #homepage_huhy_form #retirementGoal_container h1 {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-transform: initial !important;
  margin-bottom: 24px;
}
@media screen and (min-width: 576px) {
  #homepage_huhy_form .section-body {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #homepage_huhy_form section.container button.efe-cta-back {
    top: 13px;
  }
}
#homepage_huhy_form .personalize-investment_manage_page #investmentManage_container > div {
  padding: 0 !important;
}
#homepage_huhy_form .personalize-investment_manage_page #investmentManage_container .cmp-text > p {
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  margin-bottom: 2rem;
}
#homepage_huhy_form .personalize-investment_manage_page #investmentManage_container .error-message {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  color: #C32D37;
  margin-bottom: 10px;
}
#homepage_huhy_form .personalize-investment_manage_page #investmentManage_container .hidden-lead-options .cmp-text--body-02 {
  margin: 48px auto 0;
}
#homepage_huhy_form .personalize-retirement_goal_page .cmp-text--caption {
  font-size: 1.625rem;
  margin-bottom: 1.5rem;
}
#homepage_huhy_form .personalize-retirement_goal_page #retirementGoalError {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  color: #C32D37;
}
#homepage_huhy_form .personalize-retirement_goal_page .hidden-lead-options .cmp-text--body-02 {
  margin: 48px auto 32px;
}
@media screen and (max-width: 768px) {
  #homepage_huhy_form .personalize-investable_assets_page .cmp-button--efe-gray-primary {
    text-align: center;
  }
}
#homepage_huhy_form .personalize-retirement_goal_page h1, #homepage_huhy_form .personalize-investable_assets_page h1, #homepage_huhy_form .personalize-investment_interest_page h1, #homepage_huhy_form .personalize-zip_code_page h1, #homepage_huhy_form .personalize-final_page h1 {
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-transform: initial;
  font-size: 1.625rem;
  margin-bottom: 1.5rem !important;
}
#homepage_huhy_form .personalize-retirement_goal_page p, #homepage_huhy_form .personalize-investable_assets_page p, #homepage_huhy_form .personalize-investment_interest_page p, #homepage_huhy_form .personalize-zip_code_page p, #homepage_huhy_form .personalize-final_page p {
  font-size: 1.625rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-transform: initial;
}
#homepage_huhy_form .personalize-retirement_goal_page .section-body .cmp-separator--efe-gray-mid, #homepage_huhy_form .personalize-investable_assets_page .section-body .cmp-separator--efe-gray-mid, #homepage_huhy_form .personalize-investment_interest_page .section-body .cmp-separator--efe-gray-mid, #homepage_huhy_form .personalize-zip_code_page .section-body .cmp-separator--efe-gray-mid, #homepage_huhy_form .personalize-final_page .section-body .cmp-separator--efe-gray-mid {
  display: none;
}
#homepage_huhy_form .personalize-investment_interest_page .cmp-text--caption, #homepage_huhy_form .personalize-investment_interest_page .title {
  text-align: left;
  margin-bottom: 1.25rem;
}
#homepage_huhy_form .personalize-investment_interest_page .cmp-text--body-02 {
  text-align: left;
}
#homepage_huhy_form .personalize-investment_interest_page .cmp-text--body-02 p {
  font-size: 1.25rem;
}
#homepage_huhy_form .personalize-investment_interest_page .cmp-text--caption p {
  font-size: 0.875rem;
}
#homepage_huhy_form .personalize-investment_interest_page .section-body .cmp-button--body-03-link {
  clear: both;
  padding-top: 36px;
}
#homepage_huhy_form .personalize-investment_interest_page .section-body .cmp-button--body-03-link:first-child {
  text-align: justify;
}
@media screen and (max-width: 576px) {
  #homepage_huhy_form .personalize-investment_interest_page .cmp-button--efe-gray-primary {
    text-align: center;
  }
}
#homepage_huhy_form .personalize-zip_code_page h1 {
  margin-bottom: 0.625rem;
}
#homepage_huhy_form .personalize-zip_code_page #zip_code {
  margin: auto;
}
#homepage_huhy_form .personalize-zip_code_page .cmp-text--body-02 {
  max-width: 40ch;
  margin: 0 auto 2.25rem !important;
}
#homepage_huhy_form .personalize-zip_code_page .cmp-text--body-02 p {
  font-size: 1.25rem;
}
#homepage_huhy_form .personalize-zip_code_page label {
  max-width: 23.25rem;
  margin: auto;
  text-align: left;
}
#homepage_huhy_form .personalize-zip_code_page .error-message {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  color: #C32D37;
}
#homepage_huhy_form .personalize-final_page .efe-disclaimer {
  margin-top: 6.25rem;
  font-size: 0.75rem;
}
#homepage_huhy_form .personalize-final_page .error-message {
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
  text-transform: unset;
  font-style: normal;
  line-height: 105%;
  line-height: 120%;
  color: #535658;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  color: #C32D37;
}

.formselector label, .formselector .error-message {
  max-width: 23.25rem;
  margin: auto;
  text-align: left;
}
.formselector .error-message {
  color: #C32D37;
  margin-bottom: 0.25rem;
}
.formselector input {
  margin: 0 auto 0.75rem !important;
}
.formselector .drop-down--default {
  max-width: 23.25rem;
  width: 100%;
  margin: auto;
  margin-bottom: 1.375rem;
}
.formselector .cmp-button--button-primary {
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 576px) {
  .formselector label, .formselector input, .formselector .drop-down--default, .formselector .error-message {
    max-width: none !important;
  }
}

#request_appointment_longform {
  max-width: 660px;
  margin: auto;
}
#request_appointment_longform #form-builder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#request_appointment_longform #retirementGoal_container, #request_appointment_longform #investmentManage_container {
  text-align: center;
  margin-top: 3.75rem;
}
#request_appointment_longform #retirementGoal_container .cmp-container--padding, #request_appointment_longform #investmentManage_container .cmp-container--padding {
  padding: 0 !important;
}
#request_appointment_longform #investmentManage_container .cmp-text--body-02 {
  max-width: 23ch;
  margin: 0 auto 1.25rem;
}
#request_appointment_longform #investmentManage_container > div.cmp-container {
  margin: 0 0 60px;
}
#request_appointment_longform #investableAssets_container {
  text-align: center;
}
#request_appointment_longform #investableAssets_container .cmp-text--body-02 {
  max-width: 34ch;
  margin: 0 auto 20px;
}
#request_appointment_longform button.cmp-form-button--answer {
  margin: 0 auto 0.75rem !important;
}
#request_appointment_longform .cmp-button--button-primary {
  margin: 2rem 0 6.25rem;
}
#request_appointment_longform .hidden-lead-options {
  margin-top: 3.75rem;
  width: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("../resources/fonts/icon-font/fonts/icomoon.eot?vqyiiz");
  src: url("../resources/fonts/icon-font/fonts/icomoon.eot?vqyiiz#iefix") format("embedded-opentype"), url("../resources/fonts/icon-font/fonts/icomoon.ttf?vqyiiz") format("truetype"), url("../resources/fonts/icon-font/fonts/icomoon.woff?vqyiiz") format("woff"), url("../resources/fonts/icon-font/fonts/icomoon.svg?vqyiiz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-caret:before {
  content: "\e90b";
  color: #00587c;
}

.icon-update:before {
  content: "\e90a";
}

.icon-faq:before {
  content: "\e909";
  color: #a4c7e2;
}

.icon-Vector:before {
  content: "\e975";
  color: #00587c;
}

.icon-Play_Default:before {
  content: "\e974";
  color: #00587c;
}

.icon-uniE900:before {
  content: "\e900";
  color: #00587c;
}

.icon-Dots:before {
  content: "\e901";
}

.icon-7:before {
  content: "\e902";
  color: #a4c7e2;
}

.icon-Animal-assisted-programming:before {
  content: "\e903";
  color: #a4c7e2;
}

.icon-Apply:before {
  content: "\e904";
  color: #00587c;
}

.icon-Apps-Property-124:before {
  content: "\e905";
  color: #00587c;
}

.icon-Apps-Property-136:before {
  content: "\e906";
  color: #00587c;
}

.icon-Arrow---Left:before {
  content: "\e907";
  color: #00587c;
}

.icon-Arrow---Right:before {
  content: "\e908";
  color: #00587c;
}

.icon-Book:before {
  content: "\e90d";
  color: #a4c7e2;
}

.icon-Calendar-Property-142:before {
  content: "\e910";
  color: #00587c;
}

.icon-Date-BlocksNo:before {
  content: "\e910";
  color: #00587c;
}

.icon-Calendar:before {
  content: "\e911";
  color: #00587c;
}

.icon-Chevron-Property-1Default:before {
  content: "\e912";
  color: #00587c;
}

.icon-PositionDown:before {
  content: "\e912";
  color: #00587c;
}

.icon-Size24:before {
  content: "\e912";
  color: #00587c;
}

.icon-Chevron-Property-1Default1:before {
  content: "\e913";
  color: #00587c;
}

.icon-PositionDown1:before {
  content: "\e913";
  color: #00587c;
}

.icon-Size32:before {
  content: "\e913";
  color: #00587c;
}

.icon-Chevron-Property-1Default2:before {
  content: "\e914";
  color: #00587c;
}

.icon-PositionLeft:before {
  content: "\e914";
  color: #00587c;
}

.icon-Size241:before {
  content: "\e914";
  color: #00587c;
}

.icon-Chevron-Property-1Default3:before {
  content: "\e915";
  color: #00587c;
}

.icon-PositionLeft1:before {
  content: "\e915";
  color: #00587c;
}

.icon-Size321:before {
  content: "\e915";
  color: #00587c;
}

.icon-Chevron-Property-1Default4:before {
  content: "\e916";
  color: #00587c;
}

.icon-PositionRight:before {
  content: "\e916";
  color: #00587c;
}

.icon-Size242:before {
  content: "\e916";
  color: #00587c;
}

.icon-Chevron-Property-1Default5:before {
  content: "\e917";
  color: #00587c;
}

.icon-PositionRight1:before {
  content: "\e917";
  color: #00587c;
}

.icon-Size322:before {
  content: "\e917";
  color: #00587c;
}

.icon-Chevron-Property-1Default6:before {
  content: "\e918";
  color: #00587c;
}

.icon-PositionUp:before {
  content: "\e918";
  color: #00587c;
}

.icon-Size243:before {
  content: "\e918";
  color: #00587c;
}

.icon-Chevron-Property-1Default7:before {
  content: "\e919";
  color: #00587c;
}

.icon-PositionUp1:before {
  content: "\e919";
  color: #00587c;
}

.icon-Size323:before {
  content: "\e919";
  color: #00587c;
}

.icon-Chevron-Property-1Text:before {
  content: "\e91a";
  color: #00587c;
}

.icon-PositionDown2:before {
  content: "\e91a";
  color: #00587c;
}

.icon-Size244:before {
  content: "\e91a";
  color: #00587c;
}

.icon-Chevron-Property-1Text1:before {
  content: "\e91b";
  color: #00587c;
}

.icon-PositionDown3:before {
  content: "\e91b";
  color: #00587c;
}

.icon-Size324:before {
  content: "\e91b";
  color: #00587c;
}

.icon-Chevron-Property-1Text2:before {
  content: "\e91c";
  color: #00587c;
}

.icon-PositionLeft2:before {
  content: "\e91c";
  color: #00587c;
}

.icon-Size245:before {
  content: "\e91c";
  color: #00587c;
}

.icon-Chevron-Property-1Text3:before {
  content: "\e91d";
  color: #00587c;
}

.icon-PositionLeft3:before {
  content: "\e91d";
  color: #00587c;
}

.icon-Size325:before {
  content: "\e91d";
  color: #00587c;
}

.icon-Chevron-Property-1Text6:before {
  content: "\e91e";
  color: #00587c;
}

.icon-PositionRight3:before {
  content: "\e91e";
  color: #00587c;
}

.icon-Size246:before {
  content: "\e91e";
  color: #00587c;
}

.icon-Chevron-Property-1Text5:before {
  content: "\e91f";
  color: #00587c;
}

.icon-PositionRight2:before {
  content: "\e91f";
  color: #00587c;
}

.icon-Size327:before {
  content: "\e91f";
  color: #00587c;
}

.icon-Chevron-Property-1Text7:before {
  content: "\e920";
  color: #00587c;
}

.icon-PositionUp3:before {
  content: "\e920";
  color: #00587c;
}

.icon-Size247:before {
  content: "\e920";
  color: #00587c;
}

.icon-Chevron-Property-1Text4:before {
  content: "\e921";
  color: #00587c;
}

.icon-PositionUp2:before {
  content: "\e921";
  color: #00587c;
}

.icon-Size326:before {
  content: "\e921";
  color: #00587c;
}

.icon-Circle-Close:before {
  content: "\e922";
}

.icon-Close:before {
  content: "\e923";
  color: #00587c;
}

.icon-CopyLink-Property-132:before {
  content: "\e924";
  color: #00587c;
}

.icon-CopyLink-Property-1Default:before {
  content: "\e925";
  color: #00587c;
}

.icon-Cursor-Size24:before {
  content: "\e926";
}

.icon-Cursor-Size32:before {
  content: "\e927";
}

.icon-Download-Property-124:before {
  content: "\e928";
}

.icon-Download-Property-132:before {
  content: "\e929";
}

.icon-Educational-Sessions:before {
  content: "\e92a";
  color: #a4c7e2;
}

.icon-Facebook-Property-132:before {
  content: "\e92b";
  color: #1877f2;
}

.icon-Facebook-Property-140:before {
  content: "\e92c";
  color: #1877f2;
}

.icon-FAcebook:before {
  content: "\e92d";
  color: #98a2b3;
}

.icon-Family-History:before {
  content: "\e92e";
  color: #a4c7e2;
}

.icon-Featured-Property-124:before {
  content: "\e938";
  color: #a4c7e2;
}

.icon-Focus:before {
  content: "\e93c";
  color: #a4c7e2;
}

.icon-Gender-Specific-Group:before {
  content: "\e93d";
  color: #a4c7e2;
}

.icon-Gender-specific-programming:before {
  content: "\e93e";
  color: #a4c7e2;
}

.icon-Health-Assessment:before {
  content: "\e93f";
  color: #a4c7e2;
}

.icon-Icon-1-2:before {
  content: "\e940";
  color: #a4c7e2;
}

.icon-Icon-1:before {
  content: "\e941";
  color: #a4c7e2;
}

.icon-Instagram:before {
  content: "\e944";
  color: #98a2b3;
}

.icon-leading-icon:before {
  content: "\e945";
  color: #00587c;
}

.icon-LinkedIn:before {
  content: "\e948";
  color: #98a2b3;
}

.icon-List-2:before {
  content: "\e949";
  color: #a4c7e2;
}

.icon-List:before {
  content: "\e94a";
  color: #00587c;
}

.icon-location_on:before {
  content: "\e94b";
  color: #00587c;
}

.icon-LogoChevron-Size24:before {
  content: "\e94c";
  color: #00587c;
}

.icon-LogoChevron-Size32:before {
  content: "\e94d";
  color: #00587c;
}

.icon-Mail-Property-132:before {
  content: "\e94e";
  color: #00587c;
}

.icon-Mail-Property-1Default:before {
  content: "\e94f";
  color: #00587c;
}

.icon-Medical-necessity:before {
  content: "\e950";
  color: #a4c7e2;
}

.icon-Medical-Services:before {
  content: "\e951";
  color: #a4c7e2;
}

.icon-Meditation-Property-124:before {
  content: "\e952";
  color: #a4c7e2;
}

.icon-On-site-Gym:before {
  content: "\e959";
  color: #a4c7e2;
}

.icon-On-site-schooling-options:before {
  content: "\e95a";
  color: #a4c7e2;
}

.icon-phone:before {
  content: "\e95b";
  color: #00587c;
}

.icon-Photo-2:before {
  content: "\e95c";
}

.icon-Photo:before {
  content: "\e95d";
}

.icon-Physical-health:before {
  content: "\e95e";
  color: #a4c7e2;
}

.icon-Pinterest:before {
  content: "\e95f";
  color: #98a2b3;
}

.icon-Play:before {
  content: "\e960";
  color: #00587c;
}

.icon-Plus-Size24:before {
  content: "\e961";
  color: #00587c;
}

.icon-Plus-Size32:before {
  content: "\e962";
  color: #00587c;
}

.icon-Podcast:before {
  content: "\e963";
  color: #00587c;
}

.icon-Refined-Logo-Arrow:before {
  content: "\e964";
}

.icon-Relapse:before {
  content: "\e965";
  color: #a4c7e2;
}

.icon-Search-Size24:before {
  content: "\e966";
  color: #00587c;
}

.icon-Search-Size32:before {
  content: "\e967";
  color: #00587c;
}

.icon-Spiritual-Care-Services:before {
  content: "\e968";
  color: #a4c7e2;
}

.icon-star:before {
  content: "\e969";
  color: #00587c;
}

.icon-Substance-Type:before {
  content: "\e96a";
  color: #a4c7e2;
}

.icon-Thought-Property-124:before {
  content: "\e96b";
  color: #a4c7e2;
}

.icon-Twitter:before {
  content: "\e96f";
  color: #98a2b3;
}

.icon-User:before {
  content: "\e970";
  color: #00587c;
}

.icon-Wellness-activities-2:before {
  content: "\e971";
  color: #a4c7e2;
}

.icon-Wellness-activities:before {
  content: "\e972";
  color: #a4c7e2;
}

.icon-Youtube:before {
  content: "\e973";
  color: #98a2b3;
}

.center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.mb-8 {
  margin-bottom: 8px;
}

button {
  border: unset;
  padding: unset;
  background: unset;
}

section.wpi-alert {
  position: relative;
}
section.wpi-alert .cmp-button:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 8;
}
section.wpi-alert .cmp-button:hover, section.wpi-alert .cmp-button:active {
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
section.wpi-alert .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 32px;
}
section.wpi-alert .wpi-img {
  width: 3.375rem;
  height: 3.375rem;
}
section.wpi-alert .provided {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
section.wpi-alert .provided .provided-by {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6875rem;
  line-height: 100%;
  color: #837F7D;
}
@media screen and (min-width: 576px) {
  section.wpi-alert .provided {
    margin-left: 69px;
  }
}
@media screen and (min-width: 576px) {
  section.wpi-alert .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

section.alight-wpi-theme {
  max-width: 40.0625rem;
}
section.alight-wpi-theme .copy h2 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 7px;
  margin-top: 0px;
}
section.alight-wpi-theme .copy h3, section.alight-wpi-theme .copy p {
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 0 0 14px;
  font-weight: 400;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
section.alight-wpi-theme .copy h3 b, section.alight-wpi-theme .copy h3 strong, section.alight-wpi-theme .copy p b, section.alight-wpi-theme .copy p strong {
  font-weight: bold;
}
section.alight-wpi-theme .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0;
}
section.alight-wpi-theme .flex img.wpi-img {
  width: 76px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.alight-wpi-theme .flex .copy {
  margin: 8px 0 20px;
}
section.alight-wpi-theme .cta-lockup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.alight-wpi-theme .cta-lockup-container .efe-lockup {
  width: 138px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.alight-wpi-theme .cta-lockup-container .cmp-button--button-wpi {
  width: 5.3125rem;
  height: 1.6875rem;
  background-color: #e6e6e6;
  border-radius: 6px;
  border: 1px solid #c5c6c7;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
section.alight-wpi-theme .cta-lockup-container .cmp-button--button-wpi a.cmp-button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-decoration: none;
}
section.alight-wpi-theme .cta-lockup-container .cmp-button--button-wpi .cmp-button__text {
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #3c4144;
  line-height: 100%;
  position: relative;
  bottom: 1px;
}
@media screen and (max-width: 300px) {
  section.alight-wpi-theme .efe-lockup {
    display: none;
  }
  section.alight-wpi-theme .flex img.wpi-img {
    width: 36px;
    height: 36px;
  }
  section.alight-wpi-theme .flex .copy {
    margin: 8px 0 23px;
  }
}

body.xf-web-container {
  margin: 0;
}

#feIframe body {
  margin: 0;
}

/**
*  Fluid typography mixin to create fluid font-size and line hieght for better visusal experience
*  REference: https://css-tricks.com/snippets/css/fluid-typography/#in-sass
*/
