<section 
    data-sly-use.model="com.efe.core.models.PlannerBio"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-set.planner="${model.plannerResponse}"
    data-sly-test.isNotEmpty="${planner.firstName}"
    aria-label="planner-bio" class="cmp-efe-plannerbio">

    <div class="cmp-efe--full-width secondary">
        <div class="cmp-efe-plannerbio--container">
            <div class="cmp-efe-plannerbio--container__hero-text">
                <h1 class="cmp-efe-plannerbio--container__hero-text--first">${planner.firstName} <sly data-sly-test="${planner.lastName}">${planner.lastName}</sly>
                    <span class="heading-location-details" data-sly-test="${model.officeLocations}">
                        <span data-sly-test="${model.officeLocations.size >= 1 && !(model.officeLocations.size == 1  && model.officeLocations[0].city == 'Phoenix')}">Financial planner serving</span>
                        <span data-sly-test="${model.officeLocations.size == 0 || (model.officeLocations.size == 1 && model.officeLocations[0].city == 'Phoenix')}">Financial planner</span>                                             
                        <span data-sly-list.item="${model.officeLocations}">
                                <span class="cityStatePair" data-sly-test="${item.externalName != 'National Advisor Center'}">
                                    <a class="location-link" x-cq-linkchecker="valid" data-cmp-clickable="" hreflang="en-US" lang="en-US" href="/content/efe/us/en/location.${item.state}.${item.externalName}.html">                                     
                                        <span data-sly-test="${item.city}">${item.externalName},</span>
                                        <span data-sly-test="${item.state}">${item.state}</span>
                                    </a>                                    
                                </span>
                        </span>
                    </span>
                </h1>
                <p data-sly-test="${!planner.certificationsAbbrevations.empty}" class="cmp-efe-plannerbio--container__hero-text--desc">${planner.certificationsAbbrevations  @ join=', '}</p>
                <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default">
                    <a type="button" id="button-5487aab983" class="cmp-button" href="${model.appointmentCta}">
                        <span class="cmp-button__text">${model.appointmentCtaLabel}</span>
                    </a>
                </div>
            </div>
            <div class="cmp-efe-plannerbio--container__hero-img">
                <img src="${planner.desktopImageUrl}" alt="${planner.firstName} ${planner.lastName}" class="cmp-efe-plannerbio--container__hero-img--main">
                <img data-sly-test="${model.fileReference}" src="${model.fileReference}" class="cmp-efe-plannerbio--container__hero-img--pattern" alt>
            </div>
        </div>
    </div>
    <div class="cmp-efe--full-width primary" data-sly-test="${planner.bio}">
        <div class="cmp-efe-plannerbio--aboutus">
            <!-- <h2 class="cmp-efe-plannerbio--aboutus__title">${model.aboutSectionHeading}</h2> -->
            <div class="cmp-efe-plannerbio--aboutus__container">
                <div class="cmp-efe-plannerbio--aboutus__aboutme">

                    <h1>The YouTube ID is <span data-sly-test="${planner.youTubeId}">${planner.youTubeId}</span></h1>

                    <div class="video-container">
                        <sly data-sly-test="${planner.bioVideo}">
                            <video id="planner-video" controls width="320" height="240" controls>
                                <source src="${planner.bioVideo}" type="video/mp4">
                                Your browser does not support the video tag. Here is a  <a target="_blank" href="${planner.bioVideo}">link to the video</a> instead.
                            </video>
                            <button aria-label="Play Planner Biography Video" id="playButton" class="play-button"><span class="visually-hidden">Play</span></button>
                        </sly>
                    </div>
                    
                    <h2 class="cmp-efe-plannerbio--aboutus__aboutme--subtitle">${model.aboutMeHeading}</h2>
                    <p>${planner.bio}</p>
                    <a class="body-01-link-red" href="${planner.adv2bUrl}" target="_blank">See ${planner.firstName}'s Full Bio</a>
                </div>
                <div class="cmp-efe-plannerbio--aboutus__block">
                    <div data-sly-test="${!planner.certifications.empty}" class="cmp-efe-plannerbio--aboutus__certification">
                        <h3 class="cmp-efe-plannerbio--aboutus__certification--subtitle">${model.certificationHeading}</h3>
                        <p data-sly-repeat="${planner.certifications}">${item.name}</p>
                    </div>
                    <div data-sly-test="${!planner.education.empty}" class="cmp-efe-plannerbio--aboutus__education">
                        <h3 class="cmp-efe-plannerbio--aboutus__education--subtitle">${model.educationHeading}</h3>
                        <p data-sly-repeat="${planner.education}">${item.degree}<span data-sly-test="${!item.major.empty}">, </span>${item.major} - <span class="university">${item.university}</span></p>                      
                    </div>
                    <div class="cmp-efe-plannerbio--aboutus__services">
                        <h3 class="cmp-efe-plannerbio--aboutus__education--subtitle">Services</h3>
                        <p>Financial planning, retirement planning, investment management, insurance guidance, tax planning, estate planning</p>
                    </div>
                    <div data-sly-test="${model.officeLocations}" class="cmp-efe-plannerbio--aboutus__locations locations">
                        <h3 class="cmp-efe-plannerbio--aboutus__education--subtitle">Locations</h3>
                        <p>                    
                            <span class="heading-location-details" data-sly-test="${model.officeLocations}">
                                <span data-sly-list.item="${model.officeLocations}">
                                    <span class="location-item" data-sly-test="${item.externalName != 'National Advisor Center'}">
                                        <a class="location-link" x-cq-linkchecker="valid" data-cmp-clickable="" hreflang="en-US" lang="en-US" href="/content/efe/us/en/location.${item.state}.${item.externalName}.html">                                         
                                            <span>
                                                <span data-sly-test="${item.city}">${item.externalName},</span>
                                                <span data-sly-test="${item.state}">${item.state}</span>
                                            <span>
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </p>
                    </div>

                </div>
            </div>
            <!-- <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default cmp-efe-plannerbio--aboutus__cta">
                <a type="button" id="button-5487aab983" class="cmp-button" href="${model.appointmentCta}">
                    <span class="cmp-button__text">${model.appointmentCtaLabel}</span>
                </a>
            </div> -->
        </div>
    </div>

    <!-- <div class="cmp-efe--full-width secondary" data-sly-test="${model.officeLocations}">
        <div class="cmp-efe-plannerbio--locations">
            <h2 class="cmp-efe-plannerbio--locations__title">${model.locationSectionHeading}</h2>
            <div class="cmp-efe-plannerbio--locations__container" data-sly-list="${model.officeLocations}">
                <div class="cmp-efe-plannerbio--locations__location">
                    <h3 data-sly-test="${item.officeName}">${item.officeName}</h3>
                    <p data-sly-test="${item.address1}">${item.address1}</p>
                    <p data-sly-test="${item.address2}">${item.address2}</p>
                    <p><span data-sly-test="${item.city}">${item.city}, </span><span data-sly-test="${item.state}">${item.state} </span><span data-sly-test="${item.zip}">${item.zip}</span></p>
                    <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                        <a  href="${item.url}">
                            <span class="cmp-button__text">${model.exploreLinkLabel}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--
    <div class="cmp-efe--full-width secondary cmp-efe-plannerbio--locations" data-sly-test="${!planner.supportStaff.empty}">
        <div class="cmp-efe-plannerbio--locations__container" data-sly-list="${planner.supportStaff}">
            <div  class="teaser cmp-teaser--thumbnail cmp-teaser">
              <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title"> ${item.firstName} ${item.lastName}</h2>
              </div>
              <div class="cmp-teaser__image" data-sly-test="${!item.photo.empty}">
                <div data-cmp-hook-image="imageV3" class="cmp-image">
                  <img srcset="${item.photo}"
                       src="${item.photo}"
                       loading="lazy" class="cmp-image__image" itemprop="contentUrl"
                       alt="Planner detail" title="Planner detail" />
                  <meta itemprop="caption" content="Planner Details">
                </div>
              </div>
            </div>
        </div>
    </div> -->
    <script data-sly-test="${model.jsonLd}" type="application/ld+json">
        ${model.jsonLd @context ='unsafe'}
    </script>
</section>
<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, classAppend='cmp-plannerbio'}"></sly>

<script>
    const video = document.getElementById("planner-video");
    const playButton = document.getElementById("playButton");

    if (video != null) {
        playButton.addEventListener("click", function() {
            if (video.paused) {
                video.play();
                playButton.style.display = "none";
            } else {
                video.pause();
            }
        });
    }

const updateLocationLinksHref = () => {
    const links = document.querySelectorAll(".location-link");

    links.forEach(link => {
        const currentHref = link.href;
        if (currentHref.includes("%20")) {
            const updatedHref = currentHref.replace(/%20/g, "-");
            link.href = updatedHref;
        }
        else if (currentHref.includes("location.FL.St.%20Petersburg.html")) {
            link.href = currentHref.replace("location.FL.St.%20Petersburg.html", "location.FL.St--Petersburg.html");
        }
        else if (currentHref.includes("location.TX.Houston-Clear%20Lake/League%20City.html")) {
            link.href = currentHref.replace("location.TX.Houston-Clear%20Lake/League%20City.html", "location.TX.Houston-Clear-Lake-League-City.html");
        }
        else if(currentHref.includes("location.TX.Clear%20Lake/League%20City.html")){
            link.href = currentHref.replace("location.TX.Clear%20Lake/League%20City.html", "location.TX.Clear-Lake-League-City.html");
        }
    });
};

addEventListener("DOMContentLoaded", updateLocationLinksHref);



</script>