<section 
    data-sly-use.model="com.efe.core.models.PlannerBio"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-set.planner="${model.plannerResponse}"
    data-sly-test.isNotEmpty="${planner.firstName}"
    aria-label="planner-bio" class="cmp-efe-plannerbio">

    <div class="cmp-efe--full-width secondary">
        <div class="cmp-efe-plannerbio--container">
            <div class="cmp-efe-plannerbio--container__hero-text">
                <h2 class="cmp-efe-plannerbio--container__hero-text--first">${planner.firstName}</h2>
                <h2 data-sly-test="${planner.lastName}" class="cmp-efe-plannerbio--container__hero-text--last">${planner.lastName}</h2>
                <p data-sly-test="${!planner.certificationsAbbrevations.empty}" class="cmp-efe-plannerbio--container__hero-text--desc">${planner.certificationsAbbrevations  @ join=', '}</p>
                <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default">
                    <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                        <span class="cmp-button__text">Request an Appointment</span>
                    </button>
                </div>
            </div>
            <div class="cmp-efe-plannerbio--container__hero-img">
                <img src="${planner.desktopImageUrl}" alt="picture of a planner" class="cmp-efe-plannerbio--container__hero-img--main">
                <img src="https://edelman-static.vercel.app/icons/pattern.svg" class="cmp-efe-plannerbio--container__hero-img--pattern">
            </div>
        </div>
    </div>
    <div class="cmp-efe--full-width primary" data-sly-test="${planner.bio}">
        <div class="cmp-efe-plannerbio--aboutus">
            <h2 class="cmp-efe-plannerbio--aboutus__title">One of three headline options</h2>
            <div class="cmp-efe-plannerbio--aboutus__container">
                <div class="cmp-efe-plannerbio--aboutus__aboutme">
                    <h3 class="cmp-efe-plannerbio--aboutus__aboutme--subtitle">About me</h3>
                    <p>${planner.bio}</p>
                </div>
                <div class="cmp-efe-plannerbio--aboutus__block">
                    <div data-sly-test="${!planner.certifications.empty}" class="cmp-efe-plannerbio--aboutus__certification">
                        <h3 class="cmp-efe-plannerbio--aboutus__certification--subtitle">Certifications</h3>
                        <p data-sly-repeat="${planner.certifications}">${item.name}</p>
                    </div>
                    <div data-sly-test="${!planner.education.empty}" class="cmp-efe-plannerbio--aboutus__education">
                        <h3 class="cmp-efe-plannerbio--aboutus__education--subtitle">Education</h3>
                        <p data-sly-repeat="${planner.education}">${item.degree}, ${item.university}</p>                      
                    </div>
                </div>
            </div>
            <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default cmp-efe-plannerbio--aboutus__cta">
                <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                    <span class="cmp-button__text">Request an Appointment</span>
                </button>
            </div>
        </div>
    </div>
    <div class="cmp-efe--full-width secondary" data-sly-test="${model.officeLocations}">
        <div class="cmp-efe-plannerbio--locations">
            <h2 class="cmp-efe-plannerbio--locations__title">Visit one of our locations</h2>
            <div class="cmp-efe-plannerbio--locations__container" data-sly-list="${model.officeLocations}">
                <div class="cmp-efe-plannerbio--locations__location">
                    <h3 data-sly-test="${item.externalName}">${item.externalName}</h3>
                    <p data-sly-test="${item.address1}">${item.address1}</p>
                    <p data-sly-test="${item.address2}">${item.address2}</p>
                    <p><span data-sly-test="${item.city}">${item.city}, </span><span data-sly-test="${item.state}">${item.state} </span><span data-sly-test="${item.zip}">${item.zip}</span></p>
                    <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                        <a id="button-a1f53d50c2"  href="${item.url}">
                            <span class="cmp-button__text">Explore Locations</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, classAppend='cmp-plannerbio'}"></sly>