.cmp-image--planner-hero {
    display: inline-block;
    * {
        display: inline-block;
    }

    img {
        max-width: rem(461);
        max-height: rem(461);
        background-size: cover;
    }


    &.cmp-image--round {
        img {
            border-bottom-right-radius: 40px;
        }
    }

}