.cmp-image--profile-thumb {
    display: inline-block;
    * {
        display: inline-block;
    }

    .cmp-image img {
        width: rem(158);
        height: rem(158);
        object-fit: cover;
    }


    &.cmp-image--round {
        img {
            border-bottom-right-radius: 40px;
        }
    }

}