<div id="everydaywealthinamerica2024">
    <!-- HERO -->
    <section aria-role="content-info" aria-label="Download the 2024 Everyday Wealth in America Report from Edelman Financial Engines" id="hero">
        <h1>Everyday Wealth in America</h1>
        <h2>The 2024 Report</h2>
        <p>For the third year in a row, Edelman Financial Engines explores the intersection of life and money, revealing new insights into Americans’ attitudes on a wide range of wealth-related topics—and how they effect our financial and emotional well-being.</p>
        <div class="cmp-button--button-primary">
            <a href="#" class="cmp-button">
                <span class="cmp-button__text">
                    Download the report
                </span>
            </a>
        </div>
    </section>
<!-- 
    Perception of Wealth Section -->
    <section aria-role="content-info" aria-label="Perception of Wealth. Find out if you are wealthy." class="stats-section">

        <div class="fifty-percent">
            <div class="section-header-bg-pattern">
                <h2>Perception of Wealth</h2>
            </div>
        </div>

        <div class="stats-block stats-block--teal">
            <h3 class="headline-source-serif">Am I wealthy?</h3>
            <p class="stat-text">
                <span class="left-col-text">
                    <span class="large-stat">12
                    </span>
                </span>
                <span class="right-col-text">
                    <span><sup>%</sup></span>
                    <span>believe they are wealthy, a consistent figure the last 3 years</span> 
                </span>


            </p>                          
        </div>



    </section>


</div>


