.fe-layout-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-areas:
        "hero form"
        "text form";
        //"text container";

    & .hero-section{
        grid-area: hero;
        & > *{
            height: 100%;
        }
    }

    & .text-section{
        grid-area: text;
        padding: rem(80px) rem(109px);
        @include media('<=tablet') {
            padding: rem(50px) rem(30px);
        }
    }

    & .form-section{
        grid-area: form;
    }

    & .container-section{
        //grid-area: container;
        &  img{
            padding-top: rem(69px);
            @include media('<=tablet') {
                padding: rem(30px) rem(30px) rem(80px) rem(30px);
            }
        }
    }

    @include media('<=tablet') {
        grid-template-columns: 1fr;
        grid-template-areas:
        "hero"
        "form"
        "text"; 
        //"container";
    }

    &.variation-2{
        grid-template-columns: 4fr 8fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
        "form text"
        "form hero";

        & .hero-section{
            & .image{
                height: 100%;
                width: 100%;
                overflow: hidden;

                & .cmp-image{
                    height: 100%;
                    width: 100%;

                    & img{
                        height: 100%;
                    }
                }

                @include media('<=tablet') {
                    max-height: rem(297px);
                }
            }
        }
        

        & .text-section{
            padding: rem(100px) rem(200px) 0 rem(200px);
            @include media('<=tablet') {
                padding: rem(80px) rem(30px) rem(50px) rem(30px);
            }
            & .cmp-text p, & .cmp-text{
                font-size: rem(42px);
                text-align: center;
                font-style: normal;
                font-weight: 700;
                line-height: 123.5%;
            }
        }

        @include media('<=tablet') {
            grid-template-columns: 1fr;
            grid-template-areas:
                "text"
                "hero"
                "form"
                //"container";
    }
    }
}