<div class="fe-layout-container variation-1">
    <div class="hero-section">
        {{>HeroTeaser variant="hero"}}
    </div>
    <div class="text-section">
        {{>TextList}}
    </div>
    <div class="form-section">
        {{>Form}}
    </div>
    <div class="container-section">
        {{>ImageStandard source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
    </div>
</div>

