<div class="fe-layout-container variation-1">
    <div class="hero-section">
        {{>HeroTeaser variant="hero"}}
    </div>
    <div class="text-section">
        {{>TextList}}
    </div>
    <div class="form-section">
        {{>Form}}
    </div>
     <div class="container-section"></div>
</div>

