<div class="fe-layout-container variation-2">
    <div class="hero-section">
        {{>ImageStandard source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
    </div>
    <div class="text-section">
        <div class="fe-layout-unordered-list">
            <div id="text-3284f6ed2d" class="cmp-text">
                <p>Let us optimize your portfolio to keep you on track for retirement</p>
            </div>
</div>
    </div>
    <div class="form-section">
        {{>Form}}
    </div>
</div>

