<div class="fe-layout-container variation-1">
    <div class="hero-section">
        {{>HeroTeaser variant="hero"}}
    </div>
    <div class="text-section fe-layout-unordered-list">
        {{>Ferte}}
    </div>
    <div class="form-section">
        {{>Form}}
        <div class="container-section"></div>
    </div>
</div>

