$icomoon-icon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-nav-caret: "\e90b";
$icon-update: "\e90a";
$icon-faq: "\e909";
$icon-Vector: "\e975";
$icon-Play_Default: "\e974";
$icon-uniE900: "\e900";
$icon-Dots: "\e901";
$icon-7: "\e902";
$icon-Animal-assisted-programming: "\e903";
$icon-Apply: "\e904";
$icon-Apps-Property-124: "\e905";
$icon-Apps-Property-136: "\e906";
$icon-Arrow---Left: "\e907";
$icon-Arrow---Right: "\e908";
$icon-Book: "\e90d";
$icon-Calendar-Property-142: "\e910";
$icon-Date-BlocksNo: "\e910";
$icon-Calendar: "\e911";
$icon-Chevron-Property-1Default: "\e912";
$icon-PositionDown: "\e912";
$icon-Size24: "\e912";
$icon-Chevron-Property-1Default1: "\e913";
$icon-PositionDown1: "\e913";
$icon-Size32: "\e913";
$icon-Chevron-Property-1Default2: "\e914";
$icon-PositionLeft: "\e914";
$icon-Size241: "\e914";
$icon-Chevron-Property-1Default3: "\e915";
$icon-PositionLeft1: "\e915";
$icon-Size321: "\e915";
$icon-Chevron-Property-1Default4: "\e916";
$icon-PositionRight: "\e916";
$icon-Size242: "\e916";
$icon-Chevron-Property-1Default5: "\e917";
$icon-PositionRight1: "\e917";
$icon-Size322: "\e917";
$icon-Chevron-Property-1Default6: "\e918";
$icon-PositionUp: "\e918";
$icon-Size243: "\e918";
$icon-Chevron-Property-1Default7: "\e919";
$icon-PositionUp1: "\e919";
$icon-Size323: "\e919";
$icon-Chevron-Property-1Text: "\e91a";
$icon-PositionDown2: "\e91a";
$icon-Size244: "\e91a";
$icon-Chevron-Property-1Text1: "\e91b";
$icon-PositionDown3: "\e91b";
$icon-Size324: "\e91b";
$icon-Chevron-Property-1Text2: "\e91c";
$icon-PositionLeft2: "\e91c";
$icon-Size245: "\e91c";
$icon-Chevron-Property-1Text3: "\e91d";
$icon-PositionLeft3: "\e91d";
$icon-Size325: "\e91d";
$icon-Chevron-Property-1Text6: "\e91e";
$icon-PositionRight3: "\e91e";
$icon-Size246: "\e91e";
$icon-Chevron-Property-1Text5: "\e91f";
$icon-PositionRight2: "\e91f";
$icon-Size327: "\e91f";
$icon-Chevron-Property-1Text7: "\e920";
$icon-PositionUp3: "\e920";
$icon-Size247: "\e920";
$icon-Chevron-Property-1Text4: "\e921";
$icon-PositionUp2: "\e921";
$icon-Size326: "\e921";
$icon-Circle-Close: "\e922";
$icon-Close: "\e923";
$icon-CopyLink-Property-132: "\e924";
$icon-CopyLink-Property-1Default: "\e925";
$icon-Cursor-Size24: "\e926";
$icon-Cursor-Size32: "\e927";
$icon-Download-Property-124: "\e928";
$icon-Download-Property-132: "\e929";
$icon-Educational-Sessions: "\e92a";
$icon-Facebook-Property-132: "\e92b";
$icon-Facebook-Property-140: "\e92c";
$icon-FAcebook: "\e92d";
$icon-Family-History: "\e92e";
$icon-Featured-Property-124: "\e938";
$icon-Focus: "\e93c";
$icon-Gender-Specific-Group: "\e93d";
$icon-Gender-specific-programming: "\e93e";
$icon-Health-Assessment: "\e93f";
$icon-Icon-1-2: "\e940";
$icon-Icon-1: "\e941";
$icon-Instagram: "\e944";
$icon-leading-icon: "\e945";
$icon-LinkedIn: "\e948";
$icon-List-2: "\e949";
$icon-List: "\e94a";
$icon-location_on: "\e94b";
$icon-LogoChevron-Size24: "\e94c";
$icon-LogoChevron-Size32: "\e94d";
$icon-Mail-Property-132: "\e94e";
$icon-Mail-Property-1Default: "\e94f";
$icon-Medical-necessity: "\e950";
$icon-Medical-Services: "\e951";
$icon-Meditation-Property-124: "\e952";
$icon-On-site-Gym: "\e959";
$icon-On-site-schooling-options: "\e95a";
$icon-phone: "\e95b";
$icon-Photo-2: "\e95c";
$icon-Photo: "\e95d";
$icon-Physical-health: "\e95e";
$icon-Pinterest: "\e95f";
$icon-Play: "\e960";
$icon-Plus-Size24: "\e961";
$icon-Plus-Size32: "\e962";
$icon-Podcast: "\e963";
$icon-Refined-Logo-Arrow: "\e964";
$icon-Relapse: "\e965";
$icon-Search-Size24: "\e966";
$icon-Search-Size32: "\e967";
$icon-Spiritual-Care-Services: "\e968";
$icon-star: "\e969";
$icon-Substance-Type: "\e96a";
$icon-Thought-Property-124: "\e96b";
$icon-Twitter: "\e96f";
$icon-User: "\e970";
$icon-Wellness-activities-2: "\e971";
$icon-Wellness-activities: "\e972";
$icon-Youtube: "\e973";
