<div class="button aem-GridColumn aem-GridColumn--default--12">
    <button type="BUTTON" id="form-button-1456471026" class="cmp-form-button  cmp-form-button--{{state}} cmp-form-button--{{variant}}" name="button">{{text}}</button>
</div>
<h4>Submit Button</h4>
<div class="button aem-GridColumn aem-GridColumn--default--12">
      <button type="SUBMIT" id="form-button-1348159233" class="cmp-form-button" name="submit-demo-form-1">Submit</button>
</div>