<div class="cmp-form-text cmp-form-text--{{variant}} cmp-form-text--{{state}}">
    <label for="form-text-991299145">{{formlabel}}</label>
    <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="form-text-991299145" placeholder="{{placeholder}}" name="firstName" aria-describedby="form-text-991299145-helpMessage">
</div>