<div class="form-group drop-down drop-down--{{variant}}">
<label for="form-options-137302427">{{dropdownlabel}}</label>
<select name="nationality" id="form-options-137302427" class="form-control">
    <option disabled selected value="">{{defaulttext}}</option>
    <option value="">Less than $100,000</option>
    <option value="">$100,000 - $250,000</option>
    <option value="">$250,000-$500,000</option>
    <option value="">$500,000-$750,000</option>
    <option value="">$1,000,000+</option>
</select>
</div>