<div class="container responsivegrid">
  <form method="POST" action="/content/core-components-examples/library/core-form/form-options.html" id="new_form" name="new_form" enctype="multipart/form-data" class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12">
    <input type="hidden" name=":formstart" value="/content/core-components-examples/library/core-form/form-options/jcr:content/root/responsivegrid/demo_665944747/component/container">
    <input type="hidden" name="_charset_" value="utf-8">
    <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
    <div class="form-group drop-down drop-down--{{variant}}">
        <label for="form-options-137302427">{{dropdownlabel}}</label>
        <select name="nationality" id="myselect" class="form-control">
            <option disabled selected value="">{{defaulttext}}</option>
            <option value="">Less than $100,000</option>
            <option value="">$100,000 - $250,000</option>
            <option value="">$250,000-$500,000</option>
            <option value="">$500,000-$750,000</option>
            <option value="">$1,000,000+</option>
        </select>
    </div>
    </div>
  </form>
</div>
