<div class="button aem-GridColumn aem-GridColumn--default--12">
    <button type="BUTTON" id="form-button-1456471026" class="cmp-form-button  cmp-form-button--{{state}} cmp-form-button--{{variant}}" name="button">{{text}}</button>
</div>