<div class="fe-container--left-right-131 fe-subadvised-sponsor">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    <div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
      <div id="container-e46654a732" class="cmp-container">
         <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="faqaccordion aem-GridColumn aem-GridColumn--default--12">
               <div id="faqaccordion-6238e45bc7" class="cmp-accordion">
                  <script type="application/ld+json">
                     {
                     "@context": "https://schema.org",
                     "@type": "FAQPage",
                     "mainEntity": [
                     {
                     "@type": "Question",
                     "name": "How are you different than other planners?&nbsp;&nbsp;",
                     "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "Our fee-only financial planners provide straightforward advice with your values and goals in mind. We are fiduciaries and put our clients’ interests above all others. Not simply because it’s a legal requirement, but because it’s the right thing to do. Our planners don’t sell proprietary investment products to earn commissions and aren’t incentivized to place your money with any specific funds. We have merged dedicated human relationships with patented financial technology to give individual investors access to advanced portfolio management and personalized financial strategies."
                     }
                     },
                     {
                     "@type": "Question",
                     "name": "What specialized services do you offer clients?",
                     "acceptedAnswer": {
                     "@type": "Answer",
                     "text": "We take a modern approach to integrated wealth management, providing our clients with comprehensive strategies around financial planning, retirement planning, investment management, tax planning, estate planning and insurance planning, all with the goal of elevating their wealth potential."
                     }
                     }
                     ]
                     }
                  </script>
                  <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-expanded="">
                     <h3 class="cmp-accordion__header">
                        <button id="how-are-you-different-than-other-advisors--43edab2f5b-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="how-are-you-different-than-other-advisors--43edab2f5b-panel" data-cmp-hook-accordion="button" aria-expanded="true">
                        <span class="cmp-accordion__title">How are you different than other planners?&nbsp;&nbsp;
                        </span>
                        <span class="cmp-accordion__icon"></span>
                        </button>
                     </h3>
                     <div data-cmp-hook-accordion="panel" id="how-are-you-different-than-other-advisors--43edab2f5b-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="how-are-you-different-than-other-advisors--43edab2f5b-button" aria-hidden="false">
                        <div class="text">
                           <div id="text-how-are-you-different-than-other-advisors--43edab2f5b" class="cmp-text">
                              <p>Our fee-only financial planners provide straightforward advice with your values and goals in mind. We are fiduciaries and put our clients’ interests above all others. Not simply because it’s a legal requirement, but because it’s the right thing to do. Our planners don’t sell proprietary investment products to earn commissions and aren’t incentivized to place your money with any specific funds. We have merged dedicated human relationships with patented financial technology to give individual investors access to advanced portfolio management and personalized financial strategies.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="cmp-accordion__item" data-cmp-hook-accordion="item">
                     <h3 class="cmp-accordion__header">
                        <button id="what-specialized-services-do-you-offer-clients--1212401184-button" class="cmp-accordion__button" aria-controls="what-specialized-services-do-you-offer-clients--1212401184-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                        <span class="cmp-accordion__title">What specialized services do you offer clients?
                        </span>
                        <span class="cmp-accordion__icon"></span>
                        </button>
                     </h3>
                     <div data-cmp-hook-accordion="panel" id="what-specialized-services-do-you-offer-clients--1212401184-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="what-specialized-services-do-you-offer-clients--1212401184-button" aria-hidden="true">
                        <div class="text">
                           <div id="text-what-specialized-services-do-you-offer-clients--1212401184" class="cmp-text">
                              <p>We take a modern approach to integrated wealth management, providing our clients with comprehensive strategies around financial planning, retirement planning, investment management, tax planning, estate planning and insurance planning, all with the goal of elevating their wealth potential.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container responsivegrid cmp-container--padding cmp-container--center aem-GridColumn aem-GridColumn--default--12">
      <div id="container-4327554eb1" class="cmp-container">
         <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="button cmp-button--button-primary aem-GridColumn aem-GridColumn--default--12">
               <a id="button-293e465c6c" class="cmp-button" href="#">
               <span class="cmp-button__text">Market Volatility Resource Center</span>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="container responsivegrid cmp-container--padding-bottom aem-GridColumn aem-GridColumn--default--12">
      <div id="container-a7d80a6c51" class="cmp-container">
         <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="text aem-GridColumn aem-GridColumn--default--12">
               <div id="text-c889a9f8e2" class="cmp-text">
                  <p><span class="cmp-text--detail"><sup>1</sup> The industry average is based on reporting in PriceMetrix’s, “The State of North American Retail Wealth Management, 10th Annual Report” which found that based on PriceMetrix’s proprietary database (as of the end of 2020 was comprised of detailed client-holdings and transaction information from roughly 70,000 financial advisors), the average fee in 2020 for accounts with assets between $1M and $1.5M was 1.05%. For the same asset range, the 2019 average fee was 1.05% and the 2018 average fee was 1.06%. Industry average fees are subject to change. Investment Advisor services vary, and some advisors in the studies may provide different services than Financial Engines Advisors L.L.C. The report is available here.</span></p>
                  <p>&nbsp;</p>
                  <p><span class="cmp-text--detail">Investing strategies, such as asset allocation, diversification, or rebalancing, do not assure or guarantee better performance and cannot eliminate the risk of investment losses. All investments have inherent risks, including loss of principal. There are no guarantees that a portfolio employing these or any other strategy will outperform a portfolio that does not engage in such strategies. Past performance does not guarantee future results.</span></p>
               </div>
            </div>
            <div class="tabs panelcontainer cmp-tabs--horizontal aem-GridColumn aem-GridColumn--default--12">
               <div id="tabs-5679d2c1bd" class="cmp-tabs" data-placeholder-text="false">
                  <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
                     <li role="tab" id="tabs-5679d2c1bd-item-6288327995-tab" class="cmp-tabs__tab cmp-tabs__tab--active" aria-controls="tabs-5679d2c1bd-item-6288327995-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">Tab 1</li>
                     <li role="tab" id="tabs-5679d2c1bd-item-9c7b332592-tab" class="cmp-tabs__tab" aria-controls="tabs-5679d2c1bd-item-9c7b332592-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Tab 2</li>
                  </ol>
                  <div id="tabs-5679d2c1bd-item-6288327995" role="tabpanel" aria-labelledby="tabs-5679d2c1bd-item-6288327995-tab" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-5679d2c1bd-item-6288327995&quot;:{&quot;@type&quot;:&quot;efe/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
                     <div class="container responsivegrid">
                        <div id="container-6288327995" class="cmp-container">
                           <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="tabs-5679d2c1bd-item-9c7b332592" role="tabpanel" aria-labelledby="tabs-5679d2c1bd-item-9c7b332592-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-5679d2c1bd-item-9c7b332592&quot;:{&quot;@type&quot;:&quot;efe/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
                     <div class="container responsivegrid">
                        <div id="container-9c7b332592" class="cmp-container">
                           <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>