.fe-subadvised-sponsor .title.cmp-title--heading-04{
    & .cmp-title__text{
        font-family:'Open Sans';
        @include media('<=tablet') {
            font-size: rem(32px);
        }
    }

    @include media('<=tablet') {
        margin-bottom: rem(80px);
    }
}

.cmp-accordion{
    &__item{
        &:not(:nth-child(2)){
            & .cmp-accordion__header {
                & .cmp-accordion__button{
                    margin-top: rem(20px);
                }
            }
        }
    }

    & &__header{
        .cmp-accordion__title{
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            font-family: 'Open Sans';
        }
    }

    & &__button{
        padding: rem(20px) rem(60px) rem(12px) rem(60px);
        @include media('<=tablet') {
            padding: rem(21px) rem(56px) rem(18px) rem(56px);
        }
        border: 2px solid #B3B9BE;
        border-radius: rem(3px);
        &--expanded{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

    & &__panel{
        border-radius: 3px;
        padding: rem(36px) rem(80px) rem(24px) rem(80px);
        @include media('<=tablet') {
            padding: rem(12px) rem(23px) rem(24px) rem(24px);
        }
        &--expanded{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        & p{
            font-family: 'Open Sans';
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
        }
    }
}