<section data-component="location-map-results" class="cmp-location--results cmp-location--results-default">
    <form class="cmp-location--results__search-form" method="POST" action="/locations/">
        <div class="input-container">
            <label for="location">City, State or ZIP Code</label>
            <input
                id="location"
                name="location"
                type="text"
                placeholder="Minneapolis, MN"
            />
        </div>
        <a
            class="efe-cta-primary"
            onclick="document.getElementById('location-search-form').submit()"
        >SEARCH LOCATIONS</a>
    </form>
    <div class="cmp-location--results__map">
        <div id="map_canvas" style="position:absolute;height:100%;width:100%"></div>
    </div>
    <div class="cmp-location--results__items {{variant}}">
        {{#if variant}}
        <div class="cmp-location--results__items--item">
            <h2>National Planner Center</h2>
            <p>833-PLAN-EFE</p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
            <p>
                Currently, we don’t have any planners in your immediate area, but we’re still here to help! Connect with a member of the experienced team at our National Planner Center to get started.
            </p>
        </div>
        {{else}}
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        <div class="cmp-location--results__items--item">
            <h2>City / Office Name</h2>
            <p>Street line 1</p>
            <p>Street line 2</p>
            <p><span>City</span> <span>State</span> <span>ZIP</span></p>
            <a href="/?path=/story/components-locationmapdirections--map-directions">Explore location</a>
        </div>
        {{/if}}
    </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASNIvr770pL6OphL5ZgBetnoPrcSvgbls&v=weekly"></script>
<script type="text/javascript">
    var myLatLng = new google.maps.LatLng(39.828175, - 98.5795);
    var styles = [
        {
            stylers: [
                { saturation: -100 }
            ]
        }
    ];
    var image = "https://www.edelmanfinancialengines.com/wp-content/themes/EFE_Divi_Child_Theme/images/efe-marker.svg";
    var styledMap = new google.maps.StyledMapType(styles,
        {name: "Styled Map"});
    var options = {
        zoom: 5,
        center: new google.maps.LatLng(39.828175, -98.5795), // centered US
        mapTypeControl: false,
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.TERRAIN, 'map_style']
        }
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'), options);
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
    var marker = new google.maps.Marker({
    position: new google.maps.LatLng(
        39.828175,
        -98.5795
    ),
    map: map,
    title: 'Middle of America PIN',
    icon: image,
});
//to be changed in future
document.querySelector('.efe-cta-primary').addEventListener('click', ()=>{
    document.querySelector('.cmp-location--results').classList.remove('cmp-location--results-default')
})
</script>
