
.cmp-accordion {
    &__item {
        margin: 0 rem(26) rem(20px) rem(20);
    }
    .cmp-accordion__button {
        width: 100%;
        background: $white-primary;
        border: 1px solid $efe-gray-mid-new;
        border-radius: rem(3px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: rem(20) rem(52);
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .cmp-accordion__icon {
        //margin-top: rem(10px);
        float: right;
        font-family: '#{$icomoon-icon-font-family}' !important;
        &:before { content: $icon-Chevron-Property-1Default1; }
    }

    .cmp-accordion__button--expanded {
        border: 2px solid $efe-gray-blue;
       
        .cmp-accordion__icon {
            transform: rotate(180deg);
        }
    }
    .cmp-accordion__panel {
        font-size: $font-size-small;
        padding: rem(20) rem(20) rem(36) rem(20);
        background: $white-primary;
        @include animated();
        @include fadeIn();
    }

    .cmp-accordion__panel--expanded {
        display: block;
        border: 2px solid $efe-gray-blue;
        border-top: 0;
        border-radius: rem(3px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .cmp-accordion__panel--hidden {
        display: none;
    }

    .cmp-accordion__header {
        margin:0;
        line-height: 0;
        .cmp-accordion__title {
            @include body-02;
        }
    }
    .cmp-text {
        p {
            @include body-02;
        }
    }
}

