<link type="text/css" rel="StyleSheet" href="https://efe.dinkytown.net/KJE.css">
<link type="text/css" rel="StyleSheet" href="https://efe.dinkytown.net/KJESiteSpecific.css">
<div id="KJEAllContent" class="efe-calc"></div>
<script SRC='https://efe.dinkytown.net/KJE.js'></script>
<script type="text/javascript" src="https://efe.dinkytown.net/KJESiteSpecific.js"></script>
<script type="text/javascript" src="https://efe.dinkytown.net/InvestmentVariables.js"></script>
<script type="text/javascript" src="https://efe.dinkytown.net/InvestmentVariablesParams.js"></script>
