<div class="{{variation}}">
   <div>
      <div id="fe-call-me-form" data-options="{&quot;initiationPoint&quot;: &quot;Test Id&quot;, &quot;desc&quot;: &quot;Form Title from AEM 2&quot;, &quot;buttonText&quot;: &quot;CALL AN ADVISOR&quot;, &quot;appointmentTypeId&quot;: &quot;Test Id&quot;, &quot;hasAppointmentScheduler&quot;: false}">
         <div id="fe-call-me-back" class="fe-clearfix">
            <div>
               <div class="fe-call-me-back-header">
                  Form Title from AEM 2
               </div>
               <form name="feCallMeBack" id="feCallMeBack" class="fe-form fe-clearfix" novalidate="">
                  <div class="fe-form__group fe-form__group--first-name">
                     <div class="fe-form__label-wrapper">
                        <label id="firstNameLabel" for="firstName">First Name</label>
                     </div>
                     <div class="fe-form__field">
                        <div class="fe-form__control-wrapper">
                           <input class="fe-form__control" id="firstName" name="firstName">
                        </div>
                     </div>
                  </div>
                  <div class="fe-form__group fe-form__group--last-name">
                     <div class="fe-form__label-wrapper">
                        <label id="lastNameLabel" for="lastName">Last Name</label>
                     </div>
                     <div class="fe-form__field">
                        <div class="fe-form__control-wrapper">
                           <input class="fe-form__control" id="lastName" name="lastName">
                        </div>
                     </div>
                  </div>
                  <div class="fe-form__group fe-form__group--email">
                     <div class="fe-form__label-wrapper">
                        <label for="email">Email </label> <span class="required">(Required)</span>
                     </div>
                     <div class="fe-form__field">
                        <input type="email" class="fe-form__control" name="email" id="email" placeholder="someone@example.com" data-required="true" data-pattern="^[A-Za-z0-9._'%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$">
                        <span class="fe-form__error">Please enter a valid email address.</span>
                     </div>
                  </div>
                  <div class="fe-form__group fe-form__group--phone">
                     <div class="fe-form__label-wrapper">
                        <label for="phone">Phone Number </label> <span class="required">(Required)</span>
                     </div>
                     <div class="fe-form__field">
                        <input type="text" class="fe-form__control" id="phone" name="phone" placeholder="000-000-0000" data-required="true" data-pattern="^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$">
                        <span class="fe-form__error">Please enter a valid phone number.</span>
                     </div>
                  </div>
                  <div class="fe-form__group fe-form__group--disclaimer">
                     <div class="fe-form__signup-disclosures">
                        <small class="fe-form__signup-disclosure">Please confirm your information above and an advisor will contact you.</small>
                     </div>
                  </div>
                  <div class="fe-form__group fe-form__group--call-me-button">
                     <div class="fe-form__processing"><span>Processing</span><i class="fa-2x fa fa-spinner fa-pulse"></i></div>
                     <button id="btn-call-me-back" class="fe-form__button fe-form__button--block">CALL AN ADVISOR</button>
                  </div>
                  <div class="fe-form__group fe-form__group--privacy">
                     <div class="fe-form__signup-disclosure fe-form__signup-disclosure--privacy-policy">
                        <div>
                           By submitting this form and providing your phone number, you agree that Edelman Financial Engines and/or Financial Engines Advisors may call or text you at the number you provided for transactional communications regarding scheduling appointments and appointment reminders. For texts, text STOP to cancel, HELP for help. Message and data rates may apply. <b>You are also agreeing to our </b> <a href="https://www.edelmanfinancialengines.com/terms-of-use/" target="_blank"> Terms of Use </a> <b>  and </b> 
                           <a href="https://legaldocs.feitest.io/Master/FEA_PrivacyPolicy_MA.pdf" target="legal-window">Privacy Policy</a>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="fe-dashboard-button"></div>
   </div>
</div>

<div class="{{variation}}">
<div id="fe-call-me-back" class="fe-clearfix">
  <div>
    <div class="fe-call-me-back-header">
      Schedule your complimentary retirement review by July 2.
    </div>

    <form name="feCallMeBack" id="feCallMeBack" class="fe-form fe-clearfix" novalidate="">
      <div class="fe-form__group fe-form__group--first-name">
        <div class="fe-form__label-wrapper">
          <label id="firstNameLabel" for="firstName">First Name</label>
        </div>
        <div class="fe-form__field">
              <div class="fe-form__control-wrapper">
                <input class="fe-form__control" id="firstName" name="firstName">
              </div>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--last-name">
        <div class="fe-form__label-wrapper">
          <label id="lastNameLabel" for="lastName">Last Name</label>
        </div>
        <div class="fe-form__field">
              <div class="fe-form__control-wrapper">
                <input class="fe-form__control" id="lastName" name="lastName">
              </div>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--email">
        <div class="fe-form__label-wrapper">
          <label for="email">Email </label> <span class="required">(Required)</span>
        </div>
        <div class="fe-form__field">
          <input type="email" class="fe-form__control" name="email" id="email" placeholder="someone@example.com" data-required="true" data-pattern="^[A-Za-z0-9._'%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$">
          <span class="fe-form__error">Please enter a valid email address.</span>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--phone">
        <div class="fe-form__label-wrapper">
          <label for="phone">Phone Number </label> <span class="required">(Required)</span>
        </div>
        <div class="fe-form__field">
          <input type="text" class="fe-form__control" id="phone" name="phone" placeholder="000-000-0000" data-required="true" data-pattern="^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$">
          <span class="fe-form__error">Please enter a valid phone number.</span>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--disclaimer">
        <div class="fe-form__signup-disclosures">
          <small class="fe-form__signup-disclosure">Please confirm your information above and an advisor will contact you.</small>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--call-me-button">
        <button id="btn-call-me-back" class="fe-form__button fe-form__button--block">Have an Advisor Contact Me</button>
      </div>

      <div class="fe-form__group fe-form__group--appt-scheduler">
        <div id="appt-scheduler">
          <span id="sched-text">Or you can schedule an appointment instead.</span>
          <a href="https://ui-stage.timetradesystems.com/app/financialengines/workflows/financial0013/schedule/?locationId=hfinancialengine&amp;appointmentTypeId=Wellbeing-Q2-2021" target="_blank" class="fe-form__button fe-form__button--outline fe-form__button--block">Schedule an appointment</a>
        </div>
      </div>

      <div class="fe-form__group fe-form__group--privacy">
        <div class="fe-form__signup-disclosure fe-form__signup-disclosure--privacy-policy">
          <div>
            By submitting this form and providing your phone number, you agree that Edelman Financial Engines and/or Financial Engines Advisors may call or text you at the number you provided for transactional communications regarding scheduling appointments and appointment reminders. For texts, text STOP to cancel, HELP for help. Message and data rates may apply. <b>You are also agreeing to our </b> <a href="https://www.edelmanfinancialengines.com/terms-of-use/" target="_blank"> Terms of Use </a> <b>  and </b> 
            <a href="https://legaldocs.feitest.io/Master/FEA_PrivacyPolicy_MA.pdf" target="legal-window">Privacy Policy</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>