<div data-sly-use.accordion="com.efe.core.models.FAQAccordion"
  data-panelcontainer="${wcmmode.edit && 'accordion'}"
  id="${accordion.id}"
  class="cmp-accordion"
  data-cmp-is="accordion"
  data-cmp-data-layer="${accordion.data.json}"
  data-cmp-single-expansion="${accordion.singleExpansion}"
  data-placeholder-text="${wcmmode.edit && 'Please add content fragment in dialog'}">
  <div data-sly-list.faqItem="${accordion.faqList}">
    <p>${faqItem.question}</p>
    <p>${faqItem.answer}</p>
  </div>
</div>
