.cmp-list--column {
    &.cmp-list--tight {
        .teaser {
            margin-bottom: 8px;
        }
        .cmp-list {
            column-gap: 8px;
        }
    }

    &.cmp-list--moderate {
        .teaser {
            margin-bottom: 24px;
        }
        .cmp-list {
            column-gap: 24px;
        }
    }

    &.cmp-list--loose {
        .teaser {
            margin-bottom: 48px;
        }
        .cmp-list {
            column-gap: 48px;
        }
    }
}

.cmp-list--horizontal {
    &.cmp-list--tight {
        .cmp-list {
            gap: 8px;
        }
    }

    &.cmp-list--moderate {
        .cmp-list {
            gap: 24px;
        }
    }

    &.cmp-list--loose {
        .cmp-list {
            gap: 48px;
        }
    }
}

.cmp-list--vertical {
    &.cmp-list--tight {
        .cmp-list {
            gap: 8px;
        }
    }

    &.cmp-list--moderate {
        .cmp-list {
            gap: 24px;
        }
    }

    &.cmp-list--loose {
        .cmp-list {
            gap: 48px;
        }
    }
}
