.cmp-list--vertical {
    &.cmp-list--tight {
        .cmp-teaser--thumbnail {
            margin-bottom: 8px;
        }
        .cmp-list {
            column-gap: 8px;
        }
    }

    &.cmp-list--moderate {
        .cmp-teaser--thumbnail {
            margin-bottom: 24px;
        }
        .cmp-list {
            column-gap: 24px;
        }
    }

    &.cmp-list--loose {
        .cmp-teaser--thumbnail {
            margin-bottom: 48px;
        }
        .cmp-list {
            column-gap: 48px;
        }
    }
}

.cmp-list--horizontal {
    &.cmp-list--tight {
        .cmp-teaser--thumbnail {
            padding: 4px;
        }
    }

    &.cmp-list--moderate {
        .cmp-teaser--thumbnail {
            padding: 12px;
        }
    }

    &.cmp-list--loose {
        .cmp-teaser--thumbnail {
            padding: 24px;
        }
    }
}
