.cmp-list--horizontal {
    .cmp-list {
        @include flexbox($flex-wrap: wrap);
        .cmp-list__item {
            display: inline-block;
            margin-bottom: unset;
            width: unset;
        }
        .cmp-teaser--thumbnail {
            display: inline-block;
            @include media('<tablet') {
                width: 100%;
            }
        }
    }
    &.cmp-list--left-align {
        .cmp-list {
            justify-content: left;
        }
    }
    &.cmp-list--right-align {
        .cmp-list {
            justify-content: right;
        }
    }
    &.cmp-list--center-align {
        .cmp-list {
            justify-content: center;
        }
    }
}
