.cmp-list--footer {
  margin: 41px 0;
  .cmp-list {
    @include flexbox($gap: 20px 16px, $flex-wrap: wrap);
    width: 100%;
    margin-bottom: 0;
    @media screen and (min-width: $lg) {
      @include flexbox($gap: 20px 51px);
    }

    .cmp-list__item {
      margin-bottom: unset;
      width: unset;
    }

    .cmp-list__item-link {
      color: $efe-gray-new;
      text-decoration: none;
      @include footer-02;
      padding: 0;
      &:hover {
        .cmp-list__item-title {
          text-decoration: none;
        }
      }
    }

    .cmp-list__item-title {
      color: $efe-gray-new;
    }
  }

  @media screen and (min-width: $lg) {
    margin: 41px 0;
    .cmp-list {
      margin-bottom: 0;
    }
  }
}
