.cmp-list--vertical {
    .cmp-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 2500px;
        gap: 8px;
        float: unset;
    }
    &.cmp-list--top-align {
        .cmp-list {
            justify-content: left;
        }
    }
    &.cmp-list--middle-align {
        .cmp-list {
            justify-content: center;
        }
    }
    &.cmp-list--bottom-align {
        .cmp-list {
            justify-content: end;
        }
    }
}
