.cmp-list--horizontal {
    .cmp-list {
        @include flexbox($flex-wrap: wrap);
        .cmp-list__item {
            @include flexbox();
            margin-bottom: unset;
            width: unset;
        }
        .cmp-teaser--thumbnail {
            display: inline-block;
            width: rem(260);
            min-height: rem(353);
            @include media('<tablet') {
                width: 100%;
                min-height: auto;
            }
            .cmp-teaser__image img {
                width: 100%;
                height: auto;
            }
        }
    }
    &.cmp-list--left-align {
        .cmp-list {
            justify-content: left;
        }
    }
    &.cmp-list--right-align {
        .cmp-list {
            justify-content: right;
        }
    }
    &.cmp-list--center-align {
        .cmp-list {
            justify-content: center;
        }
    }
}
