<div class="list {{#if variation}}cmp-list--{{variation}}{{/if}} 
      {{#if unbounceFooter}}unbounce-footer-links {{/if}}" 
>
  <ul id="list-3a1e8d64e8" data-cmp-data-layer="{&quot;list-3a1e8d64e8&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/aemform.html">
        <span class="cmp-list__item-title">Legal Information</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-d4289694fa&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Accordion&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/accordion.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/accordion.html">
        <span class="cmp-list__item-title">Privacy Policy</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-059df26feb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/button.html">
        <span class="cmp-list__item-title">Terms Of Use</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-c866ae2588&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/carousel.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/carousel.html">
        <span class="cmp-list__item-title">Form CRS</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-c56e6f3c41&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/container.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/container.html">
        <span class="cmp-list__item-title">Edelman Financial Engines ADV</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-15f268b54a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/content-fragment.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/content-fragment.html">
        <span class="cmp-list__item-title">Business Continuity</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-21430f03a2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/content-fragment-list.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/content-fragment-list.html">
        <span class="cmp-list__item-title">Wrap Fee Brochure</span>
      </a>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-3a1e8d64e8-item-0677f080ec&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Core Form Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/form-container.html&quot;}}">
      <a class="cmp-list__item-link" data-cmp-clickable="" href="/content/core-components-examples/library/core-content/form-container.html">
        <span class="cmp-list__item-title">Do Not Share My Personal Information</span>
      </a>
    </li>
  </ul>
</div>
