<div class="list {{#if variation}}cmp-list--{{variation}}{{/if}} {{#if gap}}cmp-list--{{gap}}{{/if}} {{#if alignment}}cmp-list--{{alignment}}{{/if}}">
  <ul id="list-2833b18972" data-cmp-data-layer="{&quot;list-2833b18972&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
    {{>TeaserThumbnail text="1"}}
    {{>TeaserThumbnail text="2"}}
    {{>TeaserThumbnail text="3"}}
    {{>TeaserThumbnail text="4"}}
    {{>TeaserThumbnail text="5"}}
    {{>TeaserThumbnail text="6"}}
    {{>TeaserThumbnail text="7"}}
    {{>TeaserThumbnail text="8"}}
    {{>TeaserThumbnail text="9"}}
    {{>TeaserThumbnail text="10"}}
    {{>TeaserThumbnail text="11"}}
    {{>TeaserThumbnail text="12"}}
    {{>TeaserThumbnail text="13"}}
    {{>TeaserThumbnail text="14"}}
    {{>TeaserThumbnail text="15"}}
    {{>TeaserThumbnail text="16"}}
    {{>TeaserThumbnail text="17"}}
    {{>TeaserThumbnail text="18"}}
    {{>TeaserThumbnail text="19"}}
    {{>TeaserThumbnail text="20"}}
    {{>TeaserThumbnail text="21"}}
    {{>TeaserThumbnail text="22"}}
  </ul>
</div>
