<div class="text cmp-text--{{listtype}} cmp-text--{{variant}} ">
    <{{listtype}} id="list-c4be94eba2" data-cmp-data-layer="{&quot;list-c4be94eba2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
            <span class="cmp-list__item-title">Non amet enim ut aliquam bibendum nascetur eu vulputate?</span>
        </li>
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
            <span class="cmp-list__item-title">Id rutrum egestas orci scelerisque nunc duis tortor.</span>
        </{{listtype}}>
    </ul>
</div>



