<div class="list {{#if variation}}cmp-list--{{variation}}{{/if}} {{#if gap}}cmp-list--{{gap}}{{/if}} {{#if alignment}}cmp-list--{{alignment}}{{/if}} 
     {{#if border-radius}}cmp-list--border-radius{{/if}} cmp-teaser--service-button">
    <ul id="list-2833b18972" data-cmp-data-layer="{&quot;list-2833b18972&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="0"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="1"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="4"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="Another large text but not as large as other one"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="6"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="7"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="8"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="9"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="10"}}
        </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{> ServiceButtonTeaserAsList text="11"}}
        </li>
    </ul>
</div>
