<div class="list {{#if variation}}cmp-list--{{variation}}{{/if}} {{#if gap}}cmp-list--{{gap}}{{/if}} {{#if alignment}}cmp-list--{{alignment}}{{/if}} 
     {{#if border-radius}}cmp-list--border-radius{{/if}}">
    <ul id="list-2833b18972" data-cmp-data-layer="{&quot;list-2833b18972&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
            {{>ServiceButtonTeaser text="1"}}
            <li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="2"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="3"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="4"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="5"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="6"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="7"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="8"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="9"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="10"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="11"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="12"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="13"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="14"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="15"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="16"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="17"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="18"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="19"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="20"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="21"}}
            </li><li class="cmp-list__item" data-cmp-data-layer="{&quot;my_list-item-43c7808bfe&quot;:{&quot;@type&quot;:&quot;efe/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-07T11:17:23Z&quot;,&quot;dc:title&quot;:&quot;Building Wealth&quot;,&quot;xdm:linkURL&quot;:&quot;/content/efe/us/en/corp/service/Alias/investment-management/building-wealth.html&quot;}}">
                {{>ServiceButtonTeaser text="22"}}
            </li>
    </ul>
</div>
