<div class="list {{#if variation}}cmp-list--{{variation}}{{/if}} {{#if gap}}cmp-list--{{gap}}{{/if}} {{#if alignment}}cmp-list--{{alignment}}{{/if}} 
     {{#if border-radius}}cmp-list--border-radius{{/if}}">
  <ul id="list-2833b18972" data-cmp-data-layer="{&quot;list-2833b18972&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">
    {{>ServiceButtonTeaser text="1"}}
    {{>ServiceButtonTeaser text="2"}}
    {{>ServiceButtonTeaser text="3"}}
    {{>ServiceButtonTeaser text="4"}}
    {{>ServiceButtonTeaser text="5"}}
    {{>ServiceButtonTeaser text="6"}}
    {{>ServiceButtonTeaser text="7"}}
    {{>ServiceButtonTeaser text="8"}}
    {{>ServiceButtonTeaser text="9"}}
    {{>ServiceButtonTeaser text="10"}}
    {{>ServiceButtonTeaser text="11"}}
    {{>ServiceButtonTeaser text="12"}}
    {{>ServiceButtonTeaser text="13"}}
    {{>ServiceButtonTeaser text="14"}}
    {{>ServiceButtonTeaser text="15"}}
    {{>ServiceButtonTeaser text="16"}}
    {{>ServiceButtonTeaser text="17"}}
    {{>ServiceButtonTeaser text="18"}}
    {{>ServiceButtonTeaser text="19"}}
    {{>ServiceButtonTeaser text="20"}}
    {{>ServiceButtonTeaser text="21"}}
    {{>ServiceButtonTeaser text="22"}}
  </ul>
</div>
