<section aria-label="planner-bio" class="cmp-efe-plannerbio">
   <div class="cmp-efe-plannerbio--container">
       <div class="cmp-efe-plannerbio--container__hero-text">
           <h2 class="cmp-efe-plannerbio--container__hero-text--first">First Name</h2>
           <h2 class="cmp-efe-plannerbio--container__hero-text--last">Last Name</h2>
           <p class="cmp-efe-plannerbio--container__hero-text--desc">Certification Abbreviation</p>
           <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default">
               <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                   <span class="cmp-button__text">Request an Appointment</span>
               </button>
           </div>
       </div>
       <div class="cmp-efe-plannerbio--container__hero-img">
           <img src="./icons/head-shot.jpg" alt="picture of a planner" class="cmp-efe-plannerbio--container__hero-img--main">
           <img src="./icons/pattern.svg" class="cmp-efe-plannerbio--container__hero-img--pattern">
       </div>
   </div>
   <div class="cmp-efe-plannerbio--aboutus">
       <h2 class="cmp-efe-plannerbio--aboutus__title">One of three headline options</h2>
       <div class="cmp-efe-plannerbio--aboutus__container">
           <div class="cmp-efe-plannerbio--aboutus__aboutme">
               <h3 class="cmp-efe-plannerbio--aboutus__aboutme--subtitle">About me</h3>
               <p>PERSONAL BLURB - Since 1992, I’ve been working with my clients as their dedicated financial planner. Together we discuss their lifelong hopes and dreams, then create a livable plan that can help keep them on track to reach every one of their goals. Outside of work, I enjoy spending time boating with my family. I also like trying new restaurants and exploring unique flavors.</p>
           </div>
           <div class="cmp-efe-plannerbio--aboutus__block">
               <div class="cmp-efe-plannerbio--aboutus__certification">
                   <h3 class="cmp-efe-plannerbio--aboutus__certification--subtitle">Certifications</h3>
                   <p>Full certification title 1</p>
                   <p>Full certification title 2</p>
                   <p>Full certification title 3</p>
               </div>
               <div class="cmp-efe-plannerbio--aboutus__education">
                   <h3 class="cmp-efe-plannerbio--aboutus__education--subtitle">Education</h3>
                   <p>Degree title, Institution name 1</p>
                   <p>Degree title, Institution name 2</p>
                   <p>Degree title, Institution name 3</p>
               </div>
           </div>
       </div>
       <div class="button cmp-efe-plannerbio--container__hero-text--cta cmp-button--button-primary cmp-button--unset cmp-button--default cmp-button--default cmp-efe-plannerbio--aboutus__cta">
           <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
               <span class="cmp-button__text">Request an Appointment</span>
           </button>
       </div>
   </div>
   <div class="cmp-efe-plannerbio--locations">
       <h2 class="cmp-efe-plannerbio--locations__title">Visit one of our locations</h2>
       <div class="cmp-efe-plannerbio--locations__container">
            <div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div>
            <div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div><div class="cmp-efe-plannerbio--locations__location">
                <h3>City/Office Name</h3>
                <p>Street line 1</p>
                <p>Street line 2</p>
                <p><span>City </span><span>State </span><span>ZIP</span></p>
                <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="#">
                        <span class="cmp-button__text">Explore Locations</span>
                    </a>
                </div>
            </div>
       </div>
   </div>
</section>
