
.fidelity-wpi-theme {
    padding: 24px;
    border: 1px solid #cccccc;
    border-radius: 8px;  

    .flex {
        margin-bottom: 24px !important;
        gap: 24px !important;

        .wpi-img {
            width: 100px;
            height: 100px;
        }

        .provided-by {
            position: relative;
            top: 5px;
            margin-right: 6px;
        }
    }
    
    .copy {
        max-width: 67ch;

        h2 {
            font-size: rem(22);
            line-height: rem(24);
            font-weight: 700;
            color: black;
            font-family: "Fidelity Sans", Helvetica, sans-serif;
            margin-bottom: 16px;
        }
    
        h3 {
            font-family: "Fidelity Sans", Helvetica, sans-serif;
            font-size: rem(16);
            line-height: rem(19);
            color: black;
        }   
        
        p {
            margin-top: 8px;
            font-family: "Fidelity Sans", Helvetica, sans-serif;
            font-size: rem(14);
            line-height: 100%;
            color: black;
        }
    }
    
    .cmp-button--button-wpi {
        transition: $std-transition;
        .cmp-button {
            background-color: $fidelity-wpi-orange;
            color: white;
            max-height: rem(36);
            height: 100%;
            border-radius: 8px;
            border: 1px solid #D95900;
            transition: $std-transition;
            width: fit-content;
            padding: 8px 16px;
            text-align: center;
            min-width: rem(147);
            text-decoration: none;
            margin: 0;

            @include flexbox(
                $align-items: center,
                $justify-content: center
            );
        
            &:hover, &:active {
                transition: $std-transition;
                border: none;
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        
            .cmp-button__text {
                font-family: "Fidelity Sans", Helvetica, sans-serif;
                font-size: rem(16);
                line-height: 100%;
                font-weight: 700;
            }          
        }      
    }

    @media screen and (min-width: $sm) {
        .flex {
            flex-direction: row;
            -webkit-box-orient: horizontal;            
            -webkit-box-direction: normal;            
            -ms-flex-direction: row;            
            flex-direction: row;    
            
            .button {
                position: relative;
                right: 8px;
            }
        }
    }
}