.principal-wpi-theme {
    padding: 19px 19px 21px 14px;
    border-radius: 6px;

    .flex {
        img.wpi-img {
            width: 96px;
            height: 92px;
            position: absolute;
            top: rem(19);
            left: rem(14);     
        }    
        .copy {
            margin-left: rem(111);
            margin-bottom: rem(11);

            h2 {
                font-size: rem(22);
                color: $principal-gray;
                line-height: 100%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                margin-bottom: rem(15);
            }
            h3 {
                font-family: Arial, Helvetica, sans-serif;
                color: $principal-gray;
                font-size: rem(16);
                line-height: 100%;
            }
            p {
                font-family: Arial, Helvetica, sans-serif;
                color: $principal-gray;
                font-size: rem(14);
                line-height: 100%; 
                margin-top: rem(20);             
            }
        }  
        .cmp-button--button-wpi {
            margin-left: rem(111);
            a {
                width: rem(135);
                height: rem(32);
                border: 1px solid $principal-blue;
                border-radius: 30px;

                @include flexbox(
                    $align-items: center,
                    $justify-content: center
                );

                .cmp-button__text {
                    color: $principal-blue;
                    font-size: rem(16);
                    line-height: rem(19);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }   
        
        
    }

    &.wpi-alert {

        .provided {
            margin: 0;
            position: absolute;
            bottom: 0;
            right: rem(19);
            bottom: rem(22); 

            .provided-by {
                display: none;
            }
            svg.efe-lockup {
                width: 120px;
                height: 22px;
            }
        } 

        @media screen and (min-width: $sm) {
            .flex {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;        
                -webkit-box-direction: normal;        
                -ms-flex-direction: column;        
                flex-direction: column;
                margin-bottom: 0;
            }
        }

    }

    @media screen and (max-width: $sm) {
        padding: rem(15);

        .flex img.wpi-img, &.wpi-alert .provided {
            position: unset;
        }

        &.wpi-alert .provided {
            position: absolute;
            bottom: rem(15);
            right: rem(15);
        }


        &.wpi-alert .flex {
            margin-bottom: 0;
            .copy, .button {
                margin: 0;
            }

            .copy {
                margin-bottom: rem(15);
            }
        }
    }

    @media screen and (max-width: 405px) {
        img.wpi-img {
            display: none !important;
        }
        .provided {
            display: none;
        }
    }    

}