section.voya-wpi-theme {
    padding: 20px;
    max-width: rem(794);

    .copy {
        h2 {
            font-size: rem(18);
            line-height: rem(24);
            font-weight: 700;
            letter-spacing: .15px;
            font-family: "Proxima Nova", sans-serif;
            color: #333;
            margin-bottom: 20px;
        }
    }

    .flex {
        @include flexbox(
            $flex-direction: row,
            $gap: 20px,

        );
        margin-bottom: 20px;

        img.wpi-img {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
        }

        .copy {
            position: relative;
            bottom: 3px;
            h3, p {
                font-size: rem(16);
                line-height: rem(19.5);
                font-weight: 400;
                font-family: "Proxima Nova", sans-serif;
                color: #333;
                margin-bottom: 5px;
            }

        }
    }

    .cmp-button--button-wpi {
        width: rem(118);
        height: rem(40);
        color: #145a7b;
        border: 2px solid #145a7b;
        border-radius: 20px;    
        margin: 0 auto;  
        @include flexbox(
            $align-items:center,
        );
        text-align: center;
        a.cmp-button {
            flex-basis: 100%;
        }
        .cmp-button__text {
            font-size: rem(16);
            letter-spacing: .0125em;
            font-family: "Proxima Nova", sans-serif;
            font-weight: 500;
            color: #145a7b;
            line-height: 100%;
        }
    }
}