.embed { 
    .cmp-embed {
        .cmp-embed__youtube {
            padding: 0 !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            iframe.cmp-embed__youtube-iframe {
                aspect-ratio: 16 / 9;
                width: 100% !important;
            }
        }

        .cmp-embed__sundaysky {
            padding: 0 !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            align-items:center ; /* vertically center in container */
            width: 100%;
            max-width: 1200px;
            aspect-ratio: 16 / 9;
            

        iframe.cmp-embed__sundaysky-iframe {
            width: 100%;
            border:none;
            }
        }
        #sundaysky-video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 16 / 9;
            width: 100%;            
            min-height: 300px;         /* optional: ensures some height */
            padding: 1rem;             /* optional spacing */
            position: relative;
        }  
    }
}

@media (max-width: 768px) {
  .embed .cmp-embed .cmp-embed__sundaysky {
    max-width: 100%;
  }
}
