.embed { 
    .cmp-embed {
        .cmp-embed__youtube {
            padding: 0 !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            iframe.cmp-embed__youtube-iframe {
                aspect-ratio: 16 / 9;
                width: 100% !important;
            }
        }

        .cmp-embed__sundaysky {
            padding: 0 !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            align-items:center ; /* vertically center in container */
            width: 100%;
            max-width: 1200px;
            aspect-ratio: 16 / 9;
            

        iframe.cmp-embed__sundaysky-iframe {
            width: 100%;
            border:none;
            height: 100%;

            html,
            body {
                height: 100%;
            }
            }
        }
        #sundaysky-video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;       
            padding: 1rem;             /* optional spacing */
            position: relative;
            max-width :750px;
            margin: auto;
        }  
        #sskyElementsWrapper{
                width: 100%;
                height: 100%;
            }
    }
}


// Responsive override
@media (max-width: 768px) {
  .cmp-embed__sundaysky  {
    min-height: 200px; // smaller height for mobile
    height: auto !important;     // let aspect ratio control height
  }
}

@media (max-width: 480px) {
  .cmp-embed__sundaysky  {
    min-height: 150px; // smaller height for mobile
    height: auto !important;     // let aspect ratio control height
  }
}

