<div class="cmp-author-details">
    <div class="cmp-author-details__image">
        {{>ImageRTE
         variant="profile-thumb"
        borderradius="round"
        }}
    </div>
    <div class="cmp-author-details__description">
        {{>Title
        text="Bullet Points Heading here"
        variant="subhead-00"
        }}
        {{>Text
        text="Urna sollicitudin ipsum hendrerit mattis luctus. Habitasse urna vitae elemen tum tincidunt aliquet. Nisl
        fringilla eget sapien leo sit porttitor neque. Arcu et in tristique dis sed ultricies mattis. Ipsum quam sed
        lorem nunc at tortor volutpat. Ac et malesuada quis augue pellentesque elit sed. Vel et faucibus semper.



        [FULL CERTIFICATION TITLE 1]
        [FULL CERTIFICATION TITLE 2]
        [FULL CERTIFICATION TITLE 3]
        [DEGREE TITLE, INSTITUTION NAME 1]
        [DEGREE TITLE, INSTITUTION NAME 2]
        [DEGREE TITLE, INSTITUTION NAME 3] "
        variant="body-02"
        }}
    </div>
</div>