.cmp-author-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: rem(48px);
    width: 100%;

 @media screen and (min-width: $sm) {       
    flex-direction: row;
 }

    &__image {
    width: 158px;
    height: 158px;
    max-width:160px;
    }
    &__credits {
        p {
            @include body-02;
        }
        @include body-02;
        margin-top: 20px;
    }
    &__description {
        width: 100%;
        position: relative;
        bottom: 5px;

        .title {
            margin-bottom: 16px;
        }

    }
}
