<div class="text {{variant}} aem-GridColumn aem-GridColumn--default--12">
    <div data-cmp-data-layer="{&quot;text-80c3eee009&quot;:{&quot;@type&quot;:&quot;efe/components/text&quot;,&quot;repo:modifyDate&quot;:&quot;2023-05-03T13:54:14Z&quot;,&quot;xdm:text&quot;:&quot;<ol>\r\n<li>heading 1</li>\r\n<li>heading 2&amp;nbsp;</li>\r\n</ol>\r\n<p>&amp;nbsp;</p>\r\n<p>&amp;nbsp;</p>\r\n<p>ul list&amp;nbsp;</p>\r\n<p>&amp;nbsp;</p>\r\n<ul>\r\n<li>list 1</li>\r\n<li>list 2</li>\r\n<li>list 3</li>\r\n</ul>\r\n&quot;}}"
        id="text-80c3eee009" class="cmp-text">
        <ol>
            <li>heading 1</li>
            <li>heading 2&nbsp;</li>
        </ol>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>ul list&nbsp;</p>
        <p>&nbsp;</p>
        <ul>
            <li>list 1</li>
            <li>list 2</li>
            <li>list 3</li>
        </ul>
    </div>
</div>