<div id="table" class="cmp-text cmp-text--{{variant}}">
    <table cellpadding="1" cellspacing="0" border="1" width="100" height="100">
        <tbody>
            <tr>
                <th scope="col">heading</th>
                <th scope="col">title 1</th>
                <th scope="col">title 2</th>
                <th scope="col">title 3</th>
                <th scope="col">title 4</th>
                <th scope="col">title 5</th>
            </tr>

            <tr>
                <td>value 1</td>
                <td data-label="title 1">value</td>
                <td data-label="title 2">value</td>
                <td data-label="title 3">value</td>
                <td data-label="title 4">value</td>
                <td data-label="title 5">value</td>
            </tr>
            
            <tr>
                <td>value 2</td>
                <td data-label="title 1">value</td>
                <td data-label="title 2">value</td>
                <td data-label="title 3">value</td>
                <td data-label="title 4">value</td>
                <td data-label="title 5">value</td>
            </tr>

            <tr>
                <td>value 3</td>
                <td data-label="title 1">value</td>
                <td data-label="title 2">value</td>
                <td data-label="title 3">value</td>
                <td data-label="title 4">value</td>
                <td data-label="title 5">value</td>
            </tr>
            
            <tr>
                <td>value 4</td>
                <td data-label="title 1">value</td>
                <td data-label="title 2">value</td>
                <td data-label="title 3">value</td>
                <td data-label="title 4">value</td>
                <td data-label="title 5">value</td>
            </tr>
        </tbody>
    </table>
</div>