.cmp-title--stats-01 {
    *{
        @include stats-01;
    }
}

.cmp-title--superplus {
  .cmp-title__text:after {
      content: '+';
      color: $red-primary;
      vertical-align: super;
      line-height: 0;
  }
}
