@mixin efe-input-field {
    width: 100%;
    max-width: rem(372);
    border-radius: 3px;
    padding: 0 rem(20) !important;
    min-width: rem(250);
    height: rem(50);
    border: 1px solid $efe-gray-primary;
    
    &::-webkit-input-placeholder {
        color: $efe-gray-blue;
    }

    @include flexbox(
        $align-items: center,
        $justify-content: center
    );

    @include secondary-nav-link;


    &:focus, &:focus-visible {
        border-color: $efe-gray-primary;
        transition: $std-transition;
        color: $efe-gray-primary;
        outline: unset;
        border-width: 1px;
        border-style: solid;
    }

    &:hover {
        border-color: $efe-gray-blue;
        transition: $std-transition;
    }

    @media screen and (min-width: $sm) {
        min-width: rem(372);
        width: 100%;
    }
}