#homepage_huhy_form { 

    max-width: rem(665);
    margin: auto;
    padding-bottom: 10rem;
    overflow: hidden;

    #progress-bar-segmented {
        width: 100%;
    }

    progress#efe-progress-bar-default {
        width: 100%;
        -webkit-appearance: progress-bar;
        -moz-appearance: progress-bar;
        box-sizing: border-box;
        display: inline-block;
        border-radius: unset;
        height: rem(1);
        margin: rem(24) 0 rem(22.5);
        background-color: $efe-red-primary;
    }
    
    progress::-webkit-progress-value {
        background-color: $efe-red-primary;
        height: rem(4);
        position: relative;
        bottom: rem(1);
    }
    
    progress::-webkit-progress-bar {
        background-color: $efe-gray-blue;
        height: rem(1);
    }

    .lead_form_page_count {
        text-align: right;
        text-transform: unset;
        display: inline-block;
        float: right;
        align-self: end;
        -ms-flex-item-align: end;        
        -ms-grid-row-align: end;  
        @include footer-02;
    }

    .button.cmp-button--button-primary {
        margin-top: 24px;
    }

    // GENERIC STYLING
    section.container {
        button.efe-cta-back {
            align-self: start;
            -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            position: relative;
            bottom: 7px;
        }

        .hidden-lead-options {
            > .cmp-container--padding {
                padding: 32px 0 0 !important;
            }

            .cmp-text--body--01 {
                margin-bottom: rem(24);
            }
        }

        .cmp-button--body-03-link {
            margin-top: rem(16);
        }
    }

    .section-body {
        padding-top: rem(32);
        width: 100%;

        .cmp-title--heading-04 {
            margin-bottom: rem(10);
        }

        .cmp-text--body-02 {
            margin-bottom: rem(36);
        }

        .cmp-separator--primary hr {
            margin: rem(16) auto rem(26);
        }

        .cmp-text--body-01 {
            margin-bottom: rem(24);
        }

        .cmp-form-button--answer {
            margin-bottom: rem(12);
        }

        input {
            margin: 0 auto rem(12) !important;
        }

        label, .error-message {
            max-width: rem(372);
            margin: auto;
            text-align: left;
        }

        .error-message {
            color: $efe-red-primary;
            margin-bottom: rem(2);
        }
    }

    //FOR ALL STEPS
    #investmentManage_container, #retirementGoal_container {
    
        > div {
            padding: 0 !important;
        }

        h1 {
            @include body-03;
            text-transform: initial !important;
            margin-bottom: 24px
        }

    }

    @media screen and (min-width: $sm) {
        .section-body {
            text-align: center;
        }
    }

    @media screen and (min-width: $md) {
        section.container {
            button.efe-cta-back {
                top: 13px;
            }
        }
    }

    // FIRST STEP
    .personalize-investment_manage_page {

        #investmentManage_container {
        
            > div {
                padding: 0 !important;
            }

            .cmp-text > p {
                @include body-01;
                margin-bottom: rem(32);
            }

            .error-message {
                @include body-03;
                color: $efe-red-primary;
                margin-bottom: 10px;
            }

            .hidden-lead-options {
                .cmp-text--body-02 {
                    margin: 48px auto 0;
                }
            }
        }   
    }

    // SECOND STEP
    .personalize-retirement_goal_page {

        .cmp-text--caption {
            font-size: rem(26);
            margin-bottom: rem(24);
        }
        #retirementGoalError {
            @include body-03;
            color: $efe-red-primary;
        }

        .hidden-lead-options {
            .cmp-text--body-02 {
                margin: 48px auto 32px;
            }
        }
        
    }

    // THIRD STEP 
    .personalize-investable_assets_page {
        @media screen and (max-width: $md) {
            .cmp-button--efe-gray-primary {
                text-align: center;
            }
        }
    }


    // ALL STEPS BUT FIRST
    .personalize-retirement_goal_page, .personalize-investable_assets_page, .personalize-investment_interest_page, .personalize-zip_code_page, .personalize-final_page {
        h1 {
            @include body-01;
            text-transform: initial;
            font-size: rem(26);
            margin-bottom: rem(24) !important;
        }

        p {
            @include body-01;
            text-transform: initial;
        }
    }

    // ALL STEPS BUT FIRST
    .personalize-retirement_goal_page, .personalize-investable_assets_page,  .personalize-investment_interest_page, .personalize-zip_code_page, .personalize-final_page {
        .section-body {
            .cmp-separator--efe-gray-mid {
                display: none;
            }
        }
    }

    // FOURTH STEP
    .personalize-investment_interest_page {

        .cmp-text--caption, .title {
            text-align: left;
            margin-bottom: rem(20);
        }

        .cmp-text--body-02 {
            text-align: left;

            p {
                font-size: rem(20);
            }
        }

        .cmp-text--caption {
            p {
                font-size: rem(14);
            }
        }

        .section-body {
            .cmp-button--body-03-link {
                clear: both;
                padding-top: 36px;
    
                &:first-child{
                    text-align: justify;
                } 
            }
        }

        @media screen and (max-width: $sm) {
            .cmp-button--efe-gray-primary {
                text-align: center;
            }
        }
    }

    // SIXTH STEP
    .personalize-zip_code_page {

        h1 {
            margin-bottom: rem(10);
        }

        #zip_code {
            margin: auto;
        }

        .cmp-text--body-02 {
            max-width: 40ch;
            margin: 0 auto rem(36) !important;

            p {
                font-size: rem(20);
            }
        }

        label {
            max-width: rem(372);
            margin: auto;
            text-align: left;
        }
        .error-message {
            @include body-03;
            color: $efe-red-primary;
        }
    }

    
    // LAST STEP PII
    .personalize-final_page {
        
        .efe-disclaimer {
            margin-top: rem(100);
            font-size: rem(12);
        }

        .error-message {
            @include body-03;
            color: $efe-red-primary;
        }
    }


}