
<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.article="com.efe.core.models.RelatedArticle"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.titleTemplate="title.html"
     data-sly-use.descriptionTemplate="description.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || teaser.pretitle || teaser.title || teaser.description || teaser.actions.size > 0}"
     id="${teaser.id}"
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}"
     data-cmp-data-layer="${teaser.data.json}">
    <div class="cmp-teaser__content">
        <!-- Title  -->
        <h2 class="title cmp-title--subhead-01 ">
            <a  data-sly-attribute="${teaser.link.htmlAttributes}"
                data-sly-unwrap="${!teaser.link.valid || !teaser.actions.empty}"
                data-cmp-clickable="${teaser.data ? true : false}">
                ${teaser.title}
            </a>
        </h2>
        <p class="cmp-text--body-02">${teaser.description}</p>
        <p class="cmp-text--body-02">${properties.jcr:title}</p>
    </div>
    <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>

