#efe-nav-main {
    position: relative;

    #cmp-navigation-dropdown {
        display: none;
    }

    .cmp-container--26 {
        padding: rem(24) rem(24) rem(20);
        @include flexbox(
            $gap: rem(40),
            $justify-content: space-between,
            $align-items: center
        );
    }

    #nav-list-cta-group {
        display: block;
        width: 100%;
        position: absolute;
        top: 83px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: rem(48) rem(24) rem(0) rem(63);
        background: white;
        height: fit-content;
        border-top: 2px solid #d8d8d8;

        #efe-global-nav-header {
            width: calc(100% + rem(89));
            position: relative;
            right: rem(63);
            display: block;

            .efe-nav-search {
                padding: rem(48) rem(24) rem(24) rem(24);
                position: relative;
                @include flexbox(
                    $align-items: start
                );

                .cmp-image--close {
                    position: absolute;
                    top: rem(17);
                    right: rem(39);
                }

                .cmp-search--primary {
                    width: 100%;

                    .cmp-search__field {
                        max-width: rem(305);
                        margin: auto;
                        @include flexbox(
                            $flex-direction: column
                        );

                        input, button {
                            margin: auto;
                            max-width: unset;
                            width: 100%;
                            min-width: unset;
                        }
                    }
                }

     
            }
        }

        .cmp-button--button-primary {
            margin-bottom: rem(22);
            width: 100vw;
            position: relative;
            right: rem(79);
            .cmp-button__text {
                white-space: nowrap;
            }
        }

        #ul-cta-group {
            @include flexbox (
                $flex-direction: column,
                $align-items: start,
                $justify-content: space-between,

            );
        }
    }

    .ul-cta-group, .cmp-navigation__group--level-0 {


        @include flexbox(
            $flex-direction: column,
            $gap: rem(60)
        );

    }

    li.cmp-navigation__item--level-0 {
        width: 100%;
        position: relative;
        z-index: 9;

         > a {
            @include primary-nav-link;
            transition: $std-transition;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                bottom: -9px;
                transition: width .33s ease-out,left .33s ease-out;
                width: 0;
                left: 50%;
                background-color: $efe-red-primary;
            }

            &:hover {
                &:after {
                    left: 0;
                    width: 100%;
                    height: 3px;
                }
            }

        
        }

        #nav-arrow {
            position: absolute;
            top: rem(2);
            right: 0;
            width: fit-content;
        }

        &.act {
           > a {
                text-decoration: underline rem(3) solid $efe-red-primary;
                text-underline-offset: rem(10);
            }
   

            #nav-arrow {
                position: absolute;
                right: 0;
                top: rem(2);
                transform: rotate(270deg);
            }
        }

    }

    #nav-hamburger {
        width: 24px;
        height: 22px;
        position: relative;
        left: 2px;

        svg {
            position: absolute;
            left: 0px;
            transition: all .4s ease;
            transform-origin: center;
            width: 24px;
        }

        #top-hamburger-line {
            top: 0px;
        }

        #middle-hamburger-line {
            top: 10px;
        }

        #bottom-hamburger-line {
            top: 20px;
        }
    }


    @media screen and (min-width: 1290px) {

        #nav-hamburger, #nav-arrow {
            display: none;
        }

        #nav-list-cta-group {
            display: block !important;
            position: unset;
            padding: 0;
            border: unset;

            .cmp-button--button-primary {
                margin-bottom: 0;
                width: unset;
                position: unset;
            }


        #efe-global-nav-header { 
            display: none;
        }

            .ul-cta-group, .cmp-navigation__group--level-0 {
                position: unset;
                @include flexbox(
                    $flex-direction: row,
                    $justify-content: end,
                );
            }

            .ul-cta-group {
                @include flexbox (
                    $justify-content: end
                );

                .navigation {
                    width: 100%;
                    nav {
                        ul.cmp-navigation__group {
                            @include flexbox (
                                $gap: 40
                            );

                            span {
                                li{
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            li {
                                position: unset;
                                width: fit-content;

                            .cmp-navigation-dropdown {
                                padding: rem(24) rem(40) rem(48) rem(86);
                                position: absolute;
                                top: rem(102);
                                background: white;

                                .cmp-navigation__group {
                                    @include flexbox(
                                        $flex-direction: column,
                                    );
                                    .cmp-navigation-dropdown-grid {
                                        padding: 1.5rem 0 0;
                                        @include flexbox(
                                            $flex-direction: row
                                        );
                                        li {
                                            margin: 0;
                                            @include flexbox(
                                                $flex: 1
                                            );
                                        }
           
                                    }
                                }
                            }

                            }
                        }
                    }
                }
            }
        }

        .cmp-container--26 {
            position: relative;
            padding: rem(24) rem(48);
            @include flexbox(
                $align-items: end
            );
        }
        #nav-list-cta-group {
            .cmp-container {
                @include flexbox(
                    $align-items: center,
                    $gap: rem(40)
                );
            }
        }
    }
}