<div class={{variation}}>
   <div id="text-3284f6ed2d" class="cmp-text">
      <p style="	text-align: left;
         ">Let us optimize your portfolio to keep you on track for retirement</p>
      <ul>
         <li style="	text-align: left;
            ">We create a personalized retirement plan that covers your investments, savings and retirement income.</li>
         <li style="	text-align: left;
            ">We pick investments and take care of transactions in your account.</li>
         <li style="	text-align: left;
            ">We assist you with customizing your plan, and keep it on track.</li>
      </ul>
   </div>
</div>