<div class="cmp-tags">
    {{>CTA
    variant="title-tag"
    text="Tag Title"
    }}
    {{>CTA
    variant="title-tag"
    text="Tag Title Long"
    }}
    {{>CTA
    variant="title-tag"
    text="Tag Title Longer"
    }}
    {{>CTA
    variant="title-tag"
    text="Tag Title that is very very long"
    }}
    {{>CTA
    variant="title-tag"
    text="Tag Title"
    }}
</div>