//== Base

html,
body {
    margin: 0;
    font-family: "nimbus-sans", sans-serif;
    background:  $white-primary;
    transition: color 0.3s ease-in, background 0.3s ease-in;
    font-size: 16px;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 300;
    text-transform: unset;
    font-style: normal;
    line-height: 120%;
    color: #535658;

    // @media (prefers-color-scheme: dark) {
    //     color:       $color-foreground-dark;
    //     background:  $color-background-dark;
    // }
    
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    // @media (prefers-color-scheme: dark) {
    //     color: get-color("white");
    // }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}


.hidden {
    display: none;
}
