.fepage {
    .cmp-teaser--hero {
        .cmp-teaser {
            &__content {
                width: 100%;
                max-width: 530px;
                @include media('<tablet') {
                    position: absolute;
                    margin: 0;
                    width: 100%;
                    padding: 80px 30px;
                    top: 0;
                }
            }
            &__title {
                @include media('>=tablet') {
                    font-size: 64px;
                    line-height: 67.2px;
                }
                @include media('<tablet') {
                    margin-top: 0;
                    margin-bottom: 35px;
                }
            }
            &__image {
                .cmp-image__image {
                    min-height: 534px;
                }
            }
        }
        &.cmp-teaser--hero--boeing-checkup {
            @include media('<tablet') {
                .cmp-teaser {
                    flex-direction: column;
                    &__content {
                        position: static;
                        background-color: #F7F7F7;
                    }
                    .cmp-teaser__image .cmp-image__image {
                        min-height: 225px;
                    }
                }
            }
        }
    }
    &.theme-vanguard, &.theme-aon, &.theme-ssga, &.theme-empower {
        .cmp-teaser--hero {
            .cmp-teaser__title {
                font-family:'Open Sans';
                @include media('>phone-m', '<tablet') {
                    font-size: 28px;
                    line-height: 36px;
                }
                @include media('<phone-m') {
                    font-size: 22px;
                    line-height: 28px;
                }
                color: #FFFFFF;
                text-transform: capitalize;
                letter-spacing: unset;
            }
            .cmp-teaser__description {
                font-family:'Open Sans';
                color: #FFFFFF;
                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    font-family:'Open Sans';
                    color: #FFFFFF;
                }
                h1 {
                    font-size: 54px;
                    font-weight: 400;
                    line-height: 59.4px;
                    font-family:'Open Sans';
                    color: #FFFFFF;
                }
            }
        }
        .cmp-teaser--hero .cmp-teaser__image .cmp-image__image {
            border-radius: 0;
        }
    }

    &.theme-ssga {
        .cmp-teaser--hero {
            .cmp-teaser__title {
                text-transform: unset;
            }
        }
    }
    &.theme-empower {
    .cmp-teaser--hero {
      .cmp-teaser__description {
       @include media('>phone-m', '<tablet-lg') {
          font-size: 16px;
          line-height: 24px;

          // Paragraphs inside description
          p {
            font-size: 12px;
            line-height: 24px;
          }

          // Any h1 that might be authored in the description
          h1 {
            font-size: 32px;
            line-height: 36px;
            font-weight: 600; // optional: improve readability at smaller sizes
          }
        }
        
        @include media('<phone-m') {
            h1 {
            font-size: 24px;
            line-height: 30px;
            }
            p {
            font-size: 14px;
            line-height: 20px;
            }
        }

      }
    }
  }
}