.fepage {
    .cmp-teaser--hero {
        .cmp-teaser {
            &__content {
                @include media('<tablet') {
                    position: absolute;
                    margin: 0;
                    width: 100%;
                    padding: 3rem 1.5rem;
                    top: 0;
                }
            }
            &__image {
                .cmp-image__image {
                    min-height: 534px;
                }
            }
        }
    }
    &.theme-vanguard, &.theme-aon, &.theme-ssga {
        .cmp-teaser--hero .cmp-teaser__image .cmp-image__image {
            border-radius: 0;
        }
    }
}