.fepage {
    .cmp-teaser--hero {
        .cmp-teaser {
            &__content {
                @include media('<tablet') {
                    position: absolute;
                    margin: 0;
                    width: 100%;
                    padding: 80px 30px;
                    top: 0;
                }
            }
            &__title{
                @include media('<tablet') {
                margin-top: 0;
                margin-bottom: 35px;
                }
            }
            &__image {
                .cmp-image__image {
                    min-height: 534px;
                }
            }
        }
        &.cmp-teaser--hero--boeing-checkup {
            @include media('<tablet') {
                .cmp-teaser {
                    flex-direction: column;
                    &__content {
                        position: static;
                    }
                }
            }
        }
    }
    &.theme-vanguard, &.theme-aon, &.theme-ssga {
        .cmp-teaser--hero .cmp-teaser__image .cmp-image__image {
            border-radius: 0;
        }
    }
}