// -----------------------------------------------------------------------------
// EFE Color Palette
// -----------------------------------------------------------------------------

// Grays
$efe-gray-primary: #535658;
$efe-gray-mid:  #DDDDDE;
$efe-gray-deep-charcoal: #454849;
$efe-gray-new: #7A7D82;
$efe-gray-blue: #B3B9BE;
$efe-gray-light: #f2f2f2;
$efe-black-color: #000000;
$efe-gray-carosel-indicators: #4f4f4f;
// Reds
$efe-red-primary: #C32D37; //RGB is rgb(195, 45, 55)
$efe-red-hover: #B22932;
$efe-red-15-percent: #F6E0E1;
$efe-red-50-percent: #E1969B;
$efe-red-75-percent: #D8666C;

// Background Color Utility Classes
@mixin bg-efe-gray-light {
    background-color: $efe-gray-light;
}

@mixin bg-efe-gray-mid {
    background-color: $efe-gray-mid;
}

// Font Color Utility Classes
@mixin efe-gray-primary {
    color: $efe-gray-primary;
}

@mixin efe-gray-new {
    color: $efe-gray-new;
}
