.fepage {
    .fe-membership-dashboard-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        a {
            @include fe-primary-btn;
            margin-top: 35px;
            height: 45px;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 17px 26px 14px 26px;
        }
        .fe-dashboard-button__heading {
            color: var(--primary-charcoal, #535658);
            padding-top: rem(65px);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        * {
            font-family: "nimbus-sans";
        }
    }
    &.theme-vanguard, &.theme-aon, &.theme-ssga { 
        .fe-membership-dashboard-button {
            * {
                font-family: var(--font-family);
            }
        }
    }
}