<div class="button cmp-button--{{variant}} cmp-button--{{color}}">
  <a data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="{{link}}">
    <span class="cmp-button__text">{{text}}</span>
  </a>
</div>
