<div class="button cmp-button--{{variant}} cmp-button--{{position}}">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">{{text}}</span>
  </button>
</div>