<div class="button cmp-button--robust">
  <a data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="{{link}}">
   <span class="cmp-button__icon cmp-button__icon--{{variant}}" aria-hidden="true"></span>
    <span class="cmp-button__text">Financial<br>Planning</span>
  </a>
</div>
