
<div class="navigation cmp-navigation--{{variant}}" >
  <nav id="navigation-e10abc050c" class="cmp-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" data-cmp-data-layer="{&quot;navigation-e10abc050c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation&quot;}}">
    <ul class="cmp-navigation__group cmp-navigation__group--level-0">
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3a0f66ac7b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="javascript:void(0)"><span>Working with us</span></a>
        {{>SVGImage
            variant="arrow"
            direction="down"
            id="nav-arrow"
            source="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"
        }}

        <div class="cmp-navigation-dropdown-grid--50-50-split">
            <div class="cmp-navigation__aem-container cmp-navigation-dropdown" id="cmp-navigation-dropdown">
                <div class="cmp-navigation__group">
                    <div class="cmp-navigation-dropdown-grid__container">
                        <!-- use cmp-navigation-dropdown-grid--default for default full width layout -->
                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/">
                                    <span class="cmp-button__text">Wealth Management Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/investment/">Investment Management</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/tax/">Tax Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                            </ul>

                        </div>

                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/workplace/">
                                    <span class="cmp-button__text">Employer Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/workplace/">Enterprise Workplace Solutions</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/small-business/">Small-Business Solutions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </li>
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a3139f51c3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="javascript:void(0)"><span>Services</span></a>
        {{>SVGImage
            variant="arrow"
            direction="down"
            id="nav-arrow"
            source="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"
        }}

        <div class="cmp-navigation-dropdown-grid--75-25-split">
            <div class="cmp-navigation__aem-container cmp-navigation-dropdown" id="cmp-navigation-dropdown">
                <div class="cmp-navigation__group">
                    <div class="cmp-navigation-dropdown-grid__container">
                        <!-- use cmp-navigation-dropdown-grid--default for default full width layout -->
                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/">
                                    <span class="cmp-button__text">Wealth Management Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/investment/">Investment Management</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/tax/">Tax Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                            </ul>

                        </div>

                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/workplace/">
                                    <span class="cmp-button__text">Employer Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/workplace/">Enterprise Workplace Solutions</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/small-business/">Small-Business Solutions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </li>

      <li class="cmp-navigation__item cmp-navigation__item--level-0 " data-cmp-data-layer="{&quot;navigation-e10abc050c-item-ed0a45ab4d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="javascript:void(0)"><span>Insights</span></a>
        {{>SVGImage
            variant="arrow"
            direction="down"
            id="nav-arrow"
            source="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"
        }}

        <div class="cmp-navigation-dropdown-grid--75-25-split">
            <div class="cmp-navigation__aem-container cmp-navigation-dropdown" id="cmp-navigation-dropdown">
                <div class="cmp-navigation__group">
                    <div class="cmp-navigation-dropdown-grid__container">
                        <!-- use cmp-navigation-dropdown-grid--default for default full width layout -->
                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/">
                                    <span class="cmp-button__text">Wealth Management Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/investment/">Investment Management</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/tax/">Tax Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                            </ul>

                        </div>

                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/workplace/">
                                    <span class="cmp-button__text">Employer Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/workplace/">Enterprise Workplace Solutions</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/small-business/">Small-Business Solutions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </li>
      
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-9ab3d0177f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Commerce&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="javascript:void(0)"><span>About Us</span></a>
        {{>SVGImage
            variant="arrow"
            direction="down"
            id="nav-arrow"
            source="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"
        }}

        <div class="cmp-navigation-dropdown-grid--default">
            <div class="cmp-navigation__aem-container cmp-navigation-dropdown" id="cmp-navigation-dropdown">
                <div class="cmp-navigation__group">
                    <div class="cmp-navigation-dropdown-grid__container">
                        <!-- use cmp-navigation-dropdown-grid--default for default full width layout -->
                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/">
                                    <span class="cmp-button__text">Wealth Management Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/investment/">Investment Management</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/tax/">Tax Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                                </li>
                            </ul>

                        </div>

                        <div>
                            <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/workplace/">
                                    <span class="cmp-button__text">Employer Services</span>
                                </a>
                            </div>

                            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                                <div id="separator-6e548b2b7e">
                                    <hr class="cmp-separator__horizontal-rule">
                                </div>
                            </div>

                            <ul class="cmp-navigation__list">
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/workplace/">Enterprise Workplace Solutions</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/small-business/">Small-Business Solutions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </li>
    </ul>
  </nav>
</div>


