<div class="navigation cmp-navigation--{{variant}}">
  <nav id="navigation-e10abc050c" class="cmp-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" data-cmp-data-layer="{&quot;navigation-e10abc050c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation&quot;}}">
    <ul class="cmp-navigation__group cmp-navigation__group--level-0">
      <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3a0f66ac7b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Working with us</a>

        {{!-- <div class="cmp-navigation-dropdown">
          <ul class="cmp-navigation__group">
            <h2 class="footer-02">Working with us</h2>
            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
              <div id="separator-6e548b2b7e">
                <hr class="cmp-separator__horizontal-rule">
              </div>
            </div>
            <div class="cmp-navigation-dropdown-grid--4col">
              <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/approach/">Our Approach</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/locations/">Our Locations</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6f30b7315a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/navigation.html&quot;}}">
                <a aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link" href="/financial-planners/">Our Planners &amp; Experts</a>
              </li>
            </div>
          </ul>
        </div> --}}

      </li>
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a3139f51c3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Services</a>
{{!-- 
        <div class="cmp-navigation-dropdown">
          <ul class="cmp-navigation__group">
            <div class="cmp-navigation-dropdown-grid--75-25-split">
                <div>
                  <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/">
                      <span class="cmp-button__text">Wealth Management Servifes</span>
                    </a>
                  </div>

                  <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                    <div id="separator-6e548b2b7e">
                      <hr class="cmp-separator__horizontal-rule">
                    </div>
                  </div>

                  <div class="grid-3-col">
                    <span>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                      </li>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                      </li>
                    </span>
                    <span>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/investment/">Investment Management</a>
                      </li>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/tax/">Tax Planning</a>
                      </li>
                    </span>
                    <span>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/planning/">Financial Planning</a>
                      </li>
                      <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/retirement/">Retirement Planning</a>
                      </li>
                    </span>
              
                  </div>

                </div>

                <div>
                  <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/services/workplace/">
                      <span class="cmp-button__text">Employer Services</span>
                    </a>
                  </div>

                  <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
                    <div id="separator-6e548b2b7e">
                      <hr class="cmp-separator__horizontal-rule">
                    </div>
                  </div>

                  <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/workplace/">Enterprise Workplace Solutions</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                    <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/services/small-business/">Small-Business Solutions</a>
                  </li>
               
                </div>



            </div>
          </ul>
        </div> --}}
      </li>

      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-ed0a45ab4d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Insights</a>

        <div class="cmp-navigation-dropdown">
          {{!-- <ul class="cmp-navigation__group">
            <h2 class="footer-02">Insights</h2>
            <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
              <div id="separator-6e548b2b7e">
                <hr class="cmp-separator__horizontal-rule">
              </div>
            </div>
            <div class="cmp-navigation-dropdown-grid--4col"> --}}

              {{!-- <span>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/everyday-wealth/">Everyday Wealth Podcasts</a>
                </li>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/education/market-insights/">Market Insights</a>
                </li>
              </span>

              <span>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/education/tax-finance/">Tax Planning</a>
                </li>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/education/retirement/">Retirement Planning</a>
                </li>
              </span>

              <span>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/education/home-mortgage/">Home and Mortgage</a>
                </li>
                <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                  <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/wealth-in-america-2022/">Everyday Wealth in America 2022 Report</a>
                </li>
              </span>

              <span>
                  <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                    <a id="button-a1f53d50c2" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/education/">
                      <span class="cmp-button__text">View all categories</span>
                    </a>
                  </div>
              </span> --}}

            {{!-- </div>
          </ul> --}}
        </div>

      </li>
      
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-9ab3d0177f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Commerce&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">About Us</a>

        {{!-- <ul class="cmp-navigation__group">
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-63c409afb5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:58Z&quot;,&quot;dc:title&quot;:&quot;Commerce Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/contentfragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/contentfragment.html">Commerce Content Fragment</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-0dea1ff70e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product.html">Product</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a0379c56e9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product/manual-product.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product/manual-product.html">Product</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3fd705dfad&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product/sample-product.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product/sample-product.html">Product</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3253e121af&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productteaser.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productteaser.html">Product Teaser</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a951b11a6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productcarousel.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productcarousel.html">Product Carousel</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-9e0a26222d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Related Products&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/relatedproducts.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/relatedproducts.html">Related Products</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-b907503750&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productlist.html">Product List</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6a61da1b55&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist/sample-productlist.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productlist/sample-productlist.html">Product List</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-d2f34340dd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Search&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/search.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/search.html">Search</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-cf30385173&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Category Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/categorycarousel.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/categorycarousel.html">Category Carousel</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7ca4f389fe&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Featured Category List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/featuredcategorylist.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/featuredcategorylist.html">Featured Category List</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-af0aa43138&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Commerce Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/teaser.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/teaser.html">Commerce Teaser</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-98fa786e24&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/navigation.html">Navigation</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation/catalogpage.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/navigation/catalogpage.html">Catalog Page</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3a75e07a3d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/breadcrumb.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/breadcrumb.html">Breadcrumb</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-f330b5221d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/experiencefragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/experiencefragment.html">Experience Fragment</a>
          </li>
        </ul> --}}
        
      </li>
    </ul>
  </nav>
</div>