<div class="navigation cmp-navigation--{{variant}}">
  <nav id="navigation-e10abc050c" class="cmp-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" data-cmp-data-layer="{&quot;navigation-e10abc050c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation&quot;}}">
    <ul class="cmp-navigation__group">
      <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3a0f66ac7b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Working with us</a>
        <ul class="cmp-navigation__group">
          <h2 class="footer-02">Working with us</h2>
          <div class="separator cmp-separator--primary cmp-separator--efe-gray-mid">
            <div id="separator-6e548b2b7e">
              <hr class="cmp-separator__horizontal-rule">
            </div>
          </div>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html">Breadcrumb</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e3afc3f813&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html">Language Navigation</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6f30b7315a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/navigation.html&quot;}}">
            <a aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/navigation.html">Navigation</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-36e5f4db4c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/page.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/page.html">Page</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-4cc1b9f018&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library.html">Component Library</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-11630565ef&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/page.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/page.html">Page</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-574855959b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Permanent Redirect External&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.adobe.com&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="https://www.adobe.com">Permanent Redirect External</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-bc6b2877d7&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Temporary Redirect External&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.adobe.com&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="https://www.adobe.com">Temporary Redirect External</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-513b73f533&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Table of Contents&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/table-of-contents.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-structure/table-of-contents.html">Table of Contents</a>
          </li>
        </ul>
      </li>
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a3139f51c3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Services</a>
        {{!-- <ul class="cmp-navigation__group">
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/aemform.html">AEM Forms Container</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-d4289694fa&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Accordion&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/accordion.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/accordion.html">Accordion</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-059df26feb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/button.html">Button</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-c866ae2588&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/carousel.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/carousel.html">Carousel</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-c56e6f3c41&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/container.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/container.html">Container</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-15f268b54a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/content-fragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/content-fragment.html">Content Fragment</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-21430f03a2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/content-fragment-list.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/content-fragment-list.html">Content Fragment List</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-0677f080ec&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Core Form Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/form-container.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/form-container.html">Core Form Container</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a0749da5b3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/download.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/download.html">Download</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-953ca1c9d6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Embed&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/embed.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/embed.html">Embed</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-35ad9bbe93&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/experience-fragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/experience-fragment.html">Experience Fragment</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-86b466c5c9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/image.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/image.html">Image</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-37233c387d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/list.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/list.html">List</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-fd35692c78&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;PDF Viewer&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/pdf-viewer.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/pdf-viewer.html">PDF Viewer</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7885c6ca60&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Progress Bar&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/progress-bar.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/progress-bar.html">Progress Bar</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-88ea1678d3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-09-14T08:10:00Z&quot;,&quot;dc:title&quot;:&quot;Search&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/search.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/search.html">Search</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-fcad7bc909&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;Separator&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/separator.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/separator.html">Separator</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3d328d333c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:14Z&quot;,&quot;dc:title&quot;:&quot;Tabs&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/tabs.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/tabs.html">Tabs</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-51a846deda&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:12Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/teaser.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/teaser.html">Teaser</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6cd9813fb6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/text.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/text.html">Text</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-218f41e29f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:13Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/title.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-content/title.html">Title</a>
          </li>
        </ul> --}}
      </li>
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-ed0a45ab4d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">Insights</a>
        {{!-- <ul class="cmp-navigation__group">
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a272010795&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Form Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-form/form-button.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-form/form-button.html">Form Button</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-4a32285fb1&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Form Hidden&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-form/form-hidden.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-form/form-hidden.html">Form Hidden</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6c587c062f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Form Options&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-form/form-options.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-form/form-options.html">Form Options</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-e7c227d1da&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Form Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-form/form-text.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/core-form/form-text.html">Form Text</a>
          </li>
        </ul> --}}
      </li>
      <li class="cmp-navigation__item cmp-navigation__item--level-0" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-9ab3d0177f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Commerce&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce.html&quot;}}">
        <a data-cmp-clickable="" class="cmp-navigation__item-link" href="">About Us</a>
        {{!-- <ul class="cmp-navigation__group">
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-63c409afb5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:58Z&quot;,&quot;dc:title&quot;:&quot;Commerce Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/contentfragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/contentfragment.html">Commerce Content Fragment</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-0dea1ff70e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product.html">Product</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a0379c56e9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product/manual-product.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product/manual-product.html">Product</a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3fd705dfad&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product/sample-product.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/product/sample-product.html">Product</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3253e121af&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productteaser.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productteaser.html">Product Teaser</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-a951b11a6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productcarousel.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productcarousel.html">Product Carousel</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-9e0a26222d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Related Products&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/relatedproducts.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/relatedproducts.html">Related Products</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-b907503750&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productlist.html">Product List</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-6a61da1b55&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-01-31T12:09:59Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist/sample-productlist.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/productlist/sample-productlist.html">Product List</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-d2f34340dd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Search&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/search.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/search.html">Search</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-cf30385173&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Category Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/categorycarousel.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/categorycarousel.html">Category Carousel</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-7ca4f389fe&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Featured Category List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/featuredcategorylist.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/featuredcategorylist.html">Featured Category List</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-af0aa43138&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Commerce Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/teaser.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/teaser.html">Commerce Teaser</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-98fa786e24&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/navigation.html">Navigation</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation/catalogpage.html&quot;}}">
                <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/navigation/catalogpage.html">Catalog Page</a>
              </li>
            </ul>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-3a75e07a3d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/breadcrumb.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/breadcrumb.html">Breadcrumb</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-e10abc050c-item-f330b5221d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/experiencefragment.html&quot;}}">
            <a data-cmp-clickable="" class="cmp-navigation__item-link" href="/content/core-components-examples/library/commerce/experiencefragment.html">Experience Fragment</a>
          </li>
        </ul> --}}
      </li>
    </ul>
  </nav>
</div>