.cmp-button--robust {
    width: rem(200px);
    height: rem(130px);
    background-color: $efe-gray-light;
    border: rem(2px) solid $efe-gray-mid;
    padding: rem(20px) rem(15px);
    border-radius: rem(3px);
    &:hover {
        background-color: $white-primary;
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        height: -webkit-fill-available;
        .cmp-button__text {
            @include primary-nav-link;
            text-align: center;
        }
        .cmp-button__icon {
            display: inline-block;
            width: rem(40);
            height: rem(41);
            &--service-financial {
                background: url("../resources/images/icons/service-icons/financial-icon.svg") no-repeat center center /
                    contain;
            }
            &--service-giving {
                background: url("../resources/images/icons/service-icons/charitable-giving-icon.svg") no-repeat center
                    center / contain;
            }
            &--service-corporate {
                background: url("../resources/images/icons/service-icons/corporate-solutions-icon.svg") no-repeat center
                    center / contain;
            }

            &--service-tax {
                background: url("../resources/images/icons/service-icons/tax-icon.svg") no-repeat center center /
                    contain;
            }

            &--service-giving {
                background: url("../resources/images/icons/service-icons/charitable-giving-icon.svg") no-repeat center
                    center / contain;
            }

            &--service-corporate {
                background: url("../resources/images/icons/service-icons/corporate-solutions-icon.svg") no-repeat center
                    center / contain;
            }

            &--service-estate {
                background: url("../resources/images/icons/service-icons/estate-icon.svg") no-repeat center center /
                    contain;
            }

            &--service-insurance {
                background: url("../resources/images/icons/service-icons/insurance-icon.svg") no-repeat center center /
                    contain;
            }

            &--service-investment {
                background: url("../resources/images/icons/service-icons/investment-icon.svg") no-repeat center center /
                    contain;
            }

            &--service-small-business {
                background: url("../resources/images/icons/service-icons/small-business-icon.svg") no-repeat center
                    center / contain;
            }

            &--service-retirement {
                background: url("../resources/images/icons/service-icons/retirement-icon.svg") no-repeat center center /
                    contain;
            }
        }
    }
}
