.cmp-teaser--banner {
    .cmp-teaser {
        display: flex;
        flex-direction: column-reverse;
        &__content {
            text-align: center;
        }
        &__action-container {
            width: 100%;
            .button {
                justify-content: center;
            }
        }
    }
}
.cmp-teaser--image-bottom {
    .cmp-teaser {
        display: flex;
        flex-direction: column;
        &__content {
            margin-bottom: rem(39px);
        }
        // &__action-container {
        //     width: 100%;
        //     .button {
        //         justify-content: center;
        //     }
        // }
    }
}