@mixin serviceButtonTeaser {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 0 auto;
}
.cmp-teaser--service-button {
    .cmp-teaser {
        @include serviceButtonTeaser;
        &__link {
            @include serviceButtonTeaser;
            justify-content: center;
            align-items: center;
            min-width: rem(184);
            max-width: rem(234);
            border: rem(2) solid $efe-gray-mid;
            border-radius: rem(3);
            min-height: rem(133);
            padding: 16px;
            overflow: hidden;
            width: 234px;
            @include media("<tablet") {
                width: 184px;
            }
            &:hover {
                background-color: $efe-gray-light;
            }
        }
        &__title ,&__title-link {
            @include primary-nav-link;
            text-align: center;
        }
        &__title {
            margin-top: rem(20);
            margin-bottom: 0;
        }
        &__image {
            .cmp-image__image {
                width: rem(41.03);
                height: auto;
            }
        }
    }
}
.cmp-container--fillHeight {
    .cmp-teaser {
        .cmp-teaser__content {
            height: auto !important;
        }
    }
}
