.cmp-teaser-service-details-block {
    .cmp-teaser {
        display: flex;
        flex-direction: row-reverse;
        @include media("<tablet") {
            flex-direction: column-reverse;
        }
        &__content {
            @include media("<tablet") {
                padding: rem(15px)
            }
            padding: rem(56px) 0 0 rem(51px);
        }
        &__title {
            font-family: $font-nimbus-pro;
            margin-top: 0;
            font-style: normal;
            font-weight: 700;
            font-size: rem(36px);
            line-height: 105%;
            /* identical to box height, or 38px */
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $gray-deep-charcoal;
        }
        &__description {
            font-family: $font-nimbus-Sans;
            font-style: normal;
            font-weight: 400;
            font-size: rem(22px);
            line-height: 120%;
        }
    }
}