@mixin teaserHero {
    @include media(">phone-sm") {
        display: flex;
        flex-direction: column-reverse;
    }
}
.cmp-teaser--hero {
    .cmp-teaser {
       @include teaserHero;
        &__link {
            @include teaserHero;
        }
        &__image {
            .cmp-image__image {
                border-radius: rem(50) 0 0 0;
                width: 100%
            }
        }
        &__pretitle {
           @include buildFont (rem(26), rem(2),$font-nimbus-Sans,400, uppercase,rem(31),$efe-gray-primary);    
        }
        &__content {
            max-width: rem(600);
            padding: rem(48) rem(24);
            @include media('>=desktop') {
                position: absolute;
                padding: rem(32px);
                margin-left: rem(112);
            }
            @include media(">phone-sm") {
                position: relative;
            }
            @include media(">=tablet") {
                padding: rem(24);
                position: absolute;
                margin-left: rem(56);
            }
        }
        &__title {
             @include heading-01;
             margin-top: rem(30);
             margin-bottom: rem(20);
             @include media("<desktop") {
                width: 100%;
                @include buildFont(rem(58px), .08em);
                margin-top: rem(32);
             }
             @include media("<tablet") {
                @include buildFont(rem(48px), .08em);
            }
        }
        &__title-link {
            @include heading-01;
        }
        &__description {
            @include body-01;
            margin-bottom: rem(36);
            @include media(">=tablet") {
                margin-bottom: rem(32);
            }
            @include media('>=desktop') {
                margin-bottom: rem(30);
            }
            p {
                @include body-01;
            }
        }
        &__action-link {
            @include cta-primary;
        }
    }
    &.cmp-teaser--show-live-pulse {
        .cmp-teaser {
            &__content {
                &::before {
                    content: ' ';
                    background: url('../resources/images/icons/live-event-icon.svg')no-repeat;
                    display: inline-block;
                    width: rem(20);
                    height: rem(20);
                    position: absolute;
                    left: rem(25);
                    top: rem(30);
                    @include media("<tablet") {
                        top: rem(52);
                    }
               } 
            }
            &__pretitle {
                margin-left: rem(30);
            }
        }
    }
}