@mixin teaserImageLeft {
    display: flex;
    flex-direction: row-reverse;
    @include media("<tablet") {
        flex-direction: column-reverse;
    }
}
.cmp-teaser--image-left {
    .cmp-teaser {
       @include teaserImageLeft;
        &__link {
            @include teaserImageLeft;
        }
        &__content {
            @include media("<tablet") {
                padding: rem(32) rem(24);
            }
            padding: rem(36) 0;
            b {
                @include subhead-02;
            }
            @include media('>tablet') {
                width: 55%;
                margin-left: rem(51);
            }
        }
        &__action-container {
            margin: rem(24) 0 rem(36) 0;
        }
        &__action-link {
            @include cta-primary;
            padding: rem(16) rem(40) rem(12) rem(40);
                    color: $efe-gray-primary;
                    border: rem(1) solid $efe-gray-blue;
                    background-color: buttonface;
        }
        &__image {
            .cmp-image {
                position: relative;
                &::before {
                    position: absolute;
                    width: rem(63);
                    height: rem(73);
                    top: 45%;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%, -50%);
                }
            }
            .cmp-image__image {
                width: 100%;
                mix-blend-mode: luminosity;
            }
            @include media('>tablet') {
                width: 45%;
            }
            overflow: hidden;
        }
        &__title {
            @include heading-04;
            margin-top: 0;
            margin-bottom: rem(24);
        }
        &__title-link {
            @include heading-04;
        }
        &__description {
            @include body-02;
            p {
                @include body-02;
            }
        }
        &:hover {
            .cmp-teaser__action-container {
                .cmp-teaser__action-link {
                    @include cta-primary;
                    padding: 16px 40px 12px 40px;
                }
            }
            .cmp-teaser__image {
                .cmp-image__image {
                    mix-blend-mode: unset;
                }
            }
        }
    }

    &.top-icon {
        &--service-financial {
            .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/financial-icon.svg") no-repeat center center /
                    contain;
            }
        }
        &--service-giving {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/charitable-giving-icon.svg") no-repeat center
                    center / contain;
            }
        }
        &--service-corporate {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/corporate-solutions-icon.svg") no-repeat center
                    center / contain;
            }
        }

        &--service-tax {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/tax-icon.svg") no-repeat center center / contain;
            }
        }

        &--service-giving {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/charitable-giving-icon.svg") no-repeat center
                    center / contain;
            }
        }

        &--service-corporate {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/corporate-solutions-icon.svg") no-repeat center
                    center / contain;
            }
        }

        &--service-estate {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/estate-icon.svg") no-repeat center center /
                    contain;
            }
        }

        &--service-insurance {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/insurance-icon.svg") no-repeat center center /
                    contain;
            }
        }

        &--service-investment {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/investment-icon.svg") no-repeat center center /
                    contain;
            }
        }

        &--service-small-business {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/small-business-icon.svg") no-repeat center
                    center / contain;
            }
        }

        &--service-retirement {
             .cmp-image:before {
                content: " ";
                background: url("../resources/images/icons/service-icons/retirement-icon.svg") no-repeat center center /
                    contain;
            }
        }
    }
}
.cmp-teaser--image-right {
    .cmp-teaser {
        display: flex;
        flex-direction: row;
        @include media("<tablet") {
            flex-direction: column;
        }
        &__content {
            @include media("<tablet") {
                padding: rem(15px);
            }
            padding: rem(51px) rem(56px) 0 rem(56px);
        }
        &__title {
            @include buildFont(rem(48), 0.06em, $font-nimbus-pro, 700, uppercase, 105%, $gray-deep-charcoal);
            margin-top: 0;
        }
        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: rem(26px);
            line-height: 120%;
        }
    }
}
