.cmp-teaser--hero {
    .cmp-teaser {
        align-items: baseline;
        @include media(">phone-sm") {
            display: flex;
            flex-direction: column-reverse;
        }
        &__image {
            .cmp-image__image {
                border-radius: rem(50) 0 0 0;
                width: 100%
            }
        }
        &__pretitle {
           @include buildFont (rem(26), rem(2),$font-nimbus-Sans,400, uppercase,rem(31),$efe-gray-deep-charcoal);
           &::before {
                content: ' ';
                background: url('../resources/images/icons/live-event-icon.svg')no-repeat;
                display: inline-block;
                width: rem(20);
                height: rem(20);
                margin-right: rem(20);
           }     
        }
        &__content {
            max-width: rem(600);
            padding: rem(40) rem(24);
            @include media('>=desktop') {
                position: absolute;
                padding: rem(32px);
                margin-left: rem(112);
            }
            @include media(">=tablet") {
                padding: rem(24);
                position: absolute;
                margin-left: rem(56);
            }
        }
        &__title {
             @include heading-01;
             @include media(">=tablet") {
                width: 100%;
                font-size: rem(59px);
                line-height: rem(60.9px);
             }
             @include media(">phone-sm") {
                font-size: rem(58px);
            }
        }
        &__description {
            p {
                @include media('>=desktop') {
                    font-family: $font-nimbus-Sans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(34);
                    line-height: 120%;
                }  
                @include body-01;
            }
        }
    }
}