@mixin teaserThumbnail {
    display: flex;
    flex-direction: column-reverse;
}

.relatedarticle-ed-center {

    &.relatedarticle-ed-center--white {
        .cmp-teaser {
            background-color: white;

            .cmp-button--video {
                background: url("../resources/images/buttons/watch-cta-gray.svg") no-repeat center center / contain;
            }
            .cmp-button--podcast {
                background: url("../resources/images/buttons/podcast-cta-gray.svg") no-repeat center center / contain;
            }
            .cmp-button--article {
                background: url("../resources/images/buttons/read-cta-gray.svg") no-repeat center center / contain;
            }

            .thumbnail-placeholder {
                .cmp-image__image {
                    background: url("../resources/images/placeholder/thumbnail-placeholder.svg") no-repeat center center / cover ;
                }
            }
        }
    }

    .cmp-teaser {
        @include teaserThumbnail;
        height: 100%;
        justify-content: start;
        position: relative;
        background-color: $efe-gray-light;
        padding: 24px;

        &__image {
            width: 100%;
            height: auto;
            padding-top: 52%;
            position: relative;

            &.thumbnail-placeholder {
                .cmp-image__image {
                    background: url("../resources/images/placeholder/thumbnail-placeholder-white.svg") no-repeat center center / cover ;
                }
            }

                .cmp-image__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
        }

        &__content {
            margin-top: 24px;
            height: 100%;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2.cmp-title--subhead-01 {
                margin-bottom: rem(12);
                a {
                    transition: $std-transition;
                    &:before {
                        content:"";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 8;
                    }
                }
            }

            p.cmp-text--body-02 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        &__description {
            @include body-02;
            color: $efe-gray-primary;
        }
    }
}