<footer id="efe-footer" class="footer {{#if variation}}footer--{{variation}}{{/if}}" data-component="footer">
    <div class="container responsivegrid">
        <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light cmp-container--unset cmp-container--unset">
            <div class="container responsivegrid">
                <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light cmp-container--1920 cmp-container--unset">
          
                    <span id="logo-social-container">
                        {{>EfeLogo
                            link="https://www.edelmanfinancialengines.com/"
                            variant="efe-logo-primary"
                            altText="Edelman Financial Engines Logo"
                            size="small"
                            titleText="Edelman Financial Engines Homepage"
                            id="efe-logo"
                        }}

												{{>SocialLinks }}
												</span>

                    <div id="list-links">

                        <span>
                            {{>Text
                                variant="footer-01"
                                text="Quick links"
                                color="deep-charcoal"
                                class="list-title"
                            }}

                            <div class="list">
                                <ul id="list-c4be94eba2" data-cmp-data-layer="{&quot;list-c4be94eba2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                            {{>FooterLinkedButton
                                                link="/locations/"
                                                text="Our Locations"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="/education/"
                                                text="Education"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                            {{>FooterLinkedButton
                                                link="/services/workplace/"
                                                text="For Employers"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </span>

                        <span>
                            {{>Text
                                variant="footer-01"
                                text="Contact Us"
                                color="deep-charcoal"
                                class="list-title"
                            }}

                            <div class="list">
                                <ul id="list-c4be94eba2" data-cmp-data-layer="{&quot;list-c4be94eba2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                            {{>FooterLinkedButton
                                                link="tel:+18337526333"
                                                text="Call: (833) PLAN-EFE"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="/contact-us/"
                                                text="Contact us"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </span>

                        <span>
                            {{>Text
                                variant="footer-01"
                                text="About us"
                                color="deep-charcoal"
                                class="list-title"
                            }}

                            <div class="list">
                                <ul id="list-c4be94eba2" data-cmp-data-layer="{&quot;list-c4be94eba2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                            {{>FooterLinkedButton
                                                link="/about-us/"
                                                text="About our company"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="/our-team/"
                                                text="Team"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="/press/"
                                                text="Pressroom"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="/faq/"
                                                text="FAQs"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://jobs.jobvite.com/edelmanfinancialengines"
                                                text="Careers"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </span>

                        <span>
                            {{>Text
                                variant="footer-01"
                                text="Client Logins"
                                color="deep-charcoal"
                                class="list-title"
                            }}          
                            
                            <div class="list">
                                <ul id="list-c4be94eba2" data-cmp-data-layer="{&quot;list-c4be94eba2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list&quot;}}" class="cmp-list">

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                            {{>FooterLinkedButton
                                                link="/mobile-app/"
                                                text="Client Mobile App"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://login.financialengines.com"
                                                text="Client Portal Login"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://client.schwab.com"
                                                text="Charles Schwab"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://www.advisorclient.com/login"
                                                text="TD Ameritrade"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://app.trustamerica.com/liberty"
                                                text="E. TRADE"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>

                                    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-c4be94eba2-item-a14d1c5a62&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:57Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/aemform.html&quot;}}">
                                        <span class="cmp-list__item-title">
                                        {{>FooterLinkedButton
                                                link="https://login.fidelity.com/ftgw/Fidelity/RtlCust/Login/Init"
                                                text="Fidelity"
                                                variant="footer-02"
                                                color="efe-gray-primary"
                                            }}
                                        </span>
                                    </li>                            

                                    

                                </ul>
                            </div>    
                        </span>
                    </div>

										{{>SocialLinksMobile variant="mobile"}}
  

                    {{>Seperator
                    variant="primary"
                    color="efe-gray-blue"
                    id="efe-hr"
                    }}

                    <div id="disclosure-links">
                        {{>FooterLinkedButton
                            link="/legal-information/"
                            text="Legal information"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/privacy/"
                            text="Privacy Policy"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/terms-of-use/"
                            text="Terms of use"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/efe-form-crs/"
                            text="Form CRS"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/adv/"
                            text="Edelman Financial Engines ADV"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/business-continuity/"
                            text="Business Continuity"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="/wrap-fee-brochure/"
                            text="Wrap Fee Bochure"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}

                        {{>FooterLinkedButton
                            link="#"
                            text="Do Not Share My Personal Information"
                            variant="footer-02"
                            color="efe-gray-new"
                        }}                                                                                                                                                                        
                    </div>

                    <div id="disclosure-copy">

                    <p class="detail">The <em>Barron’s</em> 2022 Top 100 RIA Firms list, a seven-year annual ranking of independent advisory firms, is qualitative and quantitative, including assets managed by the firms, technology spending, staff diversity, succession planning and other metrics. Firms elect to participate but do not pay to be included in the ranking. Compensation is paid for use and distribution of the rating. Investor experience and returns are not considered. The 2018 ranking refers to Edelman Financial Services, LLC, which combined its advisory business in its entirety with Financial Engines Advisors L.L.C. (FEA) in November 2018. For the same survey, FEA received a precombination ranking of 12th.</p>

                    <p class="detail">The <em>Financial Times</em> 300 Top Registered Investment Advisers list is an independent listing produced annually by the <em>Financial Times</em> (July 2020). The FT 300 is based on data gathered from RIA firms, regulatory disclosures and the FT’s research. The listing reflected each practice’s performance in six primary areas: assets under management, asset growth, compliance record, years in existence, credentials and online accessibility. This award does not evaluate the quality of services provided to clients and is not indicative of the practice’s future performance. Neither the RIA firms nor their employees pay a fee to the <em>Financial Times</em> in exchange for inclusion in the FT 300.</p>

                    <p class="detail">Neither Financial Engines Advisors L.L.C. nor any of its advisors sell insurance products. Edelman Financial Engines affiliates may receive insurance-related compensation for the referral of insurance opportunities to third parties if individuals elect to purchase insurance through those third parties. You are encouraged to review this information with your insurance agent or broker to determine the best options for your particular circumstances.</p>

                    <p class="detail">All information provided is for educational purposes only and does not constitute investment, legal or tax advice; an offer to buy or sell any security or insurance product; or an endorsement of any third party or such third party's views. The information contained herein has been obtained from sources we believe to be reliable but is not guaranteed as to its accuracy or completeness. Whenever there are hyperlinks to third-party content, this information is intended to provide additional perspective and should not be construed as an endorsement of any services, products, guidance, individuals or points of view outside Edelman Financial Engines. All examples are hypothetical and for illustrative purposes only. Please contact us for more complete information based on your personal circumstances and to obtain personal individual investment advice.</p>

                    <p class="detail">Neither Edelman Financial Engines nor its affiliates offer tax or legal advice. Interested parties are strongly encouraged to seek advice from qualified tax and/or legal experts regarding the best options for your particular circumstances.</p>

                    <p class="detail">Videos presented on this website are for educational purposes only and do not constitute investment advice or an offer to buy or sell any security or insurance product.</p>

                    <p class="detail">© 2022 Edelman Financial Engines, LLC. Edelman Financial Engines<sup>®</sup> is a registered trademark of Edelman Financial Engines, LLC. All advisory services provided by Financial Engines Advisors L.L.C., a federally registered investment advisor. Results are not guaranteed. See <a href="/patent-information/">EdelmanFinancialEngines.com/patent-information</a> for patent information.</p>
                    </div>


        

            


                </div>
            </div>
        </div>
    </div>
</footer>
