#everydaywealthinamerica2024 {
    section#different-vision {
        .section-header-bg-pattern {
            &:before {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 168.1 56" style="enable-background:new 0 0 168.1 56;" xml:space="preserve"><g><polygon style="fill:none;" points="76.9,56.5 90.7,56.5 116.5,30.8 85.9,0.2 82.7,0.2 52.1,31.3 "/><polygon style="fill:none;" points="84.3,-1.4 82.7,0.2 85.9,0.2 "/><g><path style="fill:%236E7476;" d="M52.1,31.3L82.7,0.2H22.3L7.6,15.1C3.4,19.4,1,25.2,1,31.3c0,6.1,2.4,11.9,6.6,16.2l1.8,1.8 l7.1,7.2h60.5L52.1,31.3z"/><path style="fill:%236E7476;" d="M161,14.8L146.3,0.2H85.9l30.7,30.6L90.7,56.5h60.5l8.1-8.1l1.8-1.7c4.2-4.2,6.6-10,6.6-15.9 C167.6,24.8,165.2,19.1,161,14.8z"/></g></g></svg>');
            }
        }

        .stats-block {
            &.purple-light-bg {
                padding: 10px 24px 40px;
                p.stat-text {
                    color: $efe-gray-primary;
                }
            }

            &.purple-bg {
                padding: 24px 24px 8px;
            }              
        }    
        
        .purple-bike-bg {
            position: relative;
            min-height: rem(297);
            padding: 24px;
            overflow: hidden;

            .bike-bg {
                background: url('./../resources/images/EW24/bg-images/bike-bg.jpg') no-repeat center center / contain;
                padding-top: 65%;
                background-position: 100%;
                position: absolute;
                top: 0;
                right: 0;      
                width: 264px;
                height: 229px;     
            }

            .flex {
                .stat-text{
                    color: $efe-gray-primary;
                    position: relative;
                    top: 108px;
                    max-width: 16ch;
                    z-index: 999;
                    font-size: rem(28);
                    left: calc(50% - 105px);
                }
            }              

            #bike-bg-shape {
                position: absolute;
                bottom: 0;
                right: 0;
                left:0;
                width: 100%;
                height: auto;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 313 67" style="enable-background:new 0 0 313 67;" xml:space="preserve"><g><polygon style="fill:none;" points="313,0.6 317.9,-1.5 313,-1.5 "/><polygon style="fill:none;" points="0,-1.5 -4.9,-1.5 0,0.6 "/><polygon style="fill:%23F3EFF7;" points="156.5,67.3 157.4,66.9 155.6,66.9 "/><polygon style="fill:%23BDA8D2;" points="157.4,66.9 313,66.9 313,0.6 "/><polygon style="fill:%23BDA8D2;" points="0,66.9 155.6,66.9 0,0.6 "/></g></svg>');
                background-size: cover;
                padding-top: 21%;
            }    
            
            @media screen and (min-width: 532px) {
                min-height: rem(370);
                .bike-bg {
                    width: 548px;
                    height: 458px;
                    background-position: top;
                }

                .flex {
                    .stat-text {
                        top: 190px;
                    }
                }
            }
        }

        .stat-building-block {

            padding: 24px 24px 15px;

            .flex {
                @include flexbox(
                    $gap: 24px
                );

                .stat-icon {
                    flex: 0 0 auto;
                }
            }
            .flex-column {
                position: relative;
                bottom: 4px;

                p.stat-text {
                    font-size: rem(20);
                    line-height: rem(22);
                }
                p.bebas {
                    span.large {
                        font-size: rem(60);
                    }
                }
            }
            &.purple-lightest2-bg, &.purple-lightest-bg, &.purple-lighter-bg {
                p.stat-text {
                    max-width: 16ch;
                }
            }     
            &.stat-building-block-1-3 {
                padding: 64px 24px 40px;

                h3 {
                    font-size: rem(240);
                    color: white;
                    font-family: 'bebas neue pro', sans-serif;
                    font-weight: 800;
                    line-height: 47%;

                    span.in {
                        font-size: rem(60);
                        position: relative;
                        bottom: rem(69);
                    }
                }

                .stat-text--white {
                    max-width: 20ch;
                    margin-bottom: 30px;
                }

                .avatar-grid {

                    @include flexbox(
                        $gap: 12px,
                        $flex-direction: row
                    );

                    .avatar {
                        width: rem(68);
                        height: rem(68);
                        background-size: contain;
                        background-repeat: no-repeat;



                        &.avatar1 {
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="66" height="67" viewBox="0 0 66 67" fill="none"><path d="M33 66.9087C51.2254 66.9087 66.0001 52.1341 66.0001 33.9087C66.0001 15.6833 51.2254 0.908691 33 0.908691C14.7746 0.908691 0 15.6833 0 33.9087C0 52.1341 14.7746 66.9087 33 66.9087Z" fill="white"/><mask id="mask0_40_609" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="66" height="67"><path d="M33 66.9087C51.2254 66.9087 66.0001 52.1341 66.0001 33.9087C66.0001 15.6833 51.2254 0.908691 33 0.908691C14.7746 0.908691 0 15.6833 0 33.9087C0 52.1341 14.7746 66.9087 33 66.9087Z" fill="%233A948E"/></mask><g mask="url(%23mask0_40_609)"><path d="M47.1801 32.7479C47.1801 32.7479 48.2116 33.5216 49.1142 32.2322C49.1142 32.2322 49.501 33.6505 47.1801 33.7795V32.619V32.7479Z" fill="%23050503"/><path d="M44.4718 21.0166C44.4718 21.0166 48.7257 25.0127 48.8546 29.6533C48.8546 29.6533 48.9835 31.0713 47.8234 32.6181C46.6632 34.165 50.9171 37.6455 50.9171 37.6455C50.9171 37.6455 51.5616 38.29 51.1749 39.1924C50.7882 40.0947 49.4991 40.2236 48.9835 40.2236C48.9835 40.2236 49.628 41.5127 50.2726 41.7705C50.2726 41.7705 51.046 43.0595 50.1437 43.5752L49.628 43.9619C49.628 43.9619 51.4327 44.4775 51.046 45.5088C50.6593 46.54 50.1437 46.4111 50.1437 46.4111C50.1437 46.4111 49.6281 46.4111 49.4991 47.1845C49.3702 47.958 49.4991 47.4424 49.4991 47.5713C49.4991 48.2158 49.6281 50.665 47.5655 51.1806C45.503 51.6963 44.9874 51.8252 42.4093 51.1806C42.4093 51.1806 39.7023 49.5049 38.671 51.4384C38.1554 52.083 37.7687 52.9853 37.6397 53.7588C37.5108 54.5322 37.6397 54.4033 37.3819 54.6611C37.1241 55.4345 36.8663 56.208 36.8663 56.9814C36.8663 58.1416 36.8663 59.4306 37.5108 59.8174C37.5108 59.8174 40.7335 64.2002 45.7609 66.9072H12.8897C12.8897 66.9072 15.9835 58.6572 21.1397 54.6611C26.296 50.665 20.753 41.3838 20.753 41.3838C20.753 41.3838 12.8897 28.3642 20.2374 21.5322C27.4561 14.5713 41.1202 17.2783 44.6007 21.1455L44.4718 21.0166Z" fill="%23684D40"/><path d="M43.5701 18.5679V17.6655H42.9256V15.8608L41.8943 16.2476V15.2163C41.8943 14.9585 40.6053 15.7319 40.6053 15.7319C40.4764 15.2163 39.7029 15.4741 39.7029 15.4741C39.574 14.9585 39.1873 15.2163 39.1873 15.2163C39.1873 15.2163 39.3162 14.4429 39.1873 14.1851C39.0584 13.9272 38.4139 14.314 38.4139 14.314C38.4139 14.314 38.0271 15.2163 37.8982 14.4429C37.8982 13.6694 37.2537 13.4116 37.2537 13.4116L36.867 14.0562V13.1538C36.867 12.5093 36.4803 12.7671 36.2225 12.7671C35.9646 12.7671 35.5779 13.4116 35.5779 13.4116C35.5779 13.4116 34.8045 13.2827 34.8045 13.7983C34.8045 14.314 34.031 14.314 34.031 14.314C34.031 13.4116 33.3865 12.7671 33.3865 12.7671C33.3865 12.1226 32.742 11.3491 32.3553 11.3491C31.9685 11.3491 31.8396 11.9937 31.8396 11.9937C31.4529 11.9937 30.9373 13.5405 30.9373 13.5405C30.9373 13.5405 30.4217 12.7671 29.906 12.5093C29.3904 12.2515 28.7459 12.6382 28.7459 12.6382C28.7459 12.2515 27.8435 12.5093 27.8435 12.5093C27.7146 12.1226 27.199 12.5093 27.199 12.5093C26.8123 11.9937 26.1678 12.5093 26.1678 12.5093C25.6521 11.8647 25.1365 12.5093 25.1365 12.5093C25.1365 12.5093 25.1365 15.3452 24.492 14.5718C23.9764 13.7983 23.2029 14.314 23.2029 14.314C23.2029 14.314 22.9451 13.2827 22.4295 13.2827C21.9139 13.2827 21.7849 15.4741 21.7849 15.4741C21.7849 15.4741 19.3357 14.8296 19.3357 17.021C19.3357 19.2124 18.949 18.8257 18.949 18.8257C18.3045 18.3101 18.0467 19.0835 18.0467 19.0835C18.6912 22.0483 18.3045 23.2085 18.3045 23.2085C14.3084 37.3882 22.1717 43.7046 22.1717 43.7046C22.1717 37.5171 24.7498 35.5835 24.7498 35.5835L28.8748 34.0366C29.2615 32.2319 30.1639 29.6538 31.1951 27.3335C31.9685 25.7866 30.6795 23.9819 29.0037 23.9819V23.853L35.3201 22.6929C38.5428 21.5327 42.6678 21.5327 43.8279 21.146C45.7615 20.5015 43.5701 18.6968 43.5701 18.6968V18.5679Z" fill="%232C3032"/><path d="M29.3904 40.9976C29.3904 40.9976 24.8787 41.5133 23.9764 37.3883C23.074 33.2633 24.6209 32.3609 24.6209 32.3609C24.6209 32.3609 25.781 30.943 27.7146 32.8766C27.7146 32.8766 28.4881 33.65 28.617 33.9078" fill="%23684D40"/><path d="M21.3988 47.3137C21.3988 47.3137 30.1644 46.4114 41.8949 63.0403L46.9223 68.4543L11.8597 67.6809C11.8597 67.6809 13.7933 60.5911 17.016 59.0442C17.016 59.0442 17.4027 54.2747 18.9496 52.8567L21.2699 47.1848L21.3988 47.3137Z" fill="%238760AE"/><path d="M21.5265 47.4431C21.5265 47.4431 20.3663 48.3455 20.2374 49.8923C20.1085 51.4392 19.0773 52.8572 19.0773 52.8572C19.0773 52.8572 24.3624 51.5681 33.7726 59.1736L39.5734 63.8142H42.5382C42.5382 63.8142 32.8703 48.2166 21.5265 47.4431Z" fill="%233780A6"/></g></svg>');
                        }

                        &.avatar2 {
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="66" height="67" viewBox="0 0 66 67" fill="none"><path d="M32.8712 66.6509C51.0254 66.6509 65.7423 51.934 65.7423 33.7798C65.7423 15.6256 51.0254 0.908691 32.8712 0.908691C14.717 0.908691 6.10352e-05 15.6256 6.10352e-05 33.7798C6.10352e-05 51.934 14.717 66.6509 32.8712 66.6509Z" fill="%23535658"/><mask id="mask0_40_621" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="66" height="67"><path d="M32.8712 66.6509C51.0254 66.6509 65.7423 51.934 65.7423 33.7798C65.7423 15.6256 51.0254 0.908691 32.8712 0.908691C14.717 0.908691 6.10352e-05 15.6256 6.10352e-05 33.7798C6.10352e-05 51.934 14.717 66.6509 32.8712 66.6509Z" fill="%233A948E"/></mask><g mask="url(%23mask0_40_621)"><path d="M47.5667 26.4309C47.5667 26.4309 48.3403 26.9467 48.8561 26.302C48.8561 26.302 49.2429 26.9467 47.5667 26.9467V26.4309Z" fill="%23535658"/><path d="M50.0149 29.6543C50.0149 29.6543 47.9524 27.334 47.8235 26.6894C47.8235 25.916 48.468 24.1113 48.468 24.1113C48.468 24.1113 48.5969 22.0488 48.2102 20.1152C47.8235 18.1816 47.1789 16.8926 45.6321 15.2168C44.0852 13.541 30.2922 10.5762 30.2922 10.5762L25.3937 23.3379L25.9094 36.7441C25.9094 36.7441 26.8117 43.4473 24.8781 46.6699C23.0734 49.8926 23.2023 51.4394 23.2023 51.4394L21.3977 54.2754L20.882 71.9355L39.3156 72.4512L38.2844 65.1035L44.2141 64.8457L39.4445 58.2715C39.4445 58.2715 38.4133 56.5957 38.2844 54.9199C38.2844 53.7598 37.1242 52.8574 36.6086 52.4707V52.2129C36.6086 52.2129 36.6086 51.6973 37.2531 50.2793C37.8977 48.8613 38.9289 45.7676 38.9289 45.7676C38.9289 45.7676 39.8313 41.7715 41.1203 41.6426C42.4094 41.6426 43.9563 42.416 43.9563 42.416C43.9563 42.416 47.1789 43.834 48.5969 41.6426C48.5969 41.6426 49.2414 40.998 48.8547 38.9355C48.8547 38.9355 49.2414 37.9043 49.886 37.9043C49.886 37.9043 50.1438 37.2598 49.3703 36.6152C49.3703 36.6152 50.1438 36.0996 50.0149 35.3262C50.0149 35.3262 49.886 35.0684 49.6281 34.9394V33.9082C49.6281 33.9082 51.175 33.6504 51.3039 32.4902C51.4328 31.3301 50.1438 29.7832 50.1438 29.7832L50.0149 29.6543Z" fill="%23EDAF90"/><path d="M45.891 15.7318C45.891 15.7318 45.1175 13.1537 44.0863 12.7669C44.0863 12.7669 43.6995 11.7357 42.5394 11.4779C42.5394 11.4779 41.3792 10.0599 39.1878 10.5755L38.5433 11.0912V10.4466C38.5433 10.4466 38.0277 10.4466 37.3831 10.1888C36.7386 9.93101 36.6097 10.4466 36.6097 10.4466C36.6097 10.4466 35.8363 9.8021 34.5472 10.0599C34.5472 10.0599 32.3558 9.02867 30.1644 9.41538C27.973 9.93101 21.1409 12.5091 18.0472 21.0169C18.0472 21.0169 15.2112 26.1732 12.762 28.4935C10.3128 30.8138 10.3128 33.0052 10.3128 33.0052C10.3128 33.0052 7.21902 37.7748 9.92606 39.5794C9.92606 39.5794 11.0862 40.7396 12.1175 40.9974C12.1175 40.9974 11.8597 42.5443 14.5667 42.931C14.5667 42.931 15.2112 43.9623 17.1448 43.9623C17.1448 43.9623 17.6605 45.5091 19.2073 45.638C20.7542 45.7669 20.7542 46.1537 21.1409 46.4115C21.5276 46.6693 22.3011 47.056 22.8167 47.056C23.3323 47.056 24.4925 47.056 25.137 46.7982C25.137 46.7982 27.5862 48.0873 29.7777 47.056C29.7777 47.056 35.9652 48.0873 36.223 45.2513C36.223 45.2513 37.7698 40.7396 34.5472 36.3568C31.4534 31.8451 32.098 25.3998 32.098 25.3998L35.8363 26.1732C35.8363 26.1732 36.8675 27.9779 38.2855 28.2357C38.2855 28.2357 38.4144 23.724 40.9925 22.5638C43.5706 21.4037 44.7308 17.7943 43.8284 15.2162C43.8284 15.2162 41.5081 12.7669 35.0628 12.7669C35.0628 12.7669 40.0902 11.7357 45.762 15.7318H45.891Z" fill="%23B3B9BE"/><path d="M35.5788 25.658C35.5788 25.658 35.0632 22.5643 33.0007 24.2401C30.9382 25.9159 33.0007 30.4276 33.0007 30.4276C33.0007 30.4276 33.3874 31.4588 34.2898 31.9745C35.1921 32.4901 35.4499 33.0057 36.0945 33.0057C36.739 33.0057 37.1257 32.619 36.6101 31.3299" fill="%23EDAF90"/><path d="M19.8518 57.7555C18.9494 62.6539 17.6604 71.4195 18.3049 82.2477H51.5628C51.5628 82.2477 52.9807 71.6773 46.0198 65.6187C46.0198 65.6187 40.6057 59.3023 39.1877 57.7555C39.1877 57.7555 42.1526 62.525 43.5706 64.4586C44.9885 66.3922 30.8088 53.5015 30.8088 53.5015C30.8088 53.5015 30.6799 53.3726 30.2932 53.1148C26.1682 50.5367 20.7541 53.1148 19.8518 57.7555Z" fill="%238760AE"/></g></svg>');
                        }

                        &.avatar3 {
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="67" height="67" viewBox="0 0 67 67" fill="none"><path d="M33.6134 66.6509C51.7677 66.6509 66.4846 51.934 66.4846 33.7798C66.4846 15.6256 51.7677 0.908691 33.6134 0.908691C15.4592 0.908691 0.74231 15.6256 0.74231 33.7798C0.74231 51.934 15.4592 66.6509 33.6134 66.6509Z" fill="%23535658"/><mask id="mask0_40_631" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="67" height="67"><path d="M33.6133 66.6509C51.7675 66.6509 66.4844 51.934 66.4844 33.7798C66.4844 15.6256 51.7675 0.908691 33.6133 0.908691C15.4591 0.908691 0.742188 15.6256 0.742188 33.7798C0.742188 51.934 15.4591 66.6509 33.6133 66.6509Z" fill="%233A948E"/></mask><g mask="url(%23mask0_40_631)"><path d="M45.3445 15.7327C45.3445 15.7327 46.8914 17.9241 47.6648 20.76C48.4383 23.5959 48.0516 22.3069 48.4383 23.0803C48.825 23.8538 48.9539 25.1428 48.4383 26.8186C48.4383 26.8186 48.0516 28.4944 49.9852 30.428C49.9852 30.428 51.532 32.2327 51.532 33.2639C51.532 34.2952 51.532 35.1975 49.9852 35.1975L48.6961 37.7756L48.4383 38.4202C48.825 38.8069 48.9539 39.4514 48.6961 39.967C48.4383 40.4827 48.5672 40.6116 48.6961 40.9983C49.0828 41.7717 50.3719 43.5764 48.0516 45.3811C45.8601 47.1858 41.7351 46.928 41.7351 46.928C41.7351 46.928 41.7351 48.6038 40.0594 50.2795C38.3836 51.9553 41.7351 57.7561 41.7351 57.7561C41.7351 57.7561 48.3094 64.0725 48.825 69.8733H7.05933L24.7195 47.3147C24.7195 47.3147 25.8797 44.8655 24.5906 40.2248C24.5906 40.2248 23.4304 37.7756 22.9148 35.3264L21.7547 33.2639C21.7547 33.2639 21.4968 30.0413 20.0789 28.8811C18.6609 27.7209 18.7898 23.2092 18.7898 23.2092C18.7898 23.2092 17.7586 20.8889 18.4031 19.9866C19.0476 19.0842 19.95 16.1194 19.95 16.1194C19.95 16.1194 21.1101 13.0256 23.1726 12.51C25.2351 11.9944 30.907 10.8342 30.907 10.8342L38.7703 11.9944L45.3445 15.6038V15.7327Z" fill="%23B58F83"/><path d="M41.864 12.1239C41.864 12.1239 40.4461 11.995 39.6726 11.2215C38.8992 10.4481 39.157 10.8348 38.8992 10.8348C38.1258 10.8348 36.5789 10.8348 36.5789 10.577C36.5789 10.3192 35.2898 10.3192 35.2898 10.577C35.2898 10.577 34.6453 10.1903 34.0008 10.4481C34.0008 10.4481 32.325 9.54574 31.6804 9.80355C31.6804 9.80355 28.4578 8.7723 26.782 9.80355C26.782 9.80355 24.2039 10.7059 24.7195 11.866C24.7195 11.866 23.5593 11.4793 22.657 12.7684C22.657 12.7684 20.4656 13.4129 20.0789 15.4754C20.0789 15.4754 18.6609 16.6356 18.6609 18.4403C18.6609 19.3426 18.4031 19.8582 18.1453 20.245C17.8875 20.6317 17.8875 20.8895 18.1453 21.2762C18.4031 21.6629 18.4031 22.1786 18.4031 22.952C18.4031 24.4989 18.6609 26.0457 18.6609 26.0457C18.6609 26.0457 19.0476 27.8504 19.0476 28.3661C19.0476 28.8817 21.1101 30.5575 21.239 33.1356C21.3679 35.7137 24.2039 39.7098 24.2039 39.7098C24.2039 39.7098 25.8797 39.3231 26.0086 35.5848C26.1375 31.8465 27.8132 26.6903 27.8132 26.6903C27.8132 26.6903 29.7468 25.0145 31.8094 27.8504C33.7429 30.6864 35.5476 35.7137 31.8094 37.3895C31.8094 37.3895 31.5515 42.5457 38.8992 45.6395L41.7351 47.3153C41.7351 47.3153 44.1844 47.3153 44.7 46.7997C44.7 46.7997 48.0516 47.8309 49.7273 44.7371C49.7273 44.7371 50.5008 42.8036 48.9539 41.1278C48.9539 41.1278 48.9539 40.2254 49.0828 39.0653C49.2117 37.9051 48.9539 38.6786 48.6961 38.6786C47.7937 38.8075 45.8602 39.1942 45.9891 38.6786C46.118 38.1629 49.5984 37.5184 49.5984 37.5184C49.5984 37.5184 50.7586 36.6161 49.8563 35.1981C48.9539 33.7801 45.7312 36.2293 45.7312 36.2293C45.7312 36.2293 46.118 33.7801 43.0242 33.7801C43.0242 33.7801 40.575 33.7801 40.3172 35.4559C40.3172 35.4559 32.4539 25.1434 37.2234 20.7606C37.2234 20.7606 36.3211 15.6043 34.1297 14.8309C34.1297 14.8309 35.1609 13.4129 37.2234 13.7996C37.2234 13.7996 36.7078 14.4442 36.0633 14.4442C36.0633 14.4442 37.2234 14.702 38.1258 14.3153C38.1258 14.3153 37.0945 15.2176 37.2234 15.991C37.2234 15.991 38.3836 14.8309 39.5437 14.9598C40.7039 15.0887 39.5437 16.3778 39.5437 16.3778C39.5437 16.3778 40.7039 16.8934 42.5086 15.7332L43.5398 15.4754C43.5398 15.4754 43.1531 16.7645 43.6687 17.2801C44.1844 17.7957 45.4734 16.5067 45.4734 16.5067C45.4734 16.5067 46.118 16.7645 46.5047 16.12C46.8914 15.4754 46.8914 13.9285 46.8914 13.9285C46.8914 13.9285 46.8914 12.2528 46.118 12.2528C45.3445 12.2528 44.8289 12.6395 44.8289 12.6395C44.8289 12.6395 44.4422 11.866 43.6687 11.995C42.8953 12.1239 42.5086 11.995 42.5086 11.995H41.7351L41.864 12.1239Z" fill="%234B433F"/><path d="M33.8719 52.7288C33.8719 52.7288 36.8368 54.9202 39.5438 54.0178L41.8641 50.7952L44.829 58.7874L47.2782 64.3303C47.2782 64.3303 51.1454 71.1623 50.8876 80.0569H47.9227L33.8719 52.8577V52.7288Z" fill="%233780A6"/><path d="M30.519 26.6901C30.519 26.6901 27.6831 24.7565 26.2651 26.819C25.7495 27.4635 25.6206 28.3659 25.7495 29.1393C25.8784 30.2995 26.5229 32.362 28.0698 33.651C30.3901 35.7135 31.4214 37.776 32.9683 35.7135" fill="%23B58F83"/><path d="M23.0437 46.6699C23.0437 46.6699 19.95 48.3457 18.532 50.1504C17.114 51.9551 13.1179 56.9824 13.1179 56.9824C13.1179 56.9824 10.5398 62.6543 8.73511 64.3301C6.93042 66.0059 3.70776 74.1269 3.70776 75.5449V80.0566H50.243L43.7976 66.5215L34.0008 56.3379L23.1726 46.7988" fill="%233780A6"/><path d="M38.5126 61.7531C38.5126 61.7531 46.7626 73.2257 48.6962 79.9289H49.9853L44.5712 64.9757C44.5712 64.9757 42.7665 62.9132 38.8993 60.5929C35.0321 58.2726 38.3837 61.6242 38.3837 61.6242" fill="%238760AE"/><path d="M24.7196 40.2256C24.7196 40.2256 23.8173 40.999 22.9149 46.542C22.9149 46.542 24.7196 48.4756 25.8798 51.5693C27.0399 54.6631 28.4579 56.4678 28.4579 56.4678L29.618 59.6904C29.618 59.6904 35.2899 60.8506 36.4501 59.6904C36.4501 59.6904 38.6415 62.2685 40.4462 62.3975C40.4462 62.3975 43.5399 62.7842 44.5712 64.8467C44.5712 64.8467 37.0946 58.917 34.5165 53.5029C31.9384 48.0889 30.0048 48.0889 30.0048 48.0889C30.0048 48.0889 27.4266 41.9014 24.4618 40.0967L24.7196 40.2256Z" fill="%238760AE"/><path d="M41.4776 48.2177C41.4776 48.2177 42.6377 48.0888 43.0244 50.2802C43.4112 52.4716 43.5401 51.8271 43.7979 52.0849C44.0557 52.3427 44.4424 52.9873 44.3135 53.6318L43.9268 55.1787L47.1494 64.2021L40.3174 53.8896C39.544 52.7295 39.6729 51.0537 39.9307 50.538C40.5752 49.3779 41.0908 49.1201 41.4776 48.2177Z" fill="%238760AE"/></g></svg>');
                        }                        
                    }
                }
            } 
            
        }

        @media screen and (min-width: $md) {
            .stat-building-block {
                .flex {
                    max-width: 263px;
                    margin: 0 auto;
                }

                &.stat-building-block-1-3 {
                    .flex-column {
                        @include flexbox(
                            $align-items: center
                        );

                        .stat-text {
                            text-align: center;
                        }
                    }
                }
            }

            .stats-block {
                &.purple-light-bg {
                    padding-bottom: 100px;
                    p.stat-text {
                        left: 0;

                        .right-col-text {
                            top: rem(44);
                        }
                    }

                }

                h3.headline-source-serif {
                    max-width: 23ch;
                    margin: 0 auto 20px;
                }
            }
        }

        @media screen and (min-width: $xl) {
            @include flexbox(
                $flex-direction: column,
            );

            .flex {
                @include flexbox(
                    $flex-direction: row
                );

                .seventy-five{
                    flex-basis: 75%;
                    -ms-flex-preferred-size: 75%;   
                }

                .twenty-five {
                    flex-basis: 25%;
                    -ms-flex-preferred-size: 25%;  
                }
            }

            .section-header-bg-pattern {
                &:before {
                    left: calc(100% - 284px);
                }
            }

            .stats-block {
                &.purple-bg {
                    padding: 40px;
                    h3 {
                        max-width: none;
                        margin-bottom: 0;
                    }
                }

                &.purple-light-bg {
                    flex-basis: 66.66667%;
                    -ms-flex-preferred-size: 66.66667%;
                    padding: 5px 40px 51px;

                    p.stat-text {
                        .right-col-text {
                            span.text {
                                max-width: 16ch;
                            }
                            top: 37px;
                        }
                    }

                }

                &.purple-bike-bg {
                    flex-basis: 33.3333%;
                    -ms-flex-preferred-size: 33.3333%;  
                    min-height: unset;   
                    
                    .flex {
                        .stat-text {
                            top: 125px;
                            max-width: 14ch;
                            left: calc(100% - 225px);
                            position: relative;
                        }
                    }

                    .bike-bg {
                        width: 264px;
                        height: 229px;
                        right: -1px;
                    }
                }
            }

            .bottom-row {

                .stat-building-block {
                    bottom: 0;
                    padding: 40px;

                    flex-basis: 33.33333%;
                    
                    .flex-column {
                        bottom: 0;
                        @include flexbox(
                            $gap: 1px
                        );

                        p.stat-text {
                            max-width: unset;
                            span.lighter {
                                font-size: rem(24);
                            }
                        }
                    }

                    .flex {
                        @include flexbox(
                            $flex-direction: column,
                            $gap: 18px
                        );

                        .stat-icon {
                            width: 70px;
                            height: 70px;
                        }

                        .flex-column {
                            p.bebas {
                                span.large {
                                    font-size: rem(80);
                                    sup {
                                        top: -21px;
                                        font-size: rem(48);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .stat-building-block-1-3 {
                height: 100%;
                .flex-column {
                    p.stat-text {
                        font-size: rem(32);
                        line-height: 100%;
                    }
                }
            }            
        }

    }
}

