$teal: #3a948e;
$light-gray-bg: #ebf2f6;

.stat-text {
    font-weight: 400;
    font-size: rem(24);
    line-height: 110%;
    color: white;

    b {
        font-weight: 700;
    }

    @media screen and (min-width: xl) {
        font-size: rem(32);

        b {
            font-size: rem(40);
        }
    }
}

.blue-bg {
    background-color: $efe-blue;
}

.gray-bg {
    background-color: $light-gray-bg;
}

.teal-bg {
    background-color: $teal;
}

.efe-blue {
    color: $efe-blue;
}

.efe-teal {
    color: $teal;
}

.bebas {
    font-family: 'bebas neue pro', sans-serif;
}

#everydaywealthinamerica2024 {
    
    max-width: rem(1200);
    margin: 0 auto;
    
    section#hero {
        background-color: $efe-gray-light;
        text-align: center;
        border-top-left-radius: 28px;

        h1 {
            font-family: nimbus-sans, sans-serif;
            font-size: rem(46);
            letter-spacing: -.01em;
            line-height: rem(48);
            font-weight: 700;
            color: $efe-gray-primary;
            margin-bottom: 15px;
        }
        h2 {
            font-family: "source-serif-pro", serif;
            font-weight: 300;
            font-style: italic;
            font-size: rem(28);
            line-height: rem(30);
            margin-bottom: 24px;
        }
        p {
            @include body-03;
            text-align: center;
            max-width: 65ch;
            margin: 0 auto 24px;
        }
        .cmp-button--button-primary {
            a {
                margin: 0 auto;
            }
            margin: 0 auto;
        }
    }

    @media screen and (min-width: $xl) {

        //HERO
        section#hero {
            border-top-left-radius: 40px;
            h1 {
                @include heading-01;
            }
        }
    
    }         
    
}

    






