$teal: #3a948e;
$orange: #EF9C42;
$orange-light: #f2ad63;
$light-gray-bg: #ebf2f6;

.stat-text {
    font-weight: 400;
    font-size: rem(24);
    line-height: 110%;
    color: white;

    &.stat-text--gray {
        color: $efe-gray-primary;
    }

    b {
        font-weight: 700;
    }

    .lighter {
        display: block;
    }


    @media screen and (min-width: xl) {
        font-size: rem(32);

        b {
            font-size: rem(40);
        }
    }
}

.blue-bg {
    background-color: $efe-blue;
}

.gray-bg {
    background-color: $light-gray-bg;
}

.teal-bg {
    background-color: $teal;
}

.orange-bg {
    background-color: $orange;
}

.orange-light-bg {
    background-color: $orange-light;
}

.orange-lighter-bg {
    background-color: #f7d0a6;
}

.orange-even-lighter-bg {
    background-color: #fae2c7;
}

.efe-blue {
    color: $efe-blue;
}

.efe-teal {
    color: $teal;
}

.bebas {
    font-family: 'bebas neue pro', sans-serif;
}

p.bebas {
    font-family: 'bebas neue pro', sans-serif;
    font-weight: 700;

    span.large {
        font-size: rem(54);
        color: $efe-gray-primary;
        text-transform: uppercase;

        sup {
            font-family: 'bebas neue pro', sans-serif;
            font-weight: 700;
            position: relative;
        }
    }


}

.top-left-radius {
    border-top-left-radius: 28px;

    @media screen and (min-width: $xl) 
        {
            border-top-left-radius: 40px;
        }
}

.stat-building-block {
    padding: 20px 24px;

    .flex {
        p.bebas {

            span.large {
                line-height: 100%;
                display: block;
                position: relative;
                bottom: 7px;
                sup {
                    font-size: rem(26);
                    top: -19px;
                    left: 4px;
                }
            }
        }
    }

    p.stat-text {
        position: relative;
        bottom: 2px;
    }
}