#everydaywealthinamerica2024 {

    #wealth-concerns {

        .section-header-bg-pattern {
            &:before {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 192.8 62" style="enable-background:new 0 0 192.8 62;" xml:space="preserve"><g><polygon style="fill:%236E7476;" points="62.2,0 0,62 92.9,62 155.1,0 "/><polygon style="fill:%236E7476;" points="192.8,0 179.5,0 117.3,62 192.8,62 "/></g></svg>');
                right: 0;
                width: 186px;
                left: calc(100% - 187px);
                background-size: cover;                
            }
        }

        .stats-block {
            color: $efe-gray-primary;

            &.stats-block--orange {

                min-height: 315px;

                h3.headline-source-serif {
                    position: relative;
                    z-index: 999;
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 197px;
                    height: 165px;
                    background: url('./../resources/images/EW24/bg-images/woman-pillow1.png') no-repeat center center / contain;
                }
            }

             
        }

        .flex {

            svg {
                flex: 0 0 auto;

                &.stat-icon {
                    &.stat-icon-globe {
                        position: relative;
                        top: 2px;
                    }
                }
            }
            @include flexbox(
                $gap: 12px,
                $align-items: start,
            );
        };

        @media screen and (min-width: $md) {
            .stats-block {
                &.stats-block--orange {

                    &:before {
                        width: 299px;
                        height: 230px;
                    }

                    h3.headline-source-serif {
                        max-width: 14ch;
                        margin: 0 auto 20px;
                        position: relative;
                        top: 39px;                        
                    }
                }
            }

            .stat-building-block {

                &.orange-light-bg {
                    text-align: center;
                }

                .flex {
                    max-width: 470px;
                    margin: 0 auto;
                    @include flexbox (
                        
                    );
                }
            }
        }

        @media screen and (min-width: $xl) {
            .thirty-three-percent {
                flex-basis: 33.333%;
                .stats-block {
                    &.stats-block--orange {
                        height: calc(100% - 60px);

                        &:before {
                            width: 299px;
                            height: 230px;
                        }
                        h3.headline-source-serif {
                            top: 0;
                            line-height: rem(68);
                        }
                    }
                }

            }
            .two-third {
                flex-basis: 66.66667%;

                .stat-building-block {
                    padding: 19px 40px;
                    text-align: left;

                    &.orange-even-lighter-bg, &.orange-lightest-bg {

                        .flex {
                            p.stat-text {
                                position: relative;
                                bottom: 21px;
                            }
                        }

                    }

                    &.orange-lightest-bg {
                        .flex {
                            p.stat-text {
                                bottom: 20px;
                            }
                        }
                    }

                    &.orange-even-lighter-bg {
                        .flex {
                            p.stat-text {
                                bottom: 17px;
                            }
                        }
                    }

                    &.orange-lighter-bg {
                        .flex {
                            p.stat-text {
                                bottom: 0px;
                            }
                        }
                    }                    



                    &.orange-lighter-bg, &.orange-even-lighter-bg, .orange-lightest-bg  {
                        .flex {
                            .stat-icon {

                                &.stat-icon-globe {
                                    top: -4px;
                                }

                            }
                            p.bebas {
                                position: relative;
                                top: 4px;
                            }
                            p.stat-text {

                            }
                        }
                    }                    

                    .flex {
                        max-width: none;
                        align-items: start;

                        @include flexbox(
                            $gap: 40px,
                            $align-items: center
                        );

                        p.bebas {
                            span.large {
                                font-size: rem(137);
                                line-height: 100%;

                                sup {
                                    font-size: rem(60);
                                    top: - 54px;

                                }
                            }
                        }

                        p.stat-text {
                            font-size: rem(32);
                            line-height: 110%;
                            bottom: 5px;
                            right: 15px;


                            .lighter {
                                font-size: rem(24);                            }
                        }

                        .stat-icon {
                            width: rem(96);
                            height: rem(96);
                        }
                    }

                    &.stat-building-block-header {
                        padding: 50px 40px;
                    }
                    text-align: left;
                    h3.stat-text {
                        font-size: rem(40);
                    }
                }
            }

            .section-header-bg-pattern {
                &:before {
                    background-size: cover;
                    left: calc(100% - 186px);
                }
            }


        }

    }
}