<sly data-sly-use.model="com.efe.core.models.Header"/>
<header class="header" data-component="header" id="${model.id}">

    <div class="container responsivegrid" id="efe-global-nav-header">
        <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light">
            <div class="container responsivegrid" id="efe-nav-search">
                <div id="container-99d779a4e6" class="cmp-container cmp-container--unset cmp-container--1920 cmp-container--width-1920 efe-nav-search">

                    <div class="search cmp-search--primary"data-component="search" >
                        <section id="search-8c1c42a604" class="cmp-search" role="search" data-cmp-min-length="1" data-cmp-results-size="30">
                            <div class="cmp_search__info" aria-live="polite" role="status"></div>
                            <form id="search-form" class="cmp-search__form" data-cmp-hook-search="form" method="get" action="" autocomplete="off">
                                <div class="cmp-search__field">
                                    <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
                                    <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="${model.searchLabel}" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-expanded="false" aria-owns="cmp-search-results-1">
                                    <button class="cmp-search__clear" data-cmp-hook-search="clear" aria-label="Clear">
                                        <i class="cmp-search__clear-icon"></i>
                                    </button>
                                    <button class="cmp-search__cta" aria-label="Search">
                                        ${model.SearchBtn}
                                    </button>
                                </div>
                            </form>
                            <div class="cmp-search__results" aria-label="Search results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false" id="cmp-search-results-1"></div>
                            <script data-cmp-hook-search="itemTemplate" type="x-template"> <a class="cmp-search__item" data-cmp-hook-search="item" role="option" aria-selected="false">
                                <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
                            </a>
                            </script>
                        </section>
                    </div>



                    <div class="image cmp-image--close cmp-image--" id="search-close">
                        <div
                                data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                                id="image-72c95dc7ac"
                                class="cmp-image"
                                itemscope=""
                                itemtype="http://schema.org/ImageObject"
                        >
                            <a
                                    class="cmp-image__link"
                                    data-cmp-clickable=""
                                    href="#"
                            >
                                <img
                                        src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E"
                                        loading="lazy"
                                        class="cmp-image__image"
                                        itemprop="contentUrl"
                                        alt=""
                                        title=""
                                />
                            </a>
                            <meta itemprop="caption" content="Snowy mountain glacier" />
                        </div>
                    </div>                </div>
            </div>

            <div class="container responsivegrid">
                <div id="container-99d779a4e6" class="cmp-container cmp-container--unset cmp-container--1920  cmp-container--width-1920 efe-nav-header">

                    <div class="button cmp-button--footer-01 cmp-button--efe-gray-new">
                        <a id="button-a1f53d50c2" data-cmp-clickable=""  href="tel:+${model.contactNumber}">
                            <span class="cmp-button__text">${model.contactTitle}</span>
                        </a>
                    </div>

                    <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                        <a id="button-a1f53d50c2" target="${model.logintarget}" data-cmp-clickable=""  href="${model.loginLink}">
                            <span class="cmp-button__text">${model.loginTitle}</span>
                        </a>
                    </div>

                    <div class="image cmp-image--search cmp-image--" id="nav-search-icon">
                        <div
                                data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                                id="image-72c95dc7ac"
                                class="cmp-image"
                                itemscope=""
                                itemtype="http://schema.org/ImageObject"
                        >
                            <a
                                    class="cmp-image__link"
                                    data-cmp-clickable=""
                                    href="#"
                            >
                                <img
                                        src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E"
                                        loading="lazy"
                                        class="cmp-image__image"
                                        itemprop="contentUrl"
                                        alt=""
                                        title=""
                                />
                            </a>
                            <meta itemprop="caption" content="Snowy mountain glacier" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container responsivegrid" id="">
        <div id="container-99d779a4e6" class="cmp-container cmp-container--white">
            <div class="container responsivegrid" id="efe-nav-main">
                <div id="container-99d779a4e6" class="cmp-container--white cmp-container--unset cmp-container--1920 cmp-container--width-1920 cmp-container--26">

                    <div class="image cmp-image--efe-logo-primary cmp-image--small" id="">
                        <div
                                data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                                id="image-72c95dc7ac"
                                class="cmp-image"
                                itemscope=""
                                itemtype="http://schema.org/ImageObject"
                        >
                            <a
                                    class="cmp-image__link"
                                    data-cmp-clickable=""
                                    href="${model.logoLink}"
                                    target="${model.logotarget}"

                            >
                                <img
                                        src="${model.fileReference}"
                                        loading="lazy"
                                        class="cmp-image__image"
                                        itemprop="contentUrl"
                                        alt="${model.alt}"
                                        title="${model.alt}"
                                />
                            </a>
                            <meta itemprop="caption" content="Snowy mountain glacier" />
                        </div>
                    </div>
                    <button id="nav-hamburger" aria-expanded="false" aria-label="main menu" class="top-bar__hamburger-button" data-analytics-trigger="cta-hamburger">
                        <svg id="top-hamburger-line" width="24px" height="3px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--top">
                            <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0" class="top-bar__hamburger-button-line top-bar__hamburger-button-line--top"></line>
                        </svg>
                        <svg id="middle-hamburger-line" width="24px" height="3px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--middle">
                            <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0" class="top-bar__hamburger-button-line top-bar__hamburger-button-line--top"></line>
                        </svg>

                        <svg id="bottom-hamburger-line" width="24px" height="3px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="top-bar__hamburger-button-line-wrapper top-bar__hamburger-button-line-wrapper--middle">
                            <line stroke="#7A7D82" stroke-width="3" x1="0" x2="24" y1="0" y2="0" class="top-bar__hamburger-button-line top-bar__hamburger-button-line--bottom"></line>
                        </svg>
                    </button>

                    <div class="container responsivegrid" id="nav-list-cta-group" style="display: none">

                        <div id="container-99d779a4e6" class="cmp-container cmp-container--white cmp-container--unset cmp-container--unset ul-cta-group">

                            <div class="navigation cmp-navigation--primary" >
                                <nav id="navigation-e10abc050c" class="cmp-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                                    <ul class="cmp-navigation__group cmp-navigation__group--level-0">
                                        <sly data-sly-list.headerList="${model.headerList}">
                                            <li class="cmp-navigation__item cmp-navigation__item--level-0">
                                                <a data-cmp-clickable="" class="cmp-navigation__item-link" data-sly-test.newPath="${'nav{0}' @format =headerListList.index}" href="javascript:void(0)">${headerList.label}</a>
                                                <div class="image cmp-img--arrow cmp-img--down" id="nav-arrow">
                                                    <div data-cmp-src="/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo/component/image.coreimg{.width}.svg" data-asset-id="bf8419f0-1d78-4ce8-9af8-80d3ea45da26" id="image-777c52be2d"  data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                                        <img src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="Component" title="Component">
                                                        <meta itemprop="caption" content="Component">
                                                    </div>
                                                </div>
                                                <sly data-sly-resource="${newPath @ resourceType='efe/components/header-nav',decoration=true}"></sly>
                                            </li>
                                        </sly>
                                    </ul>
                                </nav>
                            </div>

                            <div class="button cmp-button--button-primary cmp-button--center cmp-button-- cmp-button--">
                                <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="">
                                    <span class="cmp-button__text">${model.ctaTitle}</span>
                                </button>
                            </div>                    </div>

                        <div class="container responsivegrid" id="efe-global-nav-header">
                            <div id="container-99d779a4e6" class="cmp-container cmp-container--bg-efe-gray-light">
                                <div class="container responsivegrid" id="efe-nav-searchT">
                                    <div id="container-99d779a4e6" class="cmp-container cmp-container--unset cmp-container--1920 efe-nav-search">

                                        <div class="search cmp-search--primary"data-component="search" >
                                            <section id="search-8c1c42a604" class="cmp-search" role="search" data-cmp-min-length="1" data-cmp-results-size="30">
                                                <div class="cmp_search__info" aria-live="polite" role="status"></div>
                                                <form id="search-form" class="cmp-search__form" data-cmp-hook-search="form" method="get" action="" autocomplete="off">
                                                    <div class="cmp-search__field">
                                                        <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
                                                        <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="${model.searchLabel}" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-expanded="false" aria-owns="cmp-search-results-1">
                                                        <button class="cmp-search__clear" data-cmp-hook-search="clear" aria-label="Clear">
                                                            <i class="cmp-search__clear-icon"></i>
                                                        </button>
                                                        <button class="cmp-search__cta" aria-label="Search">
                                                            ${model.SearchBtn}
                                                        </button>
                                                    </div>
                                                </form>
                                                <div class="cmp-search__results" aria-label="Search results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false" id="cmp-search-results-1"></div>
                                                <script data-cmp-hook-search="itemTemplate" type="x-template"> <a class="cmp-search__item" data-cmp-hook-search="item" role="option" aria-selected="false">
                                                    <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
                                                </a>
                                                </script>
                                            </section>
                                        </div>



                                        <div class="image cmp-image--close cmp-image--" id="search-closeT">
                                            <div
                                                    data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                                                    id="image-72c95dc7ac"
                                                    class="cmp-image"
                                                    itemscope=""
                                                    itemtype="http://schema.org/ImageObject"
                                            >
                                                <a
                                                        class="cmp-image__link"
                                                        data-cmp-clickable=""
                                                        href="#"
                                                >
                                                    <img
                                                            src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E"
                                                            loading="lazy"
                                                            class="cmp-image__image"
                                                            itemprop="contentUrl"
                                                            alt=""
                                                            title=""
                                                    />
                                                </a>
                                                <meta itemprop="caption" content="Snowy mountain glacier" />
                                            </div>
                                        </div>                                </div>
                                </div>

                                <div class="container responsivegrid">
                                    <div id="container-99d779a4e6" class="cmp-container cmp-container--unset cmp-container--1920 efe-nav-header">

                                        <div class="button cmp-button--footer-01 cmp-button--efe-gray-new">
                                            <a id="button-a1f53d50c2" data-cmp-clickable=""  href="tel:+${model.contactNumber}">
                                                <span class="cmp-button__text">${model.contactTitle}</span>
                                            </a>
                                        </div>

                                        <div class="button cmp-button--primary-nav-link cmp-button--efe-red-primary">
                                            <a id="button-a1f53d50c2" target="${model.logintarget}" data-cmp-clickable="" href="${model.loginLink}">
                                                <span class="cmp-button__text">${model.loginTitle}</span>
                                            </a>
                                        </div>

                                        <div class="image cmp-image--search cmp-image--" id="nav-search-iconT">
                                            <div
                                                    data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                                                    id="image-72c95dc7ac"
                                                    class="cmp-image"
                                                    itemscope=""
                                                    itemtype="http://schema.org/ImageObject"
                                            >
                                                <a
                                                        class="cmp-image__link"
                                                        data-cmp-clickable=""
                                                        href="#"
                                                >
                                                    <img
                                                            src="data:image/svg+xml;charset&#x3D;utf8,%3Csvg%20xmlns&#x3D;&#x27;http://www.w3.org/2000/svg&#x27;%3E%3C/svg%3E"
                                                            loading="lazy"
                                                            class="cmp-image__image"
                                                            itemprop="contentUrl"
                                                            alt=""
                                                            title=""
                                                    />
                                                </a>
                                                <meta itemprop="caption" content="Snowy mountain glacier" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>