.cmp-content-collage {
    .cmp-collage {
        display: grid;
        grid-template-areas:
            "content1 content2"
            "content1 content3";
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        @include media('<=tablet') {
            min-height: 370px;
        }
        &__item1 {
            grid-area: content1;
        }
        li {
            .image {
                height: 100%;
                .cmp-image {
                    height: inherit;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
            }
        }
    }
    &.cmp-content-collage--border-top-left {
        .cmp-collage {
            &__item1 {
                img {
                    @include border-top-left-radius();
                }
            }
        }
    }
}

.cmp-content-collage--right-large {
    .cmp-collage {
        grid-template-areas:
        "content1 content2"
        "content3 content2";
        &__item2 {
            grid-area: content2;
        }
    }
    &.cmp-content-collage--border-top-left {
        .cmp-collage {
            &__item1 {
                img {
                    @include border-top-left-radius();
                }
            }
        }
    }
    &.cmp-content-collage--border-multiple {
        .cmp-collage {
            &__item1 {
                img {
                    @include border-bottom-left-radius();
                }
            }
            &__item3 {
                img {
                    @include border-top-left-radius();
                }
            }
        }
    }
}

