<div class="container responsivegrid cmp-content-collage 
         {{#if border-top-left}}cmp-content-collage--border-top-left{{/if}}">
    <div id="container-97c410ebe3" class="cmp-container">
        {{>ImageStandard source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
        {{>ImageStandard source="https://fastly.picsum.photos/id/193/3578/2451.jpg?hmac=M5yoazhwdwMa_27rC5-S50SNFvCy4Kni0wXoa6iVF0g"}}
        <div>
            {{>Quote variant="quote2" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore."}}
            {{>Text variant="body-03" text="First Name Last Name" }}
            {{>Text variant="body-03" text=" Title Goes In This Space Here" }}
        </div>
    </div>
</div>
