<div class="{{variation}}">
    <div class="modal-content-wrapper">
        <div class="fe-modal fe-show-modal" id="fe-modal-fe-form-error">
                <div class="fe-modal-content">
                <div class="fe-modal-header">
                    <h4 class="fe-modal-header__text"><span class="fe-modal-form-error-title-wrapper">Error</span></h4>
                    <span class="fe-modal-header__close fe-modal-toggle-fe-form-error">×</span>
                </div>
                <div class="fe-clearfix">
                    <div class="fe-modal-body  ">
                        <div class="fe-modal-body__content">
                        <div class="fe-modal-form-error-content-wrapper"><p>Sorry, we don't recognize the information you entered. Please double check your entries and try again, or call us at 866-473-2016 (former employees call 855-223-0111) and request Edelman Financial Engines</p></div>
                        </div>
                    </div>
                    
                </div>
                <div class="fe-modal-footer">
                    <p class="fe-text-right"><a class="fe-modal-footer__close fe-button fe-modal-toggle-fe-form-error">Close</a></p><p>
                </p></div>
                </div>
        </div>
    </div>
</div>