.fe-modal{
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    left: -1000%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    

    &.fe-show-modal{
        display: flex;
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    &-content {
        background-color: white;
        margin: auto;
        max-width: rem(600px);
    }

    &-header{
        position: relative;
        padding: rem(25px);
        &__text{
            color: var(--fe-form-promo-text);
            font-family: var(--fe-modal-header-font-family)!important;
            font-size: rem(30px);
            font-style: normal;
            font-weight: 400;
            line-height: rem(30px); /* 100% */
            letter-spacing: 4px;
        }

        &__close{
            position: absolute;
            right: rem(25px);
            top:rem(25px);
            width: rem(14.121px);
            height: rem(14.043px);
            font-size: 1.8rem;
            line-height: rem(14px);
            cursor: pointer;
        }
    }

    &-body{
        padding: rem(25px);
        color: #535658;
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 105%;

        & b, & strong, & .fe-fees__heading, & th{
            font-weight: 700;
        }

        & .fe-fees{
            &__heading{
                margin-top: rem(20px);
            }

            &__table{
                margin-top: rem(15px);
                margin-bottom: rem(20px);
                border-collapse: collapse;

                & tr {
                    & th,& td {
                        border-top: 1px solid #53565840;
                        border-bottom: 1px solid #53565840;
                        padding: rem(15px) 0;
                        text-align: left;
                    }
                }

                & tr:last-child{
                    & td{
                        padding-bottom: rem(20px);
                    }
                }
            }

            &__disclaimers{
                color: #A6A8AB;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 10px; /* 125% */

                & a{
                    color: #A6A8AB;
                    text-decoration-line: underline;
                }
            }
        }
    }

    &-footer{
        &__close{
            border-radius: var(--primary-button-border-radius);
            border: 1px solid var(--fe-form-color);
            color: var(--fe-form-color);
            display: inline-flex;
            height: rem(35px);
            padding: rem(20px) rem(26px);
            justify-content: center;
            align-items: center;
            margin: rem(25px);
            margin-top: 0;
        }
        & .fe-text-right{
            text-align: right;
        }
    }
}

.theme-vanguard, .theme-aon, .theme-ssga{
    & .fe-modal{
        &-footer{
            &__close{
                background: var(--primary-button-bg-color);
                color: var(--primary-button-font-color);
                border: var(--fe-form-buttom-hover-border);
                &:hover{
                    color: var(--fe-form-button-hover-color);
                    background: var(--fe-form-button-hover-background);
                    border: var(--fe-form-buttom-hover-border);
                }
            }
        }
    }
}