<ul class="cmp-vertical-separator--one {{#if horizontalSeparator}}cmp-horizontal-separator{{/if}}">
    <li class="cmp-vertical-separator--one__item">
        {{>Title
            text="145"
            variant="stats-01"
            variation="superplus"
        }}
        {{>Text
            text="Offices Nationwide<sup>1</sup>"
            variant="body-03"
        }}
        {{>Text
            text="<sup>1</sup>Data as of Dec 31, 2021"
            variant="body-03"
            color="efe-blue"
        }}
    </li>
    <li class="cmp-vertical-separator--one__item">
        {{>Title
            text="1.3"
            variant="stats-01"
            variation="superplus"
        }}
        {{>Text
            text="MILLIAN CLIENTS<sup>2</sup>"
            variant="body-03"
        }}
        {{>Text
            text="<sup>2</sup>Data as of Match 31, 2021"
            variant="body-03"
            color="efe-blue"
        }}

    </li>
    <li class="cmp-vertical-separator--one__item">
        {{>Title
            text="120"
            variant="stats-01"
        }}
        {{>Text
            text="Offices Nationwide<sup>1</sup>"
            variant="body-03"
        }}
        {{>Text
            text="<sup>1</sup>Data as of Dec 31, 2021"
            variant="body-03"
            color="efe-blue"
        }}

    </li>
</ul>
