<div class="verticalseparator cmp-vertical-separator--two__{{align}}">
    <ul class="cmp-vertical-separator--two {{#if horizontalSeparator}}cmp-horizontal-separator{{/if}}">
        <li class="cmp-vertical-separator--two__item">
            <div class="column_0">
                <div>
                    <div>
                        <div id="container-7392e20145" class="cmp-container">
                            {{>ImageStandard styles="
                            width: 100%;
                            height: auto;
                            object-fit: cover;" 
                            source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
                            {{>Text
                            text="#1 Independent Financial Advisory Firm  2018, 2019, 2020, 2021"
                            variant="body-03"
                            }}
                            {{>Text
                            text="Awarded each September (2018 – 2021) by Barron’s, based on data within a 12-month period. Compensation paid for use and distribution of rating."
                            variant="body-03"
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="cmp-vertical-separator--two__item">
            <div class="column_0">
                <div>
                    <div>
                        <div id="container-7392e20145" class="cmp-container">

                            {{>ImageStandard styles="
                            width: 100%;
                            height: auto;
                            object-fit: cover;" 
                            source="https://fastly.picsum.photos/id/92/3568/2368.jpg?hmac=k-61p7oMQe6U59dEgm0Gu6bWTJGPfHblWxMskxTBZMo"}}
                            {{>Text
                            text="Top U.S. Registered Investment Advisers"
                            variant="body-03"
                            }}
                            {{>Text
                            text="Listing published annually in July and is based on data gathered by Financial Times in 2020."
                            variant="body-03"
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
