.radio-item--checkbox {

    input[type="checkbox"] {
        position: relative;
        height: rem(18);
        width: rem(18);
        border-radius: 3px;
        border: 2px solid $efe-gray-new;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        background: white;
    }

    span {
        @include secondary-nav-link;
        position: relative;
        bottom: 6px;
        left: 16px;
    }

    &:hover, &.radio-item--hover {
        input[type="checkbox"] {
            outline: 2px solid  $efe-gray-light;
        }
    }

    &.radio-item--selected {
        input[type="checkbox"] {
            border: 2px solid  $efe-red-primary;
            background-color: $efe-red-primary;

            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url("../resources/images/icons/checkmarks/checkmark-white.svg") no-repeat center center / contain;
            }

            &:hover {
                outline: 2px solid $efe-red-20-perecent;
            }
        }
    }

    &.radio-item--selected-hover {
        input[type="checkbox"] {
            border: 2px solid  $efe-red-primary;
            background-color: $efe-red-primary;
            outline: 2px solid $efe-red-20-perecent;
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url("../resources/images/icons/checkmarks/checkmark-white.svg") no-repeat center center / contain;
            }
        }
    }

    &.radio-item--disabled {
        input[type="checkbox"] {
            border: 2px solid $efe-gray-blue;
            background-color: $efe-gray-light;
        }
    }

    &.radio-item--selected-disabled {
        input[type="checkbox"] {
            border: 2px solid $efe-gray-blue;
            background-color: $efe-gray-blue;
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url("../resources/images/icons/checkmarks/checkmark-white.svg") no-repeat center center / contain;
            }
        }
    }


}