.cmp-form-text--efe-default {
    label {
        margin-bottom: 4px;
        font-size: rem(16);
        letter-spacing: 0;
        font-weight: 300;
        color: $efe-gray-primary;
        font-style: normal;
        line-height: 120%;
        font-family: "nimbus-sans";
    }
    .cmp-form-text {
        margin-bottom: rem(12);
    }
    input.cmp-form-text__text {
        max-width: rem(372);
        width: 100%;
        border-radius: 4px;
        padding: 0 rem(20);
        min-height: rem(50);
        border: 1.5px solid $efe-gray-primary;
        @include flexbox($align-items: center, $justify-content: center);
        @include secondary-nav-link;
        transition: $std-transition;

        &::-webkit-input-placeholder {
            color: $efe-gray-blue;
        }

        &:hover {
            border-color: $efe-gray-blue;
            transition: $std-transition;
        }

        &:focus,
        &:focus-visible {
            border-color: $efe-gray-primary;
            transition: $std-transition;
            color: $efe-gray-primary;
            outline: unset;
            border-width: 1.5px;
            border-style: solid;
        }


    }

    &::-webkit-input-placeholder {
        color: $efe-gray-blue;
    }

    &:focus,
    &:focus-visible {
        border-color: $efe-gray-primary;
        transition: $std-transition;
        color: $efe-gray-primary;
        outline: unset;
        border-width: 1.5px;
        border-style: solid;
    }

    &:hover {
        border-color: $efe-gray-blue;
        transition: $std-transition;
    }

    input[type='email'] {
        text-transform: initial;
    }

    @media screen and (min-width: $sm) {
        width: 100%;
    }

    &.cmp-form-text--error {
        input.cmp-form-text__text, textarea {
            border-color: $efe-red-primary;
            background-color: $efe-red-15-percent;
            transition: $std-transition;
        }
        .cmp-form-text__error {
            @include buildFont(rem(16), null, "nimbus-sans", 400, capitalize, rem(19), $efe-red-primary);
        }
    }

    &.cmp-form-text--disabled {
        input.cmp-form-text__text {
            border-color: $efe-gray-blue;
            color: $efe-gray-blue;
            background-color: $efe-gray-mid;
            transition: $std-transition;
        }
    }
}
.efe-form {
    form {
        max-width: 375px;
        margin: 0 auto;
    }
    .cmp-form-error {
       &__item {
        @include buildFont(rem(16), null, "nimbus-sans", 400, capitalize, rem(19), $efe-red-primary);
       }
    } 
}
