section.empower-wpi-theme {
    padding: 25px 5px 20px 0;
    background-color: #002157;
    position: relative;

    .flex {
        margin: 0;
        @include flexbox(
            $flex-direction: row,
            $gap: 11px
        );

        .button-block{
            display: none;
        }

        .copy {
            margin-top: 5px;
            h2 {
                font-size: rem(12);
                line-height: 130%;
                font-family: Open Sans;
                color: #002157;
                font-weight: 700;
                margin-bottom: 6px;                
            }
            h3 {
                font-size: rem(13);
                line-height: 120%;
                font-family: Open Sans;
                color: #002157;     
                font-weight: 400;
                margin-block-start: 0;
                margin-block-end: 0;
                b, strong {
                    font-weight: bold;
                }

            }
            p {
                margin: 7px 0 11px;
                font-family: OpenSans;                
                font-size: rem(10);
                line-height: 110%;
                color: #002157;                
            }
        }
    }

    .wpi-img {
        width: rem(54);
        height: rem(54);
        flex: 0 0 auto;
    }    

    .cmp-button--button-wpi {
        transition: $std-transition;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;

        .cmp-button {
            background-color: $empower-wpi-blue;
            border-radius: 30px;
            color:#FFFFFF;
            border: none;
            transition: $std-transition;
            width: fit-content;
            text-align: center;
            text-decoration: none;
            margin: 0;
            padding: 0;
            height: rem(31);
            min-width: 115px;
            text-decoration: none;
            

            @include flexbox(
                $align-items: center,
                $justify-content: center
            );
        
            &:hover, &:active {
                transition: $std-transition;
                border: none;
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        
            .cmp-button__text {
                font-family: Arial, Helvetica, sans-serif;
                line-height: 100%;
                font-weight: 700;
                font-size: rem(12);
                text-decoration: none;
            }          
        }       
    }

    .mobile-button {
        display: none !important;
    }

    //Updated Style
    &.empower-wpi-theme--update {
        background-color: #F5F6F6;
        padding: 16px 24px;
        box-shadow: 0px 0px 4px 1px #0405050F;
        box-shadow: 0px 1px 1px 0px #0405052E;

        .flex {
            img.wpi-img {
                width: 100px;
                height: 100px;
                display: none;
            }

            .copy {
                margin: 0;
                h2 {
                    font-size: 23px;
                    line-height: 32px;
                    color: #040505;
                    font-family: 'Mark Pro', sans-serif;
                    font-weight: 700;
                    margin: 0 0 4px;
                }
                h3 {
                    font-size: 17px;
                    line-height: 24px;
                    color: #040505;
                    font-family: 'Mark Pro', sans-serif;
                }
                p {
                    font-size: 14px;
                    line-height: 100%;
                    color: #040505;
                    font-family: 'Mark Pro', sans-serif;
                    margin: 8px 0 0;
                }

                .cmp-button--button-wpi {
                    a.cmp-button {
                        height: rem(32);
                        @include flexbox(
                            $align-items: center,
                            $justify-content: center
                        );
                        width: 100%;
                        background-color: transparent;
                        border: 2px solid #040505;
                        min-width: unset;
                        padding: 0 20px;
                        margin-top: 16px;
                        span.cmp-button__text {
                            font-size: rem(14);
                            line-height: rem(20);
                            color: #040505;
                            font-family: 'Mark Pro', sans-serif;
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 576px) {
            .flex {
                @include flexbox(
                    $flex-direction: row,
                    $gap: 24px,
                    $align-items: start
                );

                img.wpi-img {
                    display: block;
                }

                .copy {
                    .cmp-button--button-wpi {
                        a.cmp-button {
                            width: fit-content;
                        }
                    }
                }
            }


        }
    }


    @media screen and (max-width: $sm) {
        .mobile-button {
            display: block !important;
        }

        .flex {
            .copy {
                h2 {
                    margin-bottom: rem(6);
                }
                h3 {
                    margin-bottom: rem(6);
                    line-height: 140%;
                }
                p {
                    display: none !important;
                }
            }
        }

    }
    @media screen and (min-width: 310px) {
        .flex {
            .copy {
                h2 {
                    font-size: rem(14);
                }
                h3 {
                    font-size: rem(14);
                    line-height: 140%;
                }
            }
        }
        .wpi-img {
            width: rem(80);
            height: rem(80);
            display:block;
            overflow:hidden;
        }    
        .cmp-button--button-wpi {
            transition: $std-transition;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
    
            .cmp-button {
                height: rem(46);
                min-width: 166px;
        
                .cmp-button__text {
                    font-size: rem(16);
                }          
            }       
        }        
    }

    @media screen and (min-width: $sm) {
        padding: 35px 30px 60px 35px; 
           
        .flex {
            -webkit-box-orient: vertical;        
            -webkit-box-direction: normal;        
            -ms-flex-direction: column;        
            flex-direction: column;

            .button-block {
                display: block;
            }

        }
    
    }

    @media screen and (min-width: 674px) {
        .copy {
            margin-right: 30px;
        }
    }
    

    @media screen and (min-width: $md) {
        .flex {
            -webkit-box-orient: horizontal;        
            -webkit-box-direction: normal;        
            -ms-flex-direction: row;        
            flex-direction: row;  
            @include flexbox(
                $align-items: center
            );   
            gap: 40px;    
            
            .copy {
                margin-top: 0;
            }
        }
        
        .flex {
            .copy {
                h2 {
                    font-size: rem(24);
                }
        
                h3 {
                    font-size: rem(16);
                    line-height: 140%;
                }     
                
                p {
                    font-size: rem(14);
                }
            }  
        }

        .wpi-img {
            width: rem(100);
            height: rem(100);
            display:block;
            overflow:hidden;
        }
     
    }

}

body.xf-web-container, body, #fe-iframe {
    margin: 0;
    overflow: visible;
}