.container {
    .cmp-container--center {
        @include media (">=tablet-lg") {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }
}
