.cmp-container--padding-right {
    padding-right: rem(88);
    @include media("<=phone-m") {
        padding-right: rem(24);
    }
}

.cmp-container--padding-left {
    padding-left: rem(88);
    @include media("<=phone-m") {
        padding-left: rem(24);
    }
}

.cmp-container--padding-top {
    padding-top: rem(56);
    @include media("<=phone-m") {
        padding-top: rem(40);
    }
}

.cmp-container--padding-bottom {
    padding-bottom: rem(56);
    @include media("<=phone-m") {
        padding-bottom: rem(40);
    }
}