
@mixin maxWidth() {
    &.cmp-container--1920 {
        max-width: $xxxl;
        margin: auto;
    }

    &.cmp-container--1400 {
        max-width: $xxl;
        margin: auto;
    }
}

@mixin padding() {
    &.cmp-container--26 {
        padding: rem(26);
    }
}


.cmp-container--bg-efe-gray-light {
    @include bg-efe-gray-light;
    @include maxWidth();
    @include padding();
}

.cmp-container--bg-efe-gray-mid {
    @include bg-efe-gray-mid;
    @include maxWidth();
    @include padding();
}

.cmp-container--unset {
    background: transparent;
    @include maxWidth();
    @include padding();
}

.cmp-container--white {
    background: white;
    @include maxWidth();
    @include padding();
}