// SOME STYLES ARE INTENTIONALLY `!important` AS THEY ARE MEANT TO OVERRIDE WHEN APPLIED
@mixin maxWidth() {
    &.cmp-container--width-1920 {
        max-width: $xxl !important;
        margin: 0 auto !important;
        float: unset !important;
    }

    &.cmp-container--width-1400 {
        max-width: $xxl !important;
        margin: 0 auto !important;
        float: unset !important;
    }
}
.cmp-container--width-1920 {
    max-width: $xxxl !important;
    margin: 0 auto !important;
    float: unset !important;
}
.cmp-container--width-1400 {
    max-width: $xxl !important;
    margin: 0 auto !important;
    float: unset !important;
}
.cmp-container--bg-efe-gray-light {
    @include bg-efe-gray-light;
    @include maxWidth();
}

.cmp-container--bg-efe-gray-mid {
    @include bg-efe-gray-mid;
    @include maxWidth();
}

.cmp-container--unset {
    background: transparent;
}
.cmp-container--padding-unset {
    @extend .cmp-container--padding;
}
.cmp-container--width-none,
.cmp-container--width-unset {
    @include maxWidth();
}
.cmp-container--white {
    background: white;
    @include maxWidth();
}
.border-radius--top-left {
    border-top-left-radius: rem(40px);
}
.border-radius--top-right {
    border-top-right-radius: rem(40px);
}
.border-radius--bottom-right {
    border-bottom-right-radius: rem(40px);
}
.border-radius--bottom-left {
    border-bottom-left-radius: rem(40px);
}

.cmp-container--border {
    border: 1px solid $gray-border;
}

.cmp-container--padding {
    padding: 56px 88px;
    @include media("<=phone-m") {
        padding: 40px 24px;
    }
}

.cmp-container--min-height {
    min-height: 620px !important;
}

.cmp-container--balancedheight {
    >.cmp-container >.aem-Grid:first-of-type {
        @include media(">=tablet-lg") {
            display: flex !important;
        }
    }
}

.cmp-container--fillHeight * {
    height: 100% !important;
}
