.cmp-button--link-primary {

    .cmp-button {
        background: transparent;
        @include primary-nav-link-red;
        transition: $std-transition;

        &:hover {
            transition: $std-transition;
            text-decoration: 1px solid $efe-red-primary underline;
            text-underline-offset: 6px;
        }
    }

    &.cmp-button--center {
            margin: auto;
            text-align: center;
    }

    &.cmp-button--right {
        @include flexbox(
            $justify-content: end
        )
    }

    &.cmp-button--hover {
        .cmp-button {
            transition: $std-transition;
            text-decoration: 1px solid $efe-red-primary underline;
            text-underline-offset: 6px;
        }

    }

    &.cmp-button--sentence-case {
        .cmp-button {
            text-transform: unset;
        }

    }

    



}