.cmp-button--button-secondary {
    transition: $std-transition;
    .cmp-button {
        @include  cta-secondary;
    }

    &.cmp-button--center {
        .cmp-button {
            margin: auto;
            text-align: center;
        }
    }


    &.cmp-button--right{
        @include flexbox(
            $justify-content: end
        )
    }

    &.cmp-button--disabled {
        .cmp-button {
            transition: $std-transition;
            background-color: $efe-gray-light;
            color: $efe-gray-blue;
            border-color: $efe-gray-blue;
            border-width: 1px;
        }
    }

    &.cmp-button--hover {
        .cmp-button {
            transition: $std-transition;
            border: 2px solid $efe-gray-primary;
            box-sizing: border-box;
            padding: rem(8) rem(27) rem(7);
    
        }
    }
}