#quizEFE {
    margin: 20px auto;
    border-top: 1px solid #ddddde;
    padding: 32px 0;
    border-bottom: 1px solid #ddddde;
    max-width: rem(704);

    #intro-pane {
        h2 {
            font-family: Source Serif Pro;
            font-weight: 400;
            font-style: italic;
            font-size: rem(38);
            leading-trim: Cap height;
            line-height: 112.00000000000001%;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            @include body-02;
            text-align: center;
            margin-bottom: 24px;
        }

    }

    #question-pane {
        overflow: hidden;
        position: relative;
        height: auto;
        max-height: 120px;
        transition: max-height .75s ease-in-out;

        &.expanded {
            max-height: 700px;
            &:before {
                display: none;
            }

        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to bottom, transparent, white);
            pointer-events: none;
            transition: opacity 0.5s ease;
        }

        
    }

    button#introCta {
        @include cta-primary;
        margin: 22px auto 24px;
    }

    .button-container {
        @include flexbox(
        $flex-direction: column,
        );

        button.cmp-form-button--answer {
            transition: $std-transition;
            max-width: rem(704);
            text-align: left;
        }
    }

    #progress {
        height:rem(24);
        position: relative;
        transition: width 1s ease-in-out;

        #progressBar {
            height: 100%;
            transition: width 1s ease-in-out;
            width: 100%;
            -webkit-appearance: progress-bar;
            -moz-appearance: progress-bar;
            box-sizing: border-box;
            display: inline-block;
            border-radius: 12px;
            height: rem(24);
            margin: 0 0 rem(30);
            background-color: $efe-gray-light;
            position: relative;
            border-radius: 12px;
        }

        #progress-label {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            color: #3780A6;
        }

        progress::-webkit-progress-value {
            height: rem(24);
            background-color: #3780A6;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        
        progress::-webkit-progress-bar {
            background-color: $efe-gray-light;
            height: rem(24);
            border-radius: 12px;
        }        
    }

    section.results {
        img {
            margin: 24px auto 0 !important;
            display: block;
        }

        span.answer-headline p{
            font-family: Source Serif Pro;
            font-weight: 400;
            font-style: italic;
            font-size: rem(38);
            leading-trim: Cap height;
            line-height: 112.00000000000001%;
            letter-spacing: 0%;
            text-align: center;
            margin: 10px auto 24px;
        }
        span.answer-body {

            p {
                @include body-02;
                margin-bottom: 24px;
            }

            a.body-03-link{
                @include body-03-link;
                margin: 12px auto;
                text-align: center;
                display: block;
            }
        }
    }

    @media screen and (min-width: $lg) {
        min-width: rem(704);
    }
}